Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update scaffolder annotator module to latest 1.45 version
  packages/backend/package.json
  yarn.lock
Due: prettier --write

fix(e2e): add rbac conditions to configmap
  scripts/rhdh-openshift-setup/resources/rbac-policies.yaml
Due: prettier --write

chore: update dynamic-plugins.default.yaml from quay.io/rhdh/plugin-catalog-index:1.10.0
  dynamic-plugins.default.yaml
Due: prettier --write

chore: update different rhdh-plugins wrappers
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-adoption-insights-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-catalog-backend-module-extensions-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-extensions-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-extensions/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-global-floating-action-button/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

feat: adding testing workflow to orchestrator tests
  .ibm/pipelines/utils.sh
  e2e-tests/playwright/e2e/plugins/orchestrator/failswitch-workflow.spec.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix: include orchestrator tests in e2e-ocp-helm-nightly jobs
  e2e-tests/playwright.config.ts
Due: none

style: fix prettier formatting in utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor: extract orchestrator functions to lib/orchestrator.sh module
  .ibm/pipelines/lib/orchestrator.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor: reduce code duplication in orchestrator module
  .ibm/pipelines/lib/orchestrator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix: enable orchestrator greeting workflow tests for nightly jobs
  e2e-tests/playwright/e2e/plugins/orchestrator/greeting-workflow.spec.ts
Due: none

fix: skip orchestrator tests for osd-gcp jobs
  e2e-tests/playwright.config.ts
Due: none

style: fix prettier formatting in orchestrator.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: none

fix(e2e): re-enable licensed-user-info tests
  e2e-tests/playwright/e2e/plugins/licensed-users-info-backend/licensed-users-info.spec.ts
Due: none

fix(e2e): bump timeout for auth hack
  e2e-tests/playwright/support/api/rhdh-auth-hack.ts
Due: none

rename translation files and add third party community plugins translations
  e2e-tests/playwright/e2e/localization/locale.ts
  translations/backstage-fr.json
  translations/backstage-it.json
  translations/backstage-ja.json
  translations/community-plugins-fr.json
  translations/community-plugins-it.json
  translations/community-plugins-ja.json
  translations/test/community-plugins-fr.json
  translations/test/rhdh-fr.json
  translations/test/rhdh-plugins-fr.json
Due: prettier --write

fix: address ShellCheck and SonarQube violations
  .ibm/pipelines/lib/orchestrator.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: move to `pull_request` for unused branch workflows
  .github/workflows/pr-docker-build.yaml
Due: prettier --write

chore: move to `pull_request` for unused branch workflows (#4098)
  .github/workflows/pr-build-image.yaml
Due: prettier --write

chore: move to `pull_request` for unused branch workflows
  .github/workflows/pr-build-image.yaml
Due: prettier --write

fix(e2e): remove catalog sidebar nav
  e2e-tests/playwright/support/api/rhdh-auth-hack.ts
Due: none

debug autoogout test
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
Due: none

fix: guard readonly constants to allow multiple sourcing
  .ibm/pipelines/lib/orchestrator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

debug autoogout test
  e2e-tests/playwright/utils/authentication-providers/rhdh-deployment.ts
  e2e-tests/playwright/utils/authentication-providers/yamls/backstage.yaml
Due: prettier --write

feat: update scorecard e2e tests with Jira integration
  .ibm/pipelines/auth/secrets-rhdh-secrets.yaml
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  e2e-tests/playwright/e2e/plugins/scorecard/scorecard.spec.ts
  e2e-tests/playwright/support/page-objects/scorecard/component-import-page.ts
  e2e-tests/playwright/support/page-objects/scorecard/scorecard-page.ts
  e2e-tests/playwright/utils/scorecard-response-utils.ts
  e2e-tests/playwright/utils/scorecard-utils.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix: add reconciliation wait to prevent workflow deployment timeout
  .ibm/pipelines/lib/orchestrator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update dynamic-plugins.default.yaml from quay.io/rhdh/plugin-catalog-index:1.9.0
  dynamic-plugins.default.yaml
Due: prettier --write

refactor(ci): extract helm functions to lib/helm.sh
  .ibm/pipelines/lib/README.md
  .ibm/pipelines/lib/helm.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): add explicit return statements to helm.sh functions
  .ibm/pipelines/lib/helm.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

style(ci): format helm.sh with prettier
  .ibm/pipelines/lib/helm.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update backstage dependencies to fix CVE-2026-24046
  dynamic-plugins/package.json
  dynamic-plugins/yarn.lock
  packages/backend/package.json
  plugins/dynamic-plugins-info-backend/package.json
  plugins/licensed-users-info-backend/package.json
  plugins/scalprum-backend/package.json
  yarn.lock
Due: prettier --write

chore(e2e): add e2e tests for autologout feature
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
  e2e-tests/playwright/utils/authentication-providers/rhdh-deployment.ts
  e2e-tests/playwright/utils/authentication-providers/yamls/backstage.yaml
Due: prettier --write

fix(e2e): expand test to cover the access of the user
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

fix(e2e): allow admin to also view users and groups
  e2e-tests/playwright/support/page-objects/rbac-po.ts
Due: none

fix(e2e): re-enable skipped role deletion test
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
