Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

chore: run yarn rulesync:generate
  .claude/rules/add_extension_metadata.md
  .claude/rules/ci-e2e-testing.md
  .claude/rules/github-workflows-security.md
  .claude/rules/managing-ai-rules.md
  .claude/rules/playwright-locators.md
Due: prettier --write

changing other paths too
  .ibm/pipelines/resources/config_map/dynamic-global-floating-action-button-config.yaml
  app-config.dynamic-plugins.yaml
  scripts/rhdh-openshift-setup/values.yaml
Due: prettier --write

ref: use a more precise selector
  e2e-tests/playwright/e2e/plugins/scaffolder-relation-processor/scaffolder-relation-processor.spec.ts
Due: none

fix: run prettier
  e2e-tests/playwright/e2e/plugins/scaffolder-relation-processor/scaffolder-relation-processor.spec.ts
Due: none

add gitlab authentication scenario envs
  .ibm/pipelines/env_variables.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(dynamic-plugins): upgrade @kubernetes/client-node, tar
  dynamic-plugins/yarn.lock
Due: none

chore: update dynamic-plugins.default.yaml from quay.io/rhdh/plugin-catalog-index:1.9.0
  dynamic-plugins.default.yaml
Due: prettier --write

chore(1.7-release): remove sealights from CI (#4025)
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/utils.sh
  e2e-tests/package.json
  e2e-tests/yarn.lock
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Migrate tests to use extensions catalog entities from overlay repo
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: none

chore: update rpms.lock.yaml [skip-build]
  rpms.lock.yaml
Due: prettier --write

chore: update rpms.lock.yaml [skip-build] (#4035)
  rpms.lock.yaml
Due: prettier --write

chore: tagRelease.sh: bump to 1.10.0 in main branch [skip-build] [skip-e2e]
  .ibm/package.json
  dynamic-plugins/package.json
  e2e-tests/package.json
  package.json
  packages/app/src/build-metadata.json
Due: prettier --write

Remove static Ansible Lab links from learning-paths data
  packages/app/public/learning-paths/data.json
Due: prettier --write

chore(deps): update translations and theme
  packages/app/package.json
  packages/backend/package.json
  yarn.lock
Due: prettier --write

chore: add resolution to fix PR test failure
  package.json
  yarn.lock
Due: prettier --write

feat(ci): add /test rerun-failed-tests command
  .ibm/pipelines/jobs/ocp-rerun-failed-tests.sh
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/retest-failed-utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(docs): Update versions.md in dynamic plugin documentation
  docs/dynamic-plugins/versions.md
Due: prettier --write

chore(deps): update jws to fix CVE-2025-65945
  e2e-tests/yarn.lock
  yarn.lock
Due: none

ci fix
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

added disable option
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

chore: update all janus-idp.* template references to rhdh.* in values.yaml
  scripts/rhdh-openshift-setup/values.yaml
Due: prettier --write

Add GitLab auth variables to env_variables.sh
  .ibm/pipelines/env_variables.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

added workaround
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

removed plugin change
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

fix rhdh restart timeouts
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
  e2e-tests/playwright/utils/authentication-providers/rhdh-deployment.ts
Due: none

fix rhdh restart timeouts
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
Due: none

fix restart timeout and redact some logs
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
Due: none

Extension e2e test should not check for a specific version
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: none

chore: regen DPDY from latest index container as the GH action doesn't seem to be working...
  dynamic-plugins.default.yaml
Due: prettier --write

chore: update dynamic-plugins.default.yaml from quay.io/rhdh/plugin-catalog-index:1.10.0
  dynamic-plugins.default.yaml
Due: prettier --write

chore(release-1.8): add patches to fix breaking changes caused by qs update
  .yarn/patches/@backstage-plugin-catalog-graph-npm-0.4.22-9b7885f2b0.patch
  .yarn/patches/@backstage-plugin-search-npm-1.4.29-73fcb2942c.patch
  package.json
  yarn.lock
Due: prettier --write

chore(release-1.9): add patches to fix breaking changes caused by qs update
  .yarn/patches/@backstage-plugin-catalog-graph-npm-0.5.3-761764c7c3.patch
  .yarn/patches/@backstage-plugin-search-npm-1.5.0-111cd7d8ed.patch
  package.json
  yarn.lock
Due: prettier --write

events-e2e-tests: get tests to work locally
  e2e-tests/playwright/e2e/github-events-module.spec.ts
  e2e-tests/playwright/support/api/github-events.ts
  e2e-tests/playwright/utils/api-helper.ts
Due: none

fix tsc errors
  e2e-tests/playwright/support/api/github-events.ts
Due: none
