Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

fix(ci): add debug logging to rbac deployment and database creation
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

style(ci): remove debug logging from rbac deployment
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

feat(e2e): add semantic selectors and refactor page objects
  e2e-tests/playwright/support/page-objects/global-obj.ts
  e2e-tests/playwright/support/page-objects/page-obj.ts
  e2e-tests/playwright/support/selectors/semantic-selectors.ts
Due: none

feat(e2e): replace nth-child selectors and force clicks in catalog and github tests
  e2e-tests/playwright/e2e/catalog-timestamp.spec.ts
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
Due: none

feat(e2e): remove waitForTimeout and force clicks from rbac, oidc, kubernetes tests
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
  e2e-tests/playwright/e2e/plugins/kubernetes-actions/kubernetes-actions.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

fix(e2e): apply qoDo bot review suggestions
  e2e-tests/playwright/support/page-objects/page-obj.ts
  e2e-tests/playwright/support/selectors/semantic-selectors.ts
Due: none

fix(e2e): resolve ESLint errors in catalog-timestamp and oidc tests
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
  e2e-tests/playwright/e2e/catalog-timestamp.spec.ts
Due: none

fix(e2e): update global header tests to use first navigation element
  e2e-tests/playwright/e2e/default-global-header.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/workflow-all-runs-validations.spec.ts
Due: none

fix(e2e): enable previously skipped tests in various spec files
  e2e-tests/playwright/e2e/custom-theme.spec.ts
  e2e-tests/playwright/e2e/default-global-header.spec.ts
  e2e-tests/playwright/e2e/dynamic-home-page-customization.spec.ts
  e2e-tests/playwright/e2e/extensions.spec.ts
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-crunchy.spec.ts
  e2e-tests/playwright/e2e/home-page-customization.spec.ts
  e2e-tests/playwright/e2e/learning-path-page.spec.ts
  e2e-tests/playwright/e2e/plugins/analytics/analytics-disabled-rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/application-provider.spec.ts
  e2e-tests/playwright/e2e/plugins/global-floating-button.spec.ts
  e2e-tests/playwright/e2e/plugins/keycloak/catalog-users.spec.ts
  e2e-tests/playwright/e2e/plugins/kubernetes-actions/kubernetes-actions.spec.ts
  e2e-tests/playwright/e2e/plugins/kubernetes/kubernetes-rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/workflow-all-runs-validations.spec.ts
  e2e-tests/playwright/e2e/plugins/quay/quay.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/tekton/tekton.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology-rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology.spec.ts
  e2e-tests/playwright/e2e/plugins/user-settings-info-card.spec.ts
  e2e-tests/playwright/e2e/settings.spec.ts
  e2e-tests/playwright/e2e/smoke-test.spec.ts
Due: none

fix(e2e): remove unused imports in kubernetes-actions and rbac tests
  e2e-tests/playwright/e2e/plugins/kubernetes-actions/kubernetes-actions.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

fix(e2e): enhance test accuracy by refining element selection
  e2e-tests/playwright/e2e/default-global-header.spec.ts
  e2e-tests/playwright/e2e/plugins/application-provider.spec.ts
  e2e-tests/playwright/e2e/plugins/keycloak/catalog-users.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology.spec.ts
  e2e-tests/playwright/support/page-objects/catalog/catalog-users-obj.ts
Due: none

style(e2e): apply prettier formatting to refactored files
  e2e-tests/playwright/e2e/catalog-timestamp.spec.ts
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/support/page-objects/global-obj.ts
  e2e-tests/playwright/support/page-objects/page-obj.ts
  e2e-tests/playwright/support/selectors/semantic-selectors.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

fix(e2e): remove networkidle from WaitStrategies per ESLint rule
  e2e-tests/playwright/support/selectors/semantic-selectors.ts
Due: none

fix(e2e): refine visibility checks in various tests
  e2e-tests/playwright/e2e/default-global-header.spec.ts
  e2e-tests/playwright/e2e/extensions.spec.ts
  e2e-tests/playwright/e2e/learning-path-page.spec.ts
  e2e-tests/playwright/e2e/plugins/application-provider.spec.ts
  e2e-tests/playwright/e2e/plugins/user-settings-info-card.spec.ts
Due: none

fix(e2e): improve RBAC test accuracy by refining element selection
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

fix(e2e): enhance RBAC role creation flow by adding success message verification
  e2e-tests/playwright/support/page-objects/rbac-po.ts
Due: none

fix(e2e): improve popup handling during login in common utility
  e2e-tests/playwright/utils/common.ts
Due: none

fix(e2e): enhance test accuracy by refining element selection in application provider and RBAC tests
  e2e-tests/playwright/e2e/plugins/application-provider.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/support/page-objects/catalog/catalog-users-obj.ts
  e2e-tests/playwright/support/page-objects/rbac-po.ts
  e2e-tests/playwright/utils/common.ts
Due: none

fix(e2e): enhance OIDC provider test by scoping sign-in method selection
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
Due: none

fix(ci): remove readOnlyRootFilesystem from database creation pod
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): increase dynamic-plugins-root volume to 5Gi
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-rbac.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start.yaml
Due: prettier --write

fix(e2e): increase Keycloak login timeout to 30 seconds
  e2e-tests/playwright/utils/common.ts
Due: none

chore: re-re-enable scorecard e2e tests
  e2e-tests/playwright/e2e/plugins/scorecard/scorecard.spec.ts
  e2e-tests/playwright/support/page-objects/scorecard/component-import-page.ts
Due: none

chore: re-enable tests in topology-rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology-rbac.spec.ts
Due: none

chore: re-enable tests in tekton.spec.ts
  e2e-tests/playwright/e2e/plugins/tekton/tekton.spec.ts
Due: none

chore: re-enable tests in kubernetes-rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/kubernetes/kubernetes-rbac.spec.ts
Due: none

add secrets
  .ibm/pipelines/auth/secrets-rhdh-secrets.yaml
Due: prettier --write

test(ci): temporarily disable tech-radar plugin disabling
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): restore tech-radar plugin disabling for RBAC namespace
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): add techRadar.url config to RBAC app-config
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

style: fix ShellCheck SC2155 warnings in utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): add wait and timeout to orchestrator greeting workflow helm install
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

style: fix prettier formatting in utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): add missing selectGreetingWorkflowItem method to Orchestrator class
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: none

fix(ci): add SSL support for external PostgreSQL in sonataflow database creation
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): update workflows table selector to match actual UI
  e2e-tests/playwright/support/pages/workflows.ts
Due: none

style: fix prettier formatting in workflows.ts
  e2e-tests/playwright/support/pages/workflows.ts
Due: none

fix(ci): improve sonataflow database creation reliability
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always
