Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor(e2e): standardize notification API import and update navigation method calls
  e2e-tests/playwright/e2e/plugins/notifications/filter-notifications-by-severity.spec.ts
  e2e-tests/playwright/e2e/plugins/notifications/mark-notifications.spec.ts
  e2e-tests/playwright/support/pages/notifications.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: none

refactor(e2e): remove visibility check for "Category" column in Orchestrator class
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: none

feat: add cursor rule for RHDH plugin metadata workflow
  .cursor/rules/add_extension_metadata.mdc
  catalog-entities/marketplace/README.md
Due: prettier --write

Update .cursor/rules/add_extension_metadata.mdc
  .cursor/rules/add_extension_metadata.mdc
Due: none

feat: add todo plugin to RHDH marketplace
  catalog-entities/marketplace/packages/all.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-todo-backend.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-todo.yaml
  catalog-entities/marketplace/plugins/all.yaml
  catalog-entities/marketplace/plugins/todo.yaml
Due: prettier --write

chore(deps): updated bcp plugin version in catalog entities
  catalog-entities/marketplace/packages/backstage-community-plugin-3scale-backend.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-acr.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-analytics-provider-segment.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-github-actions.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-github-issues.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-nexus-repository-manager.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-ocm-backend.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-ocm.yaml
Due: prettier --write

rebased main branch
  yarn.lock
Due: none

temp add a sleep command to the main script for debugging
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

feat: Troubleshooting test failures in CI
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(pipelines): formatting fix
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Update plugin tags to use bs_1.42.5__<version>
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-software-catalog-mcp-tool.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-techdocs-mcp-tool.yaml
  catalog-entities/marketplace/plugins/mcp-tools.yaml
Due: prettier --write

fix(pipelines): update sleep duration
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(tests): disabled 'Delete a Bulk Import Repository and Verify It's No Longer Visible in the UI' test
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

fix: support custom hosts for scm auth
  packages/app/src/apis.ts
Due: none

Fix test case for bulk import repository verification
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

Update rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

Fix RBAC
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/support/page-objects/page-obj.ts
Due: none

Debug
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

chore(e2e): unskip RBAC as admin on K8s
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

Fix download users
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/support/pages/topology.ts
  e2e-tests/playwright/utils/helper.ts
Due: none

Update rbac-policy.csv
  .ibm/pipelines/resources/config_map/rbac-policy.csv
Due: none

Revert "Update rbac-policy.csv"
  .ibm/pipelines/resources/config_map/rbac-policy.csv
Due: none

Add owner
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/support/page-objects/rbac-po.ts
Due: none

feat(bulk-import): update bulk-import plugin to the latest version
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

adding alpha file
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import/src/alpha.ts
Due: none

adding translatio resource from alpha
  dynamic-plugins.default.yaml
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import/package.json
Due: prettier --write

feat(bulk-import): move dependency
  packages/plugin-utils/package.json
Due: prettier --write

feat(bulk-import): attempt to fix github check
  packages/plugin-utils/package.json
  yarn.lock
Due: prettier --write

feat(bulk-import): add alfa.ts file
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import/src/alfa.ts
Due: none

feat(bulk-import): remove file with wrong name
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import/src/alfa.ts
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import/src/alpha.ts
Due: none

feat(bulk-import): use newer patch version
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

chore(deps): update bulk-import plugin again
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-bulk-import-backend.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-bulk-import.yaml
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
