Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update release-1.9 to ubi9/nodejs-22:9.7-1772440444 from ubi9/nodejs-22:9.7-1771865410 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update release-1.9 to ubi9/nodejs-22:9.7-1772440444 from ubi9/nodejs-22:9.7-1771865410 [skip-build] [skip-e2e] (#4352)
  .rhdh/docker/Dockerfile
  docker/Dockerfile
Due: none

chore: update rpms.lock.yaml [skip-build]
  rpms.lock.yaml
Due: prettier --write

chore(auth): Update GitHub and GitLab auth to use secure sign-in resolvers
  .ibm/pipelines/value_files/values_showcase-auth-providers.yaml
  e2e-tests/playwright/e2e/auth-providers/github.spec.ts
  e2e-tests/playwright/e2e/auth-providers/gitlab.spec.ts
  e2e-tests/playwright/utils/authentication-providers/rhdh-deployment.ts
  e2e-tests/playwright/utils/authentication-providers/yamls/dynamic-plugins-config.yaml
  packages/backend/src/modules/authProvidersModule.ts
Due: prettier --write

Format de/es translation files
  packages/app/src/translations/core-components/de.ts
  packages/app/src/translations/core-components/es.ts
  packages/app/src/translations/rhdh/de.ts
  packages/app/src/translations/rhdh/es.ts
  packages/app/src/translations/user-settings/user-settings-de.ts
  packages/app/src/translations/user-settings/user-settings-es.ts
Due: none

Add de/es translations and sync JSON locales
  packages/app/src/components/catalog/translations/catalog.ts
  packages/app/src/components/catalog/translations/de.ts
  packages/app/src/components/catalog/translations/es.ts
  packages/app/src/translations/catalog-import/catalog-import.ts
  packages/app/src/translations/catalog-import/de.ts
  packages/app/src/translations/catalog-import/es.ts
  packages/app/src/translations/core-components/core-components.ts
  packages/app/src/translations/core-components/de.ts
  packages/app/src/translations/core-components/es.ts
  packages/app/src/translations/rhdh/de.ts
  packages/app/src/translations/rhdh/es.ts
  packages/app/src/translations/scaffolder/de.ts
  packages/app/src/translations/scaffolder/es.ts
  packages/app/src/translations/scaffolder/scaffolder.ts
  packages/app/src/translations/search/search-es.ts
  packages/app/src/translations/user-settings/user-settings-de.ts
  packages/app/src/translations/user-settings/user-settings-es.ts
  translations/backstage-de.json
  translations/backstage-es.json
  translations/community-plugins-de.json
  translations/community-plugins-es.json
  translations/rhdh-de.json
  translations/rhdh-es.json
Due: prettier --write

chore(ci): add script for triggering nightly jobs
  .ibm/pipelines/trigger-nightly-job.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Use locale keys in de/es JSONs
  translations/backstage-de.json
  translations/backstage-es.json
  translations/community-plugins-de.json
  translations/community-plugins-es.json
  translations/rhdh-de.json
  translations/rhdh-es.json
Due: prettier --write

restructure
  .ibm/pipelines/trigger-nightly-job.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Update trigger-nightly-job.sh
  .ibm/pipelines/trigger-nightly-job.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Add AI commands
  .claude/commands/trigger-nightly-job.md
  .claude/settings.json
  .cursor/commands/trigger-nightly-job.md
  .rulesync/commands/trigger-nightly-job.md
Due: prettier --write

[release-1.9] chore: update test-plugins and switch to the oci images (#4297)
  .ibm/pipelines/value_files/values_showcase.yaml
  dynamic-plugins/_utils/src/wrappers.test.ts
Due: prettier --write

chore: update rpms.lock.yaml [skip-build] (#4353)
  rpms.lock.yaml
Due: prettier --write

chore: patch c641c14 from backstage
  .yarn/patches/@backstage-backend-defaults-npm-0.12.0-ef8b4e5984.patch
  .yarn/patches/@backstage-plugin-scaffolder-backend-npm-2.2.0-487419bad1.patch
  .yarn/patches/@backstage-plugin-scaffolder-node-npm-0.11.0-2e81f51535.patch
  package.json
  packages/backend/package.json
  yarn.lock
Due: prettier --write

chore(e2e): remove keycloak catalog plugin tests
  e2e-tests/package.json
  e2e-tests/playwright/e2e/plugins/keycloak/catalog-users.spec.ts
  e2e-tests/playwright/support/page-objects/catalog/catalog-users-obj.ts
  e2e-tests/playwright/utils/keycloak/group.ts
  e2e-tests/playwright/utils/keycloak/keycloak.ts
  e2e-tests/playwright/utils/keycloak/user.ts
  e2e-tests/yarn.lock
Due: prettier --write

fix: update raw.githubusercontent URL from .ibm to .ci
  .ci/pipelines/utils.sh
Due: none

fix: prettier formatting in CI pipeline docs
  .ci/pipelines/README.md
Due: prettier --write

fix-adoption-insights (#4178)
  e2e-tests/playwright/e2e/plugins/adoption-insights/adoption-insights.spec.ts
Due: none

feat(app-next): migrate SignInPage component
  packages/app-next/.eslintignore
  packages/app-next/.eslintrc copy.js
  packages/app-next/.eslintrc.js
  packages/app-next/.prettierignore
  packages/app-next/.prettierrc.js
  packages/app-next/README.md
  packages/app-next/config.d.ts
  packages/app-next/package.json
  packages/app-next/public/index.html
  packages/app-next/public/site.webmanifest
  packages/app-next/src/App.tsx
  packages/app-next/src/api/AuthApiRefs.ts
  packages/app-next/src/api/authApis.ts
  packages/app-next/src/components/SignInPage/SignInPage.tsx
  packages/app-next/src/index.tsx
  packages/app-next/src/translations/signIn.ts
  packages/app-next/tsconfig.json
  yarn.lock
Due: prettier --write

fixed fast-xml-parser cve: 4.5.4, 5.3.6>
  yarn.lock
Due: none

remove get-test-values.sh
  e2e-tests/get-test-values.sh
  e2e-tests/playwright/e2e/plugin-division-mode-schema/README.md
Due: prettier --write

Align translations and local catalog data
  packages/app/src/translations/catalog-import/catalog-import.ts
  packages/app/src/translations/catalog-import/de.ts
  packages/app/src/translations/catalog-import/es.ts
  packages/app/src/translations/catalog/catalog-en.ts
  packages/app/src/translations/catalog/catalog.ts
  packages/app/src/translations/catalog/de.ts
  packages/app/src/translations/catalog/es.ts
  packages/app/src/translations/catalog/fr.ts
  packages/app/src/translations/catalog/it.ts
  packages/app/src/translations/catalog/ja.ts
  packages/app/src/translations/core-components/core-components.ts
  packages/app/src/translations/core-components/de.ts
  packages/app/src/translations/core-components/es.ts
  packages/app/src/translations/rhdh/de.ts
  packages/app/src/translations/rhdh/es.ts
  packages/app/src/translations/rhdh/index.ts
  packages/app/src/translations/scaffolder/de.ts
  packages/app/src/translations/scaffolder/es.ts
  packages/app/src/translations/scaffolder/scaffolder.ts
  packages/app/src/translations/search/search-de.ts
  packages/app/src/translations/search/search-es.ts
  packages/app/src/translations/search/search.ts
  packages/app/src/translations/user-settings/user-settings-de.ts
  packages/app/src/translations/user-settings/user-settings-es.ts
  packages/app/src/translations/user-settings/user-settings.ts
  packages/app/src/utils/translations/staticTranslationConfigs.ts
  translations/community-plugins-de.json
  translations/community-plugins-es.json
  translations/rhdh-de.json
  translations/rhdh-es.json
Due: prettier --write

fix: regenerate rulesync files after .ibm to .ci rename
  .cursor/rules/add_extension_metadata.mdc
Due: none

fix: add generated .claude/rules files from rulesync
  .claude/rules/add_extension_metadata.md
  .claude/rules/ci-e2e-testing.md
  .claude/rules/managing-ai-rules.md
  .claude/rules/playwright-locators.md
Due: prettier --write

fixed fast-xml-parser cve: 4.5.4, 5.3.6
  dynamic-plugins/yarn.lock
Due: none

chore: patch rollup to 4.59.0
  dynamic-plugins/yarn.lock
  yarn.lock
Due: none

chore: tagRelease.sh: bump to 1.9.1 in release-1.9 branch [skip-build] [skip-e2e]
  .ibm/package.json
  dynamic-plugins/package.json
  e2e-tests/package.json
  package.json
  packages/app/src/build-metadata.json
Due: prettier --write

patch minimatch
  dynamic-plugins/yarn.lock
  yarn.lock
Due: none

docs: add architecture documentation for dynamic plugin loading and catalog index
  docs/architecture/catalog-index-build.md
  docs/architecture/dynamic-plugin-loading.md
Due: prettier --write

fix(ci): eliminate remaining fragile $? checks and pass domain_name explicitly
  .ci/pipelines/cluster/eks/aws.sh
  .ci/pipelines/jobs/eks-helm.sh
  .ci/pipelines/jobs/eks-operator.sh
Due: none

fix(ci): make PostgresCluster CRD check non-blocking for EKS operator deployment
  .ci/pipelines/install-methods/operator.sh
Due: none

refactor(ci): extract _aws::require_param helper for parameter validation
  .ci/pipelines/cluster/eks/aws.sh
Due: none

fix(ci): use idiomatic return code checks in aws.sh
  .ci/pipelines/cluster/eks/aws.sh
Due: none

refactor(ci): modularize aws.sh with namespace prefixes and deduplication
  .ci/pipelines/cluster/eks/aws.sh
  .ci/pipelines/jobs/eks-helm.sh
  .ci/pipelines/jobs/eks-operator.sh
Due: none

fix(ci): restore PostgresCluster CRD check as blocking for EKS operator
  .ci/pipelines/install-methods/operator.sh
Due: none

Add helm and operator separated tests
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/plugin-division-mode-schema/README.md
  e2e-tests/playwright/e2e/plugin-division-mode-schema/verify-schema-mode-helm.spec.ts
  e2e-tests/playwright/e2e/plugin-division-mode-schema/verify-schema-mode-operator.spec.ts
  e2e-tests/playwright/utils/kube-client.ts
Due: prettier --write

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
