Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: switch to new package names for orchestrator (RHIDP-9747, RHDHBUGS-2504)
  default.packages.yaml
Due: prettier --write

chore: update rpms.lock.yaml [skip-build] (#3983)
  rpms.lock.yaml
Due: prettier --write

chore: update dynamic-plugins.default.yaml from quay.io/rhdh/plugin-catalog-index:1.9.0
  dynamic-plugins.default.yaml
Due: prettier --write

feat(quickstart): use dynamic RHDH version in documentation URLs
  docker/Dockerfile
  dynamic-plugins.default.yaml
  e2e-tests/playwright/e2e/plugins/quick-start.spec.ts
Due: prettier --write

chore: update rpms.lock.yaml [skip-build]
  rpms.lock.yaml
Due: prettier --write

fix(e2e): remove home-page plugin as it is enabled in defaults
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

fix(e2e): disable sonarqube scaffolder module
  .ibm/pipelines/value_files/diff-values_showcase-sanity-plugins.yaml
Due: prettier --write

fix(e2e): remove parfuemerie plugin and fix roadiehq plugin
  .ibm/pipelines/value_files/diff-values_showcase-sanity-plugins.yaml
Due: prettier --write

fix(e2e): fix typo with gitlab backend plugin
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

fix(e2e): update quay plugin to OCI artifact
  .ibm/pipelines/value_files/diff-values_showcase-sanity-plugins.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

fix(e2e): disable service scaffolder plugin
  .ibm/pipelines/value_files/diff-values_showcase-sanity-plugins.yaml
Due: prettier --write

fix(e2e): add config for github org catalog provider
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

fix(e2e): update missed github actions plugin
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

fix(e2e): re-enable sonarqube scaffolder plugin
  .ibm/pipelines/value_files/diff-values_showcase-sanity-plugins.yaml
Due: prettier --write

fix(e2e): update plugin references in test value files
  .ibm/pipelines/value_files/diff-values_showcase-sanity-plugins.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

fix: try to resolve crashes in e2e issues
  packages/app/src/components/Root/Root.tsx
Due: none

fix: switch quay from wrapper to oci container image to align it with dynamic-plugins.default.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

fix(e2e): run prettier
  packages/app/src/components/Root/Root.tsx
Due: none

fix(e2e): add config value for quay and backend quay plugin
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

fix(e2e): remove example plugins for http-middleware
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

fix(e2e): run the prettier
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

fix(e2e): add config value for quay for showcase tests
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

fix(e2e): remove middleware tests
  e2e-tests/playwright/e2e/plugins/middleware.spec.ts
Due: none

fix(e2e): update quay expires regex
  e2e-tests/playwright/utils/quay/quay.ts
Due: none

chore(1.8-release): remove sealights from CI
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/utils.sh
  docs/e2e-tests/CI.md
  e2e-tests/package.json
  e2e-tests/yarn.lock
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(1.7-release): remove sealights from CI
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/utils.sh
  e2e-tests/package.json
  e2e-tests/yarn.lock
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(CI): update diff values to avoid duplicate plugin definitions
  .ibm/pipelines/value_files/diff-values_showcase-rbac_OSD-GCP.yaml
  .ibm/pipelines/value_files/diff-values_showcase_GKE.yaml
  .ibm/pipelines/value_files/diff-values_showcase_OSD-GCP.yaml
Due: prettier --write

fix: use verifyPartialTextInSelector
  e2e-tests/playwright/e2e/plugins/scaffolder-relation-processor/scaffolder-relation-processor.spec.ts
Due: none

fix(bulk-import): resolve 404 error on /bulk-import route
  dynamic-plugins.default.yaml
Due: prettier --write

add gitlab authentication scenario
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/auth-providers/gitlab.spec.ts
  e2e-tests/playwright/utils/authentication-providers/rhdh-deployment.ts
  e2e-tests/playwright/utils/common.ts
Due: none

add gitlab authentication scenario
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/auth-providers/gitlab.spec.ts
  e2e-tests/playwright/utils/common.ts
Due: none

add gitlab authentication scenario
  e2e-tests/playwright/utils/authentication-providers/gitlab-helper.ts
Due: none

add gitlab authentication scenario
  e2e-tests/playwright.config.ts
Due: none

add gitlab authentication scenario
  e2e-tests/playwright/utils/common.ts
Due: none

feat(bulk-import): update bulk-import plugin
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

feat(bulk-import): update frontend dep
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

feat(bulk-import): fix global floating button for bulk-import
  e2e-tests/playwright/e2e/plugins/global-floating-button.spec.ts
Due: none

chore(deps): update jws to fix CVE-2025-65945
  e2e-tests/yarn.lock
  yarn.lock
Due: none

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
