Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): remove DIR auto-calculation to fix sourcing issue
  .ibm/pipelines/clear-database.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): iterate over all 3 RDS hosts for database cleanup
  .ibm/pipelines/clear-database.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): replace log::* functions with echo for release-1.7 compatibility
  .ibm/pipelines/clear-database.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): enhance database cleanup to prevent migration conflicts (#3826)
  .ibm/pipelines/clear-database.sh
  .ibm/pipelines/jobs/ocp-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

feat: add support for multiple auth providers in signInPage
  docs/auth.md
  packages/app/config.d.ts
  packages/app/src/components/SignInPage/SignInPage.tsx
Due: prettier --write

chore: update prettier to v3.7.4
  .ibm/package.json
  .ibm/yarn.lock
  e2e-tests/package.json
  e2e-tests/playwright/e2e/auth-providers/microsoft.spec.ts
  e2e-tests/playwright/e2e/github-discovery.spec.ts
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology.spec.ts
  e2e-tests/yarn.lock
  packages/app/package.json
  packages/backend/package.json
  packages/plugin-utils/package.json
  plugins/dynamic-plugins-info-backend/package.json
  plugins/licensed-users-info-backend/package.json
  plugins/scalprum-backend/package.json
  yarn.lock
Due: prettier --write

chore: run yarn prettier:fix in app
  packages/app/src/types/types.ts
Due: none

chore(deps): allow base64 icons in quickaccess cards
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-dynamic-home-page/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

chore: fix pr build and test workflow for 1.8
  .github/workflows/pr-1.8.yaml
Due: prettier --write

Update Configuring the Catalog Index Image
  docs/dynamic-plugins/installing-plugins.md
Due: prettier --write

chore(ci): fix error handling
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

add timeout for log collection
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Fix cleanup to run only once at the exit
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Add AI rule for `set`
  .claude/memories/ci-e2e-testing.md
  .cursor/rules/ci-e2e-testing.mdc
  .rulesync/rules/ci-e2e-testing.md
Due: prettier --write

chore: remove deprecated manifests directory
  manifests/base/certificate.yaml
  manifests/base/deployment.yaml
  manifests/base/externalsecret.yaml
  manifests/base/ingress.yaml
  manifests/base/issuer.yaml
  manifests/base/keycloak/certificate.yaml
  manifests/base/keycloak/deploymentconfig.yaml
  manifests/base/keycloak/ingress.yaml
  manifests/base/keycloak/kustomization.yaml
  manifests/base/keycloak/service.yaml
  manifests/base/kustomization.yaml
  manifests/base/obc.yaml
  manifests/base/postgres.yaml
  manifests/base/service.yaml
  manifests/components/postgres-db/kustomization.yaml
  manifests/components/postgres-db/operator-group.yaml
  manifests/components/postgres-db/sub.yaml
  manifests/overlays/dev/kustomization.yaml
  manifests/overlays/prod/kustomization.yaml
Due: prettier --write

Migrate tests to use extensions catalog entities from overlay repo
  .rhdh/docker/Dockerfile
  docker/Dockerfile
Due: none

chore(ci): update to Crunchy PostgreSQL 17
  .ibm/pipelines/resources/postgres-db/postgres.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

remove 1.5 and 1.6 EOL branches
  .github/workflows/pr-1.8.yaml
Due: prettier --write

Update .github/workflows/pr-1.8.yaml
  .github/workflows/pr-1.8.yaml
Due: prettier --write

Delete .last-run.json
  test-results/.last-run.json
Due: prettier --write

feat: support autologout config
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
  packages/app/src/components/AppBase/AppBase.tsx
Due: none

chore: revert ROS / redhat-resource-optimization plugins to the Dev Preview level as they're not being built (yet) in a Tech Preview way (RHDHBUGS-2233)
  catalog-entities/marketplace/packages/redhat-resource-optimization-backend.yaml
  catalog-entities/marketplace/packages/redhat-resource-optimization.yaml
  catalog-entities/marketplace/plugins/redhat-resource-optimization.yaml
Due: prettier --write

Update backstage update script
  scripts/update-backstage.mjs
Due: none

fix tsc errors
  packages/backend/src/modules/resolverUtils.ts
  packages/backend/src/modules/rhdhSignInResolvers.ts
Due: none

remove instanceMetadataServiceFactory
  packages/backend/src/defaultServiceFactories.test.ts
  packages/backend/src/defaultServiceFactories.ts
Due: none

add service factory
  packages/backend/src/defaultServiceFactories.ts
Due: none

fix script to remove sonarqube warnings
  scripts/update-backstage.mjs
Due: none

update plugin-catalog-react version to resolve import error
  package.json
  yarn.lock
Due: prettier --write

update zod
  packages/backend/package.json
  packages/backend/src/modules/resolverUtils.ts
  packages/backend/src/modules/rhdhSignInResolvers.ts
  yarn.lock
Due: prettier --write

ran prettier
  packages/backend/src/modules/resolverUtils.ts
  packages/backend/src/modules/rhdhSignInResolvers.ts
Due: none

run prettier
  packages/backend/src/defaultServiceFactories.test.ts
Due: none

zod update reflected
  packages/backend/src/modules/resolverUtils.ts
  packages/backend/src/modules/rhdhSignInResolvers.ts
Due: none

Update docs/auth.md
  docs/auth.md
Due: prettier --write

chore: re-enable tests in auditor-catalog.spec.ts
  e2e-tests/playwright/e2e/audit-log/auditor-catalog.spec.ts
Due: none

chore: re-enable tests in github.spec.ts
  e2e-tests/playwright/e2e/auth-providers/github.spec.ts
Due: none

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
