Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

Inherit orchestrator versions
  .ibm/pipelines/value_files/diff-values_showcase-rbac_OSD-GCP.yaml
  .ibm/pipelines/value_files/diff-values_showcase_AKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_EKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_GKE.yaml
  .ibm/pipelines/value_files/diff-values_showcase_OSD-GCP.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

Skip Orchestrator tests on EKS and AKS
  e2e-tests/playwright/e2e/plugins/orchestrator/failswitch-workflow.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/greeting-workflow.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/workflow-all-runs-validations.spec.ts
Due: none

chore: release-1.8: update lodash and lodash-es to fix CVE-2025-13465
  dynamic-plugins/yarn.lock
  packages/app/package.json
  yarn.lock
Due: prettier --write

patch @backstage/plugin-techdocs-node
  dynamic-plugins/yarn.lock
Due: none

chore(ci): update Operator CRD config and fix Oparator jobs
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-rbac.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-rbac_K8s.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-runtime.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start_K8s.yaml
  .ibm/pipelines/value_files/diff-values_showcase_AKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_EKS.yaml
  e2e-tests/playwright/e2e/plugins/orchestrator/greeting-workflow.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/workflow-all-runs-validations.spec.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(rbac-e2e): wait for next button to appear
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

chore(docs): Update versions.md in dynamic plugin documentation
  docs/dynamic-plugins/versions.md
Due: prettier --write

chore: release-1.9: update lodash and lodash-es to fix CVE-2025-13465
  dynamic-plugins/yarn.lock
  packages/app/package.json
  yarn.lock
Due: prettier --write

chore: update rpms.lock.yaml [skip-build]
  rpms.lock.yaml
Due: prettier --write

chore: update update-versions-doc-release-1.8 to ubi9/nodejs-22:9.7-1770309564 from ubi9/nodejs-22:9.7-1767745544 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update update-versions-doc-release-1.8 to ubi9/nodejs-22-minimal:9.7-1770309067 from ubi9/nodejs-22-minimal:9.7-1767673763 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update update-versions-doc-release-1.8 to ubi9/nodejs-22:9.7-1770309564 from ubi9/nodejs-22:9.7-1767745544 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

chore: update update-versions-doc-release-1.8 to ubi9/nodejs-22-minimal:9.7-1770309067 from ubi9/nodejs-22-minimal:9.7-1767673763 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

chore: update wrappers (tech-radar, bulk-import, extensions)
  dynamic-plugins/wrappers/backstage-community-plugin-tech-radar/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-catalog-backend-module-extensions-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-extensions-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-extensions/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

fix(ci): bring plugin version values up to match default dynamic plugins
  .ibm/pipelines/value_files/diff-values_showcase-rbac_GKE.yaml
  .ibm/pipelines/value_files/diff-values_showcase-rbac_OSD-GCP.yaml
  .ibm/pipelines/value_files/diff-values_showcase_GKE.yaml
  .ibm/pipelines/value_files/diff-values_showcase_OSD-GCP.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

inherit showcase values
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

chore: update test-plugins and switch to the oci images
  .ibm/pipelines/value_files/values_showcase.yaml
  dynamic-plugins/_utils/src/wrappers.test.ts
Due: prettier --write

chore: update scorecard plugins to v2.3.5
  .ibm/pipelines/value_files/diff-values_showcase_GKE.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

chore(ci): dynamically determine Chart version
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/lib/helm.sh
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Fix unbound var
  .ibm/pipelines/lib/helm.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

inherit oci plugin versions
  .ibm/pipelines/value_files/diff-values_showcase-rbac_OSD-GCP.yaml
  .ibm/pipelines/value_files/diff-values_showcase-sanity-plugins.yaml
  .ibm/pipelines/value_files/diff-values_showcase_GKE.yaml
  .ibm/pipelines/value_files/diff-values_showcase_OSD-GCP.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

chore: update update-versions-doc-release-1.8 to ubi9/nodejs-22:9.7-1770309564 from ubi9/nodejs-22:9.7-1767745544 [skip-build] [skip-e2e] (#4208)
  .rhdh/docker/Dockerfile
  docker/Dockerfile
Due: none

chore: update dynamic-plugins.default.yaml from quay.io/rhdh/plugin-catalog-index:1.9.0
  dynamic-plugins.default.yaml
Due: prettier --write

chore: update dynamic-plugins.default.yaml from quay.io/rhdh/plugin-catalog-index:1.10.0
  dynamic-plugins.default.yaml
Due: prettier --write

additional orchestrator tests
  e2e-tests/playwright/e2e/plugins/orchestrator/failswitch-workflow.spec.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: none

test(scorecard): add aggregated scorecard e2e tests
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  e2e-tests/playwright/e2e/plugins/scorecard/scorecard.spec.ts
  e2e-tests/playwright/support/page-objects/scorecard/scorecard-page.ts
Due: prettier --write

chore: add @red-hat-developer-hub/backstage-plugin-orchestrator-backend-module-loki to default packages list
  default.packages.yaml
Due: prettier --write

chore(ci): increase timeout
  .ibm/pipelines/lib/operators.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(ci): update OLM to v0.40.0
  .ibm/pipelines/lib/operators.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

timeout 10m
  .ibm/pipelines/lib/operators.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Increase operator deploy timeout for K8s jobs
  .ibm/pipelines/install-methods/operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Big timeout
  .ibm/pipelines/install-methods/operator.sh
  .ibm/pipelines/lib/k8s-wait.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Revert "chore(ci): update OLM to v0.40.0"
  .ibm/pipelines/lib/operators.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

try e2e with next-715b4c6e
  .ibm/pipelines/env_variables.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update release-1.8 to ubi9/nodejs-22:9.7-1770626511 from ubi9/nodejs-22:9.7-1770309564 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update release-1.8 to ubi9/nodejs-22:9.7-1770626511 from ubi9/nodejs-22:9.7-1770309564 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

additional orchestrator tests
  e2e-tests/playwright/e2e/audit-log/log-utils.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/failswitch-workflow.spec.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: none
