Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix tsc issues
  dynamic-plugins/wrappers/backstage-plugin-kubernetes-backend-dynamic/src/index.ts
Due: none

fix pr gh action
  .github/workflows/pr.yaml
Due: prettier --write

chore: update axios to fix CVE-2025-58754 (#3435)
  yarn.lock
Due: none

chore: update axios to fix CVE-2025-58754
  dynamic-plugins/yarn.lock
  yarn.lock
Due: none

[release-1.7] chore: update axios to fix CVE-2025-58754
  dynamic-plugins/yarn.lock
  yarn.lock
Due: none

chore: move .ibm dependencies into its own yarn workspace
  .ibm/package.json
  .ibm/turbo.json
  .ibm/yarn.lock
  .rhdh/docker/Dockerfile
  docker/Dockerfile
  package.json
  scripts/update-Dockerfile.sh
  turbo.json
  yarn.lock
Due: prettier --write

chore: update concurrency group to not have conflicts with other PRs
  .github/workflows/pr.yaml
Due: prettier --write

Fix changed keycloak name
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

chore(e2e): introduce tests from conditional rule isOwner (#3141)
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/support/pageObjects/rbac-po.ts
Due: none

chore(e2e): introduce TSC check
  .github/workflows/e2e-tests-lint.yaml
  docs/dynamic-plugins/debugging.md
  docs/proxy.md
  e2e-tests/.lintstagedrc.js
  e2e-tests/.lintstagedrc.json
  e2e-tests/package.json
Due: prettier --write

fix adoption insights e2e
  e2e-tests/playwright/support/pages/adoption-insights.ts
Due: none

fn restructure
  e2e-tests/playwright/support/pages/adoption-insights.ts
Due: none

feat: implement custom tag filter with OR logic for improved UX
  packages/app/package.json
  packages/app/src/components/AppBase/AppBase.tsx
  packages/app/src/components/catalog/filters/CustomCatalogFilters.tsx
  packages/app/src/components/catalog/filters/CustomEntityTagPicker.test.ts
  packages/app/src/components/catalog/filters/CustomEntityTagPicker.tsx
  yarn.lock
Due: prettier --write

fix(user-settings): enhance build-info config to make it intuitive
  .ibm/pipelines/resources/config_map/app-config-rhdh.yaml
  docs/customization.md
  packages/app/config.d.ts
  packages/app/src/components/UserSettings/InfoCard.test.tsx
  packages/app/src/components/UserSettings/InfoCard.tsx
  packages/app/src/types/types.ts
Due: prettier --write

change in crd loc
  e2e-tests/playwright/support/pages/adoption-insights.ts
Due: none

feat(segment): update segment wrapper and add env vars
  catalog-entities/marketplace/packages/backstage-community-plugin-analytics-provider-segment.yaml
  catalog-entities/marketplace/plugins/analytics-provider-segment.yaml
  dynamic-plugins.default.yaml
  dynamic-plugins/wrappers/backstage-community-plugin-analytics-provider-segment/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

flow correction
  e2e-tests/playwright/support/pages/adoption-insights.ts
Due: none

chore(e2e): update major version
  .ibm/pipelines/env_variables.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Fix
  .ibm/pipelines/jobs/auth-providers.sh
  .ibm/pipelines/jobs/ocp-nightly.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Fix
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update to the latest version of scaff-rel-processor
  dynamic-plugins/wrappers/backstage-community-plugin-catalog-backend-module-scaffolder-relation-processor-dynamic/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

chore(marketplace): remove catalog and scaffolder integration collections
  catalog-entities/marketplace/plugins/catalog-integrations.yaml
  catalog-entities/marketplace/plugins/scaffolder-integrations.yaml
Due: prettier --write

remove removed files from all.yaml
  catalog-entities/marketplace/plugins/all.yaml
Due: prettier --write

Fix link and text visible check
  e2e-tests/playwright/e2e/default-global-header.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/support/pages/catalog-import.ts
  e2e-tests/playwright/utils/common.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

Update theme-verifier.ts
  e2e-tests/playwright/utils/custom-theme/theme-verifier.ts
Due: none

Revert
  e2e-tests/playwright/support/pages/catalog-import.ts
  e2e-tests/playwright/utils/common.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

chore(e2e): fix global header flakiness
  e2e-tests/playwright/e2e/default-global-header.spec.ts
Due: none

chore(e2e): fix settings dropdown
  e2e-tests/playwright/e2e/audit-log/auditor-catalog.spec.ts
  e2e-tests/playwright/e2e/auth-providers/github.spec.ts
  e2e-tests/playwright/e2e/auth-providers/ldap.spec.ts
  e2e-tests/playwright/e2e/auth-providers/microsoft.spec.ts
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
  e2e-tests/playwright/e2e/google-signin-happy-path.spec.ts
  e2e-tests/playwright/e2e/guest-signin-happy-path.spec.ts
  e2e-tests/playwright/e2e/plugins/adoption-insights/adoption-insights.spec.ts
  e2e-tests/playwright/e2e/plugins/application-provider.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/utils/common.ts
  e2e-tests/playwright/utils/custom-theme/theme-verifier.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

Update ui-helper.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

Fix theme verifier
  e2e-tests/playwright/utils/custom-theme/theme-verifier.ts
Due: none

remove dynamic-plugins-info plugin and fix React import warnings
  .dockerignore
  .rhdh/docker/Dockerfile
  .sonarcloud.properties
  CONTRIBUTING.md
  docker/Dockerfile
  e2e-tests/playwright/e2e/plugins/dynamic-plugins-info/dynamic-plugins-info.spec.ts
  e2e-tests/playwright/utils/analytics/analytics.ts
  packages/app/src/components/Root/ApplicationHeaders.tsx
  packages/app/src/components/Root/ApplicationListener.tsx
  packages/app/src/components/Root/ApplicationProvider.tsx
  packages/app/src/components/catalog/EntityPage/ContextMenuAwareEntityLayout.tsx
Due: prettier --write

fixed lint issue
  packages/app/src/components/Root/ApplicationListener.tsx
  packages/app/src/components/Root/ApplicationProvider.tsx
Due: none

updated default marketplace config
  dynamic-plugins.default.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
