Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

upgraded urllib3 in requirements-build
  python/requirements-build.in
  python/requirements-build.txt
Due: none

fix(e2e): add missing selectGreetingWorkflowItem method to Orchestrator class
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: none

fix(e2e): add wait and timeout to orchestrator greeting workflow helm install
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): increase dynamic-plugins-root volume to 5Gi
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-rbac.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start.yaml
Due: prettier --write

fix(e2e): increase Keycloak login timeout to 30 seconds
  e2e-tests/playwright/utils/common.ts
Due: none

test: noop change to trigger e2e tests
  README.md
Due: prettier --write

chore: update rpms.lock.yaml [skip-build]
  rpms.lock.yaml
Due: prettier --write

chore: sync OWNERS_ALIASES with GitHub teams
  OWNERS_ALIASES
Due: none

add fixes from previous PR
  packages/backend/package.json
  packages/backend/src/defaultServiceFactories.test.ts
Due: prettier --write

update yarn.lock
  yarn.lock
Due: none

updated problematic markdown links
  docs/index.md
Due: prettier --write

addressed review comments
  dynamic-plugins/wrappers/immobiliarelabs-backstage-plugin-gitlab-backend-dynamic/package.json
  dynamic-plugins/wrappers/pagerduty-backstage-plugin-backend-dynamic/package.json
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-security-insights/package.json
Due: prettier --write

updated bug links
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-argo-cd-backend-dynamic/package.json
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-datadog/package.json
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-github-insights/package.json
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-github-pull-requests/package.json
Due: prettier --write

replaced links:
  dynamic-plugins/wrappers/immobiliarelabs-backstage-plugin-gitlab/package.json
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-jira/package.json
Due: prettier --write

added readme.md
  README.md
Due: prettier --write

chore(deps): avoid failing api calls in marketplace
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

[skip-build] Apply suggestions from code review
  docs/dynamic-plugins/installing-plugins.md
Due: prettier --write

chore: update dynamic-plugins.default.yaml from quay.io/rhdh/plugin-catalog-index:1.9.0
  dynamic-plugins.default.yaml
Due: prettier --write

TEST PostgreSQL 16 on Helm chart
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/utils.sh
  .ibm/pipelines/value_files/values_showcase_17.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

skip
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

feat: adding testing workflow to orchestrator tests
  .ibm/pipelines/utils.sh
  e2e-tests/playwright/e2e/plugins/orchestrator/failswitch-workflow.spec.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Migrate tests to use extensions catalog entities from overlay repo
  .ibm/pipelines/value_files/values_showcase-auth-providers.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
  .rhdh/docker/Dockerfile
  docker/Dockerfile
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: prettier --write

Migrate tests to use extensions catalog entities from overlay repo
  .ibm/pipelines/value_files/values_showcase-auth-providers.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
  .rhdh/docker/Dockerfile
  docker/Dockerfile
  docker/install-dynamic-plugins.py
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: prettier --write

test: tests for github events module
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  .ibm/pipelines/resources/config_map/app-config-rhdh.yaml
  e2e-tests/playwright/e2e/github-events-module.spec.ts
  e2e-tests/playwright/support/api/github-events.ts
  e2e-tests/playwright/utils/api-endpoints.ts
  e2e-tests/playwright/utils/api-helper.ts
Due: prettier --write

Fix prettier issues
  .ibm/pipelines/resources/config_map/app-config-rhdh.yaml
  e2e-tests/playwright/e2e/github-events-module.spec.ts
  e2e-tests/playwright/support/api/github-events.ts
  e2e-tests/playwright/utils/api-endpoints.ts
  e2e-tests/playwright/utils/api-helper.ts
Due: prettier --write

fix lintingerrors
  e2e-tests/playwright/e2e/github-events-module.spec.ts
Due: none

add var
  .ibm/pipelines/value_files/values_showcase_17.yaml
Due: prettier --write

upgrade and post
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/utils.sh
  .ibm/pipelines/value_files/values_showcase_16.yaml
  .ibm/pipelines/value_files/values_showcase_16_upgrade.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

[release-1.7] chore: update node-forge to fix CVEs
  dynamic-plugins/yarn.lock
  yarn.lock
Due: none

fix minor error
  e2e-tests/playwright/e2e/github-events-module.spec.ts
Due: none

add a test to check if the events endpoints is accepting event payloads
  e2e-tests/playwright/e2e/github-events-module.spec.ts
Due: none

Update showcase.yaml
  catalog-entities/components/showcase.yaml
Due: prettier --write

[release-1.7] chore: update node-forge to fix CVEs (#3926)
  dynamic-plugins/yarn.lock
  yarn.lock
Due: none

chore: update release-1.7 to ubi9/nodejs-22:9.7-1766414965 from ubi9/nodejs-22:9.7-1764636141 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update main to ubi9/nodejs-22:9.7-1766414965 from ubi9/nodejs-22:9.7-1764636141 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update release-1.7 to ubi9/nodejs-22-minimal:9.7-1766364286 from ubi9/nodejs-22-minimal:9.7-1764607007 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
