Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

chore: simplify oci reference when only one plugin is in OCI artifact
  docker/install-dynamic-plugins.py
Due: none

fix(ci): disable orchestrator plugins for OSD-GCP deployments
  .ibm/pipelines/value_files/diff-values_showcase-rbac_OSD-GCP.yaml
  .ibm/pipelines/value_files/diff-values_showcase_OSD-GCP.yaml
Due: prettier --write

chore(ci): migrate orchestrator plugins to NPM packages 1.8.2
  .ibm/pipelines/value_files/diff-values_showcase-rbac_OSD-GCP.yaml
  .ibm/pipelines/value_files/diff-values_showcase_OSD-GCP.yaml
Due: prettier --write

upgrade typeorm dependency
  yarn.lock
Due: none

chore(ci): migrate orchestrator plugins to NPM 1.8.2 in base values files
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

chore(ci): update orchestrator plugins to official release bs_1.42.5
  .ibm/pipelines/value_files/diff-values_showcase-rbac_OSD-GCP.yaml
  .ibm/pipelines/value_files/diff-values_showcase_OSD-GCP.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

fix(ci): increase emptyDir size for dynamic plugins in K8s environments
  .ibm/pipelines/value_files/diff-values_showcase_GKE.yaml
Due: prettier --write

feat(docker): add cleanup script for dynamic plugins to reduce disk usage
  .ibm/pipelines/value_files/diff-values_showcase_GKE.yaml
  .rhdh/docker/Dockerfile
  docker/cleanup-dynamic-plugins.sh
  docker/install-dynamic-plugins.sh
Due: prettier --write

fix(ci): enable dynamic plugins cleanup for all K8s environments
  .ibm/pipelines/value_files/diff-values_showcase_AKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_EKS.yaml
Due: prettier --write

fix(ci): add optional cleanup script for dynamic plugins in K8s environments
  .ibm/pipelines/utils.sh
  .ibm/pipelines/value_files/diff-values_showcase_AKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_EKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_GKE.yaml
  .rhdh/docker/Dockerfile
  docker/install-dynamic-plugins.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): address PR review feedback
  .ibm/pipelines/utils.sh
  .ibm/pipelines/value_files/diff-values_showcase-rbac_AKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase-rbac_EKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase-rbac_GKE.yaml
  docker/cleanup-dynamic-plugins.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(ci): drop dynamic plugins cleanup and keep only emptyDir increase
  .ibm/pipelines/value_files/diff-values_showcase-rbac_AKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase-rbac_EKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase-rbac_GKE.yaml
  .ibm/pipelines/value_files/diff-values_showcase_AKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_EKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_GKE.yaml
  docker/cleanup-dynamic-plugins.sh
  docker/install-dynamic-plugins.sh
Due: prettier --write

chore(ci): remove leftover cleanup wiring
  .ibm/pipelines/utils.sh
  .ibm/pipelines/value_files/diff-values_showcase-rbac_AKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase-rbac_EKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase-rbac_GKE.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update next builds to be hermetic
  .github/actions/docker-build/action.yaml
  .github/workflows/next-build-image.yaml
  .github/workflows/pr-build-image.yaml
  rpms.in.yaml
  rpms.lock.yaml
Due: prettier --write

feat: fix for user-onboarding workflow for orchestrator testing
  .ibm/pipelines/utils.sh
  e2e-tests/playwright/e2e/plugins/orchestrator/user-onboarding-workflow.spec.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: convert big dynamic-plugins.default.yaml into a simple list of packages which we want to have enabled or disabled by default OOTB in RHDH (RHIDP-9835)
  default.packages.yaml
Due: prettier --write

remove ref to dynamic-plugins.default.yaml in containerfiles
  .rhdh/docker/Dockerfile
  docker/Dockerfile
Due: none

chore(rules): rulesync
  .claude/commands/pr-review-prioritizer.md
  .claude/memories/add_extension_metadata.md
  .claude/memories/ci-e2e-testing.md
  .gitignore
  .rulesync/commands/pr-review-prioritizer.md
  .rulesync/rules/add_extension_metadata.md
  .rulesync/rules/ci-e2e-testing.md
  package.json
  rulesync.jsonc
  yarn.lock
Due: prettier --write

add documentation and rule for generating rules
  .claude/memories/managing-ai-rules.md
  .cursor/rules/managing-ai-rules.mdc
  .rulesync/README.md
  .rulesync/rules/managing-ai-rules.md
Due: prettier --write

Update pre-commit
  .cursorignore
  .lintstagedrc.js
  .rulesyncignore
  package.json
Due: prettier --write

Add GH Action
  .claude/memories/managing-ai-rules.md
  .cursor/rules/managing-ai-rules.mdc
  .github/workflows/rulesync-check.yaml
  .rulesync/README.md
  .rulesync/rules/managing-ai-rules.md
Due: prettier --write

ignore
  .cursorignore
  .rulesyncignore
Due: none

Update lint-staged
  .github/workflows/rulesync-check.yaml
  .lintstagedrc.cjs
  .lintstagedrc.js
Due: prettier --write

test
  .claude/commands/pr-review-prioritizer.md
Due: prettier --write

Revert "test"
  .claude/commands/pr-review-prioritizer.md
Due: prettier --write

improved lintstaged
  .lintstagedrc.cjs
Due: none

rework the deprecation warning header on DPDY and PR body
  .github/workflows/next-build-image.yaml
Due: prettier --write

switch to using peter-evans/create-pull-request@v7 instead of manually generated Cursor code
  .github/workflows/next-build-image.yaml
Due: prettier --write

chore: fix logical flow and indent issues for the :next action
  .github/workflows/next-build-image.yaml
Due: prettier --write

chore: move update of dynamic-plugins.default.yaml into the PR generation step (during merge) so we're not building images from a dirty state
  .github/workflows/next-build-image.yaml
Due: prettier --write

chore: playwright locator best practices
  docs/e2e-tests/playwright-locator-best-practices.md
Due: prettier --write

Rules for locators
  .claude/memories/playwright-locators.md
  .cursor/rules/playwright-locators.mdc
  .rulesync/rules/playwright-locators.md
Due: prettier --write

Linter rules
  e2e-tests/eslint.config.js
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

fix(ci): add checkout step to auto-approve-bot-prs workflow to fix git repository error
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

add allowed
  e2e-tests/eslint.config.js
Due: none

Fix lintstaged
  .lintstagedrc.cjs
Due: none

chore: update to ubi9/nodejs-22:9.7-1763027323 from ubi9/nodejs-22:9.7-1763027323@sha256:f34e139a493588f03104e21fcd6b182d8884b7ae2cee7d91e56a8fff8a106b2f [skip-build] (#3681)
  .rhdh/docker/Dockerfile
  docker/Dockerfile
Due: none

chore: update rpms.lock.yaml
  rpms.lock.yaml
Due: prettier --write
