Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Update theme order
  e2e-tests/playwright/data/theme-constants.ts
Due: none

Unskip - try if fixed
  e2e-tests/playwright/e2e/catalog-timestamp.spec.ts
  e2e-tests/playwright/e2e/plugins/global-floating-button.spec.ts
Due: none

Unskip fixed tests
  e2e-tests/playwright/e2e/default-global-header.spec.ts
  e2e-tests/playwright/e2e/guest-signin-happy-path.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology-rbac.spec.ts
Due: none

chore: update to the latest version of scaff-rel-processor
  dynamic-plugins/wrappers/backstage-community-plugin-catalog-backend-module-scaffolder-relation-processor-dynamic/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

chore: run yarn dedupe
  dynamic-plugins/yarn.lock
  yarn.lock
Due: none

theme order
  e2e-tests/playwright/data/theme-constants.ts
  e2e-tests/playwright/utils/custom-theme/theme-verifier.ts
Due: none

This fixed with rhdh-local
  e2e-tests/playwright/utils/custom-theme/theme-verifier.ts
Due: none

translating sidebar menu const
  packages/app/src/consts.ts
  packages/app/src/translations/rhdh/de.ts
  packages/app/src/translations/rhdh/es.ts
  packages/app/src/translations/rhdh/fr.ts
  packages/app/src/translations/rhdh/it.ts
  packages/app/src/translations/rhdh/refs.ts
Due: none

translating admin extension search setting
  packages/app/src/App.tsx
  packages/app/src/components/DynamicRoot/DynamicRoot.tsx
  packages/app/src/translations/rhdh/de.ts
  packages/app/src/translations/rhdh/es.ts
  packages/app/src/translations/rhdh/fr.ts
  packages/app/src/translations/rhdh/it.ts
  packages/app/src/translations/rhdh/refs.ts
  packages/app/src/translations/search/search-de.ts
  packages/app/src/translations/search/search-en.ts
  packages/app/src/translations/search/search-es.ts
  packages/app/src/translations/search/search-fr.ts
  packages/app/src/translations/search/search-it.ts
  packages/app/src/translations/search/search.ts
  packages/app/src/translations/user-settings/user-settings-de.ts
  packages/app/src/translations/user-settings/user-settings-en.ts
  packages/app/src/translations/user-settings/user-settings-es.ts
  packages/app/src/translations/user-settings/user-settings-fr.ts
  packages/app/src/translations/user-settings/user-settings-it.ts
  packages/app/src/translations/user-settings/user-settings.ts
Due: none

chore: rpms - RHIDP-9048 try to get build working again by no longer overriding nodejs and npm installs: just use what's provided by the base image
  .rhdh/docker/Dockerfile
  rpms.in.yaml
  rpms.lock.yaml
Due: prettier --write

chore: rpms - RHIDP-9048 try to get build working again by no longer overriding nodejs and npm installs: just use what's provided by the base image
  .rhdh/docker/Dockerfile
Due: none

chore: rpms - RHIDP-9048 try to get build working again by no longer overriding nodejs and npm installs: just use what's provided by the base image (#3471)
  .rhdh/docker/Dockerfile
Due: none

chore: rpms - RHIDP-9048 try to get build working again by no longer overriding nodejs and npm installs: just use what's provided by the base image (#3470)
  .rhdh/docker/Dockerfile
  rpms.in.yaml
  rpms.lock.yaml
Due: prettier --write

translating label aria-label alt used in sidebar
  packages/app/src/components/Root/Root.tsx
  packages/app/src/components/Root/SidebarLogo.tsx
  packages/app/src/translations/rhdh/de.ts
  packages/app/src/translations/rhdh/es.ts
  packages/app/src/translations/rhdh/fr.ts
  packages/app/src/translations/rhdh/it.ts
  packages/app/src/translations/rhdh/refs.ts
Due: none

updating test
  packages/app/src/components/Root/SidebarLogo.test.tsx
Due: none

Fix GKE error handling
  .ibm/pipelines/cluster/gke/gcloud.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Update OCM/ACM to support OCP 4.19
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(ci): fix OCP 4.19 not sending errors
  .ibm/pipelines/reporting.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fixed lint issue
  packages/app/src/components/Root/ApplicationListener.tsx
  packages/app/src/components/Root/ApplicationProvider.tsx
Due: none

remove dynamic-plugins-info plugin and fix React import warnings
  .dockerignore
  .rhdh/docker/Dockerfile
  .sonarcloud.properties
  CONTRIBUTING.md
  docker/Dockerfile
  e2e-tests/playwright/e2e/plugins/dynamic-plugins-info/dynamic-plugins-info.spec.ts
  e2e-tests/playwright/utils/analytics/analytics.ts
  packages/app/src/components/Root/ApplicationHeaders.tsx
  packages/app/src/components/Root/ApplicationListener.tsx
  packages/app/src/components/Root/ApplicationProvider.tsx
  packages/app/src/components/catalog/EntityPage/ContextMenuAwareEntityLayout.tsx
Due: prettier --write

updated default marketplace config
  dynamic-plugins.default.yaml
Due: prettier --write

updated yarn.lock
  yarn.lock
Due: none

feat: enhance orchestrator workflows deployment for operator integration - FLPATH-2707
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fixed prettier issues
  packages/app/CHANGELOG.md
  packages/app/src/components/Root/ApplicationHeaders.tsx
  packages/backend/CHANGELOG.md
Due: prettier --write

Update openshift-ci-tests.sh
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(app): use createTranslationMessages to make translations typesafe
  packages/app/src/components/DynamicRoot/DynamicRoot.tsx
  packages/app/src/hooks/useTranslation.ts
  packages/app/src/translations/rhdh/de.ts
  packages/app/src/translations/rhdh/es.ts
  packages/app/src/translations/rhdh/fr.ts
  packages/app/src/translations/rhdh/index.ts
  packages/app/src/translations/rhdh/it.ts
  packages/app/src/translations/rhdh/ref.ts
Due: none

feat(quickstart): adding localization support for quickstart
  dynamic-plugins.default.yaml
  packages/app/config.d.ts
Due: prettier --write

Update lightspeed.yaml
  catalog-entities/marketplace/plugins/lightspeed.yaml
Due: prettier --write

updating translation key
  dynamic-plugins.default.yaml
Due: prettier --write

Increase
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
  e2e-tests/playwright/support/pages/bulk-import.ts
Due: none

chore(e2e): increase flaky bulk import retries to 4
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

Update matching job name
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Revert Jira token config for Qodo
  .pr_agent.toml
Due: none

Refactor `e2e-tests` to `e2e`
  .ibm/pipelines/reporting.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
