Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix config
  .ibm/pipelines/auth/secrets-rhdh-secrets.yaml
Due: prettier --write

trace off
  e2e-tests/playwright.config.ts
Due: none

chore: update usage docs of the local hermeto build script
  build/README.adoc
  scripts/local-hermeto-build.sh
Due: none

add hatch-vcs>=0.5
  python/pyproject.toml
  python/requirements-build.txt
  python/requirements-dev.txt
  python/requirements.txt
  python/uv.lock
Due: none

Revert "trace off"
  e2e-tests/playwright.config.ts
Due: none

chore: tagRelease.sh: bump to 1.8.4 in release-1.8 branch [skip-build] [skip-e2e]
  .ibm/package.json
  dynamic-plugins/package.json
  e2e-tests/package.json
  package.json
  packages/app/src/build-metadata.json
Due: prettier --write

Update playwright.config.ts
  e2e-tests/playwright.config.ts
Due: none

fix config
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
Due: prettier --write

fix(e2e): Removed outdated references to the EntityPicker and streamlined the input process for the Language and Name fields
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-entity-workflows.spec.ts
Due: none

Delete video recording from setupBrowser
  e2e-tests/playwright/e2e/audit-log/auditor-rbac.spec.ts
  e2e-tests/playwright/e2e/auth-providers/github.spec.ts
  e2e-tests/playwright/e2e/auth-providers/gitlab.spec.ts
  e2e-tests/playwright/e2e/auth-providers/ldap.spec.ts
  e2e-tests/playwright/e2e/auth-providers/microsoft.spec.ts
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
  e2e-tests/playwright/e2e/catalog-timestamp.spec.ts
  e2e-tests/playwright/e2e/custom-theme.spec.ts
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
  e2e-tests/playwright/e2e/github-integration-org-fetch.spec.ts
  e2e-tests/playwright/e2e/plugins/acr.spec.ts
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
  e2e-tests/playwright/e2e/plugins/frontend/sidebar.spec.ts
  e2e-tests/playwright/e2e/plugins/kubernetes-actions/kubernetes-actions.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/quay/quay-actions.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/scaffolder-backend-module-annotator/annotator.spec.ts
  e2e-tests/playwright/e2e/plugins/scaffolder-relation-processor/scaffolder-relation-processor.spec.ts
  e2e-tests/playwright/e2e/plugins/tekton/tekton.spec.ts
  e2e-tests/playwright/utils/common.ts
Due: none

restrict to setuptools 80
  python/README.requirements.md
  python/pyproject.toml
  python/requirements-build.txt
  python/uv.lock
Due: prettier --write

roll back to older setuptools-scm<8 and hatch-vcs 0.4
  python/pyproject.toml
  python/requirements-build.txt
  python/uv.lock
Due: none

RHDHBUGS-2071 e2e tests should not depend on external resources like roadiehq
  e2e-tests/playwright/e2e/audit-log/auditor-catalog.spec.ts
Due: none

fix(e2e) - remove extraneous race condition prone expectation
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-entity-workflows.spec.ts
Due: none

chore: update release-1.8 to ubi9/nodejs-22:9.7-1770626511 from ubi9/nodejs-22:9.7-1770626511 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

fix(e2e): enhance orchestrator entity workflow tests with improved completion checks
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-entity-workflows.spec.ts
Due: none

feat(e2e): refactor tests to use semantic selectors and remove flaky anti-patterns (#3837)
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
  e2e-tests/playwright/e2e/catalog-timestamp.spec.ts
  e2e-tests/playwright/e2e/default-global-header.spec.ts
  e2e-tests/playwright/e2e/extensions.spec.ts
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
  e2e-tests/playwright/e2e/learning-path-page.spec.ts
  e2e-tests/playwright/e2e/plugins/application-provider.spec.ts
  e2e-tests/playwright/e2e/plugins/keycloak/catalog-users.spec.ts
  e2e-tests/playwright/e2e/plugins/kubernetes-actions/kubernetes-actions.spec.ts
  e2e-tests/playwright/e2e/plugins/kubernetes/kubernetes-rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/quay/quay.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology.spec.ts
  e2e-tests/playwright/e2e/plugins/user-settings-info-card.spec.ts
  e2e-tests/playwright/e2e/settings.spec.ts
  e2e-tests/playwright/support/page-objects/catalog/catalog-users-obj.ts
  e2e-tests/playwright/support/page-objects/global-obj.ts
  e2e-tests/playwright/support/page-objects/page-obj.ts
  e2e-tests/playwright/support/page-objects/rbac-po.ts
  e2e-tests/playwright/support/selectors/semantic-selectors.ts
  e2e-tests/playwright/utils/common.ts
  e2e-tests/playwright/utils/keycloak/keycloak.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

restore 1.8 plugin version
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: none

add caret to turbo dep
  dynamic-plugins/package.json
Due: prettier --write

added caret to turbo
  dynamic-plugins/yarn.lock
Due: none

chore: update main to ubi9/nodejs-22:9.7-1770626511 from ubi9/nodejs-22:9.7-1767745544 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update main to ubi9/nodejs-22-minimal:9.7-1770309067 from ubi9/nodejs-22-minimal:9.7-1767673763 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update main to ubi9/nodejs-22:9.7-1770626511 from ubi9/nodejs-22:9.7-1770309564 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

chore(ci): update Operator CRD config and fix Oparator jobs
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-rbac.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-rbac_K8s.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-runtime.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start_K8s.yaml
  .ibm/pipelines/value_files/diff-values_showcase_AKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_EKS.yaml
  e2e-tests/playwright/e2e/plugins/orchestrator/greeting-workflow.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/workflow-all-runs-validations.spec.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix: use correct RHDH version in versions.md generation script
  docs/dynamic-plugins/versions.md
  scripts/update-versions-doc.mjs
Due: prettier --write

feat(rbac): test newer rbac
  dynamic-plugins/wrappers/backstage-community-plugin-rbac/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-rbac/src/alpha.ts
  dynamic-plugins/wrappers/backstage-community-plugin-rbac/src/index.ts
  dynamic-plugins/yarn.lock
  e2e-tests/playwright/e2e/auth-providers/microsoft.spec.ts
  e2e-tests/playwright/e2e/extensions.spec.ts
  e2e-tests/playwright/e2e/github-discovery.spec.ts
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology.spec.ts
  e2e-tests/playwright/support/page-objects/rbac-po.ts
  packages/app/package.json
  packages/app/src/components/Root/Root.tsx
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/backend/src/modules/rbacDynamicPluginsModule.ts
  plugins/licensed-users-info-backend/package.json
  plugins/licensed-users-info-backend/src/service/router.ts
  yarn.lock
Due: prettier --write

chore: update dynamic-plugins.default.yaml from quay.io/rhdh/plugin-catalog-index:1.10.0
  dynamic-plugins.default.yaml
Due: prettier --write

chore: update dynamic-plugins.default.yaml from quay.io/rhdh/plugin-catalog-index:1.9.0
  dynamic-plugins.default.yaml
Due: prettier --write

chore: add another usage disclaimer for the local hermeto build script
  build/README.adoc
  scripts/local-hermeto-build.sh
Due: none

chore: move containerfile README into build/containerfiles for consistency with gitlab
  build/containerfiles/README.adoc
Due: none

fix(ci): fix duplicate plugin crash in OSD-GCP operator deployments
  .ibm/pipelines/lib/helm.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

[release-1.9] fix(e2e): cherry-pick navigation changes to 1.9 (#4234)
  e2e-tests/playwright/e2e/audit-log/auditor-catalog.spec.ts
  e2e-tests/playwright/e2e/auth-providers/github.spec.ts
  e2e-tests/playwright/e2e/auth-providers/gitlab.spec.ts
  e2e-tests/playwright/e2e/auth-providers/ldap.spec.ts
  e2e-tests/playwright/e2e/auth-providers/microsoft.spec.ts
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
  e2e-tests/playwright/e2e/catalog-timestamp.spec.ts
  e2e-tests/playwright/e2e/default-global-header.spec.ts
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
  e2e-tests/playwright/e2e/guest-signin-happy-path.spec.ts
  e2e-tests/playwright/e2e/plugins/application-provider.spec.ts
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
  e2e-tests/playwright/e2e/plugins/http-request.spec.ts
  e2e-tests/playwright/e2e/plugins/keycloak/catalog-users.spec.ts
  e2e-tests/playwright/e2e/plugins/kubernetes-actions/kubernetes-actions.spec.ts
  e2e-tests/playwright/e2e/plugins/quay/quay-actions.spec.ts
  e2e-tests/playwright/e2e/plugins/quick-start.spec.ts
  e2e-tests/playwright/e2e/settings.spec.ts
  e2e-tests/playwright/support/pages/adoption-insights.ts
  e2e-tests/playwright/support/pages/notifications.ts
  e2e-tests/playwright/utils/custom-theme/theme-verifier.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

fix(e2e): restart RBAC deployment if postgres not ready [skip-build]
  .ibm/pipelines/jobs/ocp-pull.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Testing
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): add shellcheck guard to cd commands in ocp-pull.sh [skip-build]
  .ibm/pipelines/jobs/ocp-pull.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): format ocp-pull.sh with prettier [skip-build]
  .ibm/pipelines/jobs/ocp-pull.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): update nodejs image stream from 18 to 20 [skip-build]
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Testing
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): disable orchestrator in PR helm job to fix SonataFlow timeout [skip-build]
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/value_files/diff-values_showcase-rbac_PR.yaml
  .ibm/pipelines/value_files/diff-values_showcase_PR.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
