Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

TEST RHDH 1.8 [skip-build]
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

test RHDH 1.8 [skip-build]
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

test RHDH 1.8.RC2 [skip-build]
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/utils.sh
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
  e2e-tests/playwright/e2e/default-global-header.spec.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Update .github/workflows/auto-approve-bot-prs.yaml
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

test RHDH 1.8.RC2 [skip-build]
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-rbac.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-rbac_K8s.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-runtime.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start_K8s.yaml
Due: prettier --write

test RHDH 1.8.RC2 [skip-build]
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-runtime.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start_K8s.yaml
Due: prettier --write

chore: msgraph plugin should be GA/prod support, according to Kim (RHIDP-9525)
  catalog-entities/marketplace/packages/backstage-plugin-catalog-backend-module-msgraph.yaml
  catalog-entities/marketplace/plugins/microsoft-graph-catalog-integration.yaml
Due: prettier --write

fix(extensions): update extensions plugin version to pick up bug fix
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-marketplace.yaml
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

Skip two bulk import tests - need further investigation
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

Prettier check fix
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

chore: update rpms.lock.yaml
  rpms.lock.yaml
Due: prettier --write

Reorganize and annotate
  e2e-tests/playwright/e2e/configuration-test/config-map.spec.ts
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-crunchy.spec.ts
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-rds.spec.ts
Due: none

chore(e2e): fix RDS test
  e2e-tests/playwright/e2e/verify-tls-config-health-check.spec.ts
Due: none

Update config-map.spec.ts
  e2e-tests/playwright/e2e/configuration-test/config-map.spec.ts
Due: none

fix deployment name
  e2e-tests/playwright/e2e/verify-tls-config-health-check.spec.ts
Due: none

Update playwright.config.ts
  e2e-tests/playwright.config.ts
Due: none

chore(docs): Update versions.md in dynamic plugin documentation
  docs/dynamic-plugins/versions.md
Due: prettier --write

updated version
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-marketplace.yaml
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace/package.json
  dynamic-plugins/yarn.lock
  yarn.lock
Due: prettier --write

fix(auto-approve): correct bot username from 'rhdh-bot[bot]' to 'rhdh-bot'
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

Add theme customization support with custom sidebar navigation
  docs/customization.md
  e2e-tests/playwright/data/theme-constants.ts
  packages/app/src/components/Root/CustomSidebarItem.tsx
  packages/app/src/components/Root/Root.tsx
  packages/app/src/hooks/useThemedConfig.ts
Due: prettier --write

refactor: use theme palette for sidebar selected background color
  .ibm/pipelines/resources/config_map/app-config-rhdh.yaml
  docs/customization.md
  e2e-tests/playwright/data/theme-constants.ts
  packages/app/src/components/Root/CustomSidebarItem.tsx
  packages/app/src/hooks/useThemedConfig.ts
Due: prettier --write

refactor: modular pipeline architecture with multi-platform support
  .gitignore
  pipelines/config/k8s-resources/postgres/postgres-cred.yaml
  pipelines/core/env.sh
  pipelines/core/k8s.sh
  pipelines/core/reporting.sh
  pipelines/main.sh
  pipelines/modules/deployment/helm.sh
Due: prettier --write

extract packages to temp
  docker/install-dynamic-plugins.py
Due: none

feat: support autologout config
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
  packages/app/src/components/AppBase/AppBase.tsx
Due: none

chore: update to ubi9/nodejs-22:9.7-1763027323 from ubi9/nodejs-22:9.6-1762359834@sha256:0eb63480bf6782968c4f75f02af9c5747a73084008a264b7d4f2ee3158db42f2 [skip-build]
  .rhdh/docker/Dockerfile
Due: none

chore: update to ubi9/nodejs-22-minimal:9.7-1762215467 from ubi9/nodejs-22-minimal:9.6-1760544659 [skip-build]
  .rhdh/docker/Dockerfile
Due: none

chore: update to ubi9/nodejs-22:9.7-1763027323 from ubi9/nodejs-22:9.6-1762359834@sha256:0eb63480bf6782968c4f75f02af9c5747a73084008a264b7d4f2ee3158db42f2 [skip-build]
  docker/Dockerfile
Due: none

chore: update to ubi9/nodejs-22-minimal:9.7-1762215467 from ubi9/nodejs-22-minimal:9.6-1760544659 [skip-build]
  docker/Dockerfile
Due: none

chore: update to ubi9/nodejs-22:9.7-1763027323 from ubi9/nodejs-22:9.7-1763027323@sha256:f34e139a493588f03104e21fcd6b182d8884b7ae2cee7d91e56a8fff8a106b2f [skip-build]
  .rhdh/docker/Dockerfile
Due: none

chore: update to ubi9/nodejs-22-minimal:9.7-1762215467 from ubi9/nodejs-22-minimal:9.6-1760544659@sha256:d5bcdacfef806413e124784bf023d56da6eac76d8f55d4a2d056586df8e95e25 [skip-build]
  .rhdh/docker/Dockerfile
Due: none

chore: update to ubi9/nodejs-22:9.7-1763027323 from ubi9/nodejs-22:9.6-1761625559@sha256:9d0d55a9add9d4daebe21f08f0b7dacc1ce997b1e660f46ec194a91aaef75394 [skip-build]
  docker/Dockerfile
Due: none
