Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

chore: update rpms.lock.yaml [skip-build]
  rpms.lock.yaml
Due: prettier --write

added disable option
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

ci fix
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

added workaround
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

Fix custom theme
  e2e-tests/playwright/e2e/custom-theme.spec.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

disable quickstart
  e2e-tests/playwright/e2e/plugins/quick-start.spec.ts
Due: none

removed plugin change
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

Revert "chore: do not include the dynamic-plugins.default.yaml in the rhdh-hub image (let's see what breaks) (RHIDP-9835) (#3711)"
  .rhdh/docker/Dockerfile
  docker/Dockerfile
Due: none

Update values_showcase.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

modify registries.conf file to mimic an IDMS for mapping reg.rh.io to the OpenShift cluster's internal registry
  docker/install-dynamic-plugins.py
Due: none

fixme licensed-users-info.spec.ts
  e2e-tests/eslint.config.js
  e2e-tests/playwright/e2e/plugins/licensed-users-info-backend/licensed-users-info.spec.ts
Due: none

fix(tests): use latest catalog index
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

fix(tests): disable quick-start tests
  e2e-tests/playwright/e2e/plugins/quick-start.spec.ts
Due: none

fix(tests): disable licensed-user-info tests
  e2e-tests/playwright/e2e/plugins/licensed-users-info-backend/licensed-users-info.spec.ts
Due: none

fix(tests): add missing envvars from helm chart to init container
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

fixme licensed-users-info.spec.ts
  e2e-tests/eslint.config.js
Due: none

additional orchestrator tests
  e2e-tests/playwright/e2e/plugins/orchestrator/failswitch-workflow.spec.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: none

feat: adding testing workflow to orchestrator tests
  .ibm/pipelines/utils.sh
  e2e-tests/playwright/e2e/plugins/orchestrator/failswitch-workflow.spec.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix: ensure all default elements from list fields are replicated in the custom values file
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

chore: pin the RHDH image tag to next-1.9 in release-1.9
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

fix(values_showcase-rbac): ensure all default elements from list fields are replicated in the custom values file
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

chore(ci): ShellCheck with GH auth
  .github/workflows/bash-e2e-lint.yaml
Due: prettier --write

Revert "Update cleanup.sh"
  .ibm/pipelines/cleanup.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Update cleanup.sh
  .ibm/pipelines/cleanup.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): deprecated functions in EKS handles
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): add dynamic home page plugin to rbac values file
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

fix(e2e): add config values for rbac plugin
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

fix(e2e): re-enable rbac tests
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

feat(catalog): add configurable catalog table columns
  docs/dynamic-plugins/frontend-plugin-wiring.md
  e2e-tests/playwright/e2e/catalog-column-customization.spec.ts
  packages/app/config.d.ts
  packages/app/src/components/AppBase/AppBase.tsx
  packages/app/src/components/DynamicRoot/DynamicRoot.tsx
  packages/app/src/components/DynamicRoot/ScalprumRoot.tsx
  packages/app/src/utils/catalog/createCatalogColumns.test.ts
  packages/app/src/utils/catalog/createCatalogColumns.ts
  packages/app/src/utils/catalog/index.ts
  packages/plugin-utils/src/context/DynamicRootContext.tsx
  packages/plugin-utils/src/types.ts
Due: prettier --write

fixing prettier
  packages/app/src/components/AppBase/AppBase.tsx
  packages/app/src/components/DynamicRoot/ScalprumRoot.tsx
  packages/app/src/utils/catalog/createCatalogColumns.test.ts
  packages/app/src/utils/catalog/createCatalogColumns.ts
Due: none

fixing test
  packages/app/src/utils/catalog/createCatalogColumns.test.ts
Due: none

fixing prettier erro
  e2e-tests/playwright/e2e/catalog-column-customization.spec.ts
Due: none

add new drawer mount point
  app-config.dynamic-plugins.yaml
  docs/dynamic-plugins/frontend-plugin-wiring.md
  dynamic-plugins.default.yaml
  dynamic-plugins/yarn.lock
  packages/app/config.d.ts
  packages/app/src/components/AppBase/AppBase.tsx
  packages/app/src/components/Root/ApplicationDrawer.tsx
  packages/app/src/components/Root/ResizableDrawer.tsx
  packages/app/src/components/Root/Root.tsx
  packages/plugin-utils/src/types.ts
Due: prettier --write
