Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

RHDHBUGS-2160 - E2E Test Failure: "Default Global Header - Verify Profile Dropdown" fails with incorrect selector
  e2e-tests/playwright/e2e/default-global-header.spec.ts
Due: none

TEST RHDH 1.8 [skip-build]
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

TEST RHDH 1.8 [skip-build]
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

TEST RHDH 1.8 [skip-build]
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

TEST RHDH 1.8 [skip-build]
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

removed mcp-chat out of marketplace
  catalog-entities/marketplace/packages/all.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-mcp-chat-backend.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-mcp-chat.yaml
  catalog-entities/marketplace/plugins/all.yaml
  catalog-entities/marketplace/plugins/mcp-chat.yaml
Due: prettier --write

feat: fix for user-onboarding workflow for orchestrator testing
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

feat(ai-integrations): update AI Model Catalog marketplace to release specific tags
  catalog-entities/marketplace/packages/backstage-plugin-catalog-backend-module-model-catalog.yaml
  catalog-entities/marketplace/packages/backstage-plugin-catalog-techdoc-url-reader-backend.yaml
  catalog-entities/marketplace/plugins/ai-model-catalog.yaml
Due: prettier --write

chore: Update from ubi9/nodejs-22:9.6-1760386551@sha256:2fc0bcb5295f700c4f726978b423c50d90968df59fa0e98fc55a65062ddab8f6 to ubi9/nodejs-22:9.6-1761057796
  .rhdh/docker/Dockerfile
Due: none

chore: Update from ubi9/nodejs-22:9.6-1760386551@sha256:2fc0bcb5295f700c4f726978b423c50d90968df59fa0e98fc55a65062ddab8f6 to ubi9/nodejs-22:9.6-1761057796
  docker/Dockerfile
Due: none

chore: Update to ubi9/nodejs-22:9.6-1761625559 from ubi9/nodejs-22:9.6-1761057796@sha256:c8a0df4d374a0f41a3d796ac22dbd359d79e019cd11ff81c93816217d79a4f6c [skip-build]
  docker/Dockerfile
Due: none

chore: Update to ubi9/nodejs-22:9.6-1761625559 from ubi9/nodejs-22:9.6-1761057796@sha256:c8a0df4d374a0f41a3d796ac22dbd359d79e019cd11ff81c93816217d79a4f6c [skip-build]
  .rhdh/docker/Dockerfile
Due: none

chore: update rpms.lock.yaml
  rpms.lock.yaml
Due: prettier --write

chore: update rpms.lock.yaml (#3629)
  rpms.lock.yaml
Due: prettier --write

fix(orchestrator-infra): use correct label for Logic Operator controller pod
  .ibm/orchestrator-infra/README.md
  .ibm/orchestrator-infra/roles/deploy-rhdh/tasks/install-orchestrator-infra.yaml
Due: prettier --write

fix(orchestrator-infra): use correct PostgreSQL service name for workflows
  .ibm/orchestrator-infra/roles/deploy-rhdh/tasks/deploy-orchestrator-workflows.yaml
Due: prettier --write

fix(orchestrator-infra): use postgres user to create orchestrator database
  .ibm/orchestrator-infra/roles/deploy-rhdh/tasks/deploy-orchestrator-workflows.yaml
Due: prettier --write

feat(orchestrator-infra): add configurable workflow image support
  .ibm/orchestrator-infra/deploy.yml
  .ibm/orchestrator-infra/roles/deploy-rhdh/tasks/deploy-orchestrator-workflows.yaml
Due: prettier --write

fix(orchestrator-infra): correct Data Index Service URL in script output
  .ibm/orchestrator-infra/deploy-orchestrator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

RHIDP-9016
  .ibm/orchestrator-infra/deploy-orchestrator.sh
  .ibm/orchestrator-infra/scripts/04-deploy-workflows.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

docs(orchestrator-infra): update Data Index Service URL with correct port
  .ibm/orchestrator-infra/README.md
Due: prettier --write

Update setup.yml to refine namespace creation condition for workflows
  .ibm/orchestrator-infra/roles/deploy-workflows/tasks/setup.yml
Due: prettier --write

chore(orchestrator-infra): remove obsolete CHANGELOG and REVIEW_RESPONSES files
  .ibm/orchestrator-infra/CHANGELOG.md
  .ibm/orchestrator-infra/REVIEW_RESPONSES.md
  .ibm/orchestrator-infra/deploy.yml
Due: prettier --write

fix(orchestrator-infra): add OperatorGroup for Logic Operator namespace
  .ibm/orchestrator-infra/roles/deploy-rhdh/tasks/install-orchestrator-infra.yaml
Due: prettier --write

fix(orchestrator-infra): ensure rhdh_ns variable uses orchestrator-infra namespace
  .ibm/orchestrator-infra/deploy.yml
Due: prettier --write

fix(orchestrator-infra): add missing workflow_repo and workflow_manifests_subpath variables
  .ibm/orchestrator-infra/deploy.yml
Due: prettier --write

fix(orchestrator-infra): use correct secret key names for PostgreSQL credentials
  .ibm/orchestrator-infra/roles/deploy-rhdh/tasks/deploy-orchestrator-workflows.yaml
Due: prettier --write

fix(orchestrator-infra): add missing orchestrator_db_name variable to playbook
  .ibm/orchestrator-infra/deploy.yml
Due: prettier --write

fix(orchestrator-infra): ensure Knative components are ready before installing Logic Operator
  .ibm/orchestrator-infra/roles/deploy-rhdh/tasks/install-orchestrator-infra.yaml
Due: prettier --write

fix(orchestrator-infra): improve workflow pod wait conditions with timeout
  .ibm/orchestrator-infra/roles/deploy-rhdh/tasks/deploy-orchestrator-workflows.yaml
Due: prettier --write

RHIDP-9016 - removing empty file
  .ibm/orchestrator-infra/configure-rhdh-helm.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(orchestrator-infra): improve namespace cleanup process
  .ibm/orchestrator-infra/deploy-orchestrator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(orchestrator-infra): configure Logic Operator for AllNamespaces mode
  .ibm/orchestrator-infra/roles/deploy-rhdh/tasks/install-orchestrator-infra.yaml
Due: prettier --write

fix(orchestrator-infra): check for Succeed condition instead of Ready
  .ibm/orchestrator-infra/roles/deploy-rhdh/tasks/install-orchestrator-infra.yaml
Due: prettier --write

fix(orchestrator-infra): wait for Serverless Logic Operator before creating SonataFlowPlatform
  .ibm/orchestrator-infra/roles/deploy-rhdh/tasks/install-orchestrator-infra.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
