Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

debug: add 2-hour sleep after orchestrator workflow deployment
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): correct Quarkus reactive PostgreSQL SSL env var name
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(e2e): remove Google signin test
  e2e-tests/playwright/e2e/google-signin-happy-path.spec.ts
  e2e-tests/playwright/utils/common.ts
Due: none

chore(e2e): cleanup Jira links
  e2e-tests/playwright/e2e/plugins/topology/topology-rbac.spec.ts
Due: none

chore: update extensions.spec.ts jira link
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: none

chore(e2e): remove custom plugin tests
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: none

chore(e2e): propper GitHub fixme
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
  e2e-tests/playwright/e2e/github-integration-org-fetch.spec.ts
Due: none

chore: link GH Discovery with new Jira
  e2e-tests/playwright/e2e/github-discovery.spec.ts
Due: none

chore: replace old Jira issue with new one - OSD
  e2e-tests/playwright/e2e/catalog-timestamp.spec.ts
  e2e-tests/playwright/e2e/github-integration-org-fetch.spec.ts
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
  e2e-tests/playwright/e2e/plugins/http-request.spec.ts
  e2e-tests/playwright/e2e/plugins/scaffolder-backend-module-annotator/annotator.spec.ts
  e2e-tests/playwright/e2e/plugins/scaffolder-relation-processor/scaffolder-relation-processor.spec.ts
Due: none

Update extensions.spec.ts
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: none

Update quick-start.spec.ts
  e2e-tests/playwright/e2e/plugins/quick-start.spec.ts
Due: none

chore: Topology RBAC link new bug issue
  e2e-tests/playwright/e2e/plugins/topology/topology-rbac.spec.ts
Due: none

extensons update
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: none

Add registry fallback to ensure plugin installation works when RHDH images are unavailable
  docker/install-dynamic-plugins.py
  docker/test_install-dynamic-plugins.py
Due: none

chore: update py deps to latest plantuml-markdown 3.11.1 (Feb 2025)
  python/README.requirements.md
  python/cachito_hash.sh
  python/requirements-build.in
  python/requirements-build.txt
  python/requirements.in
  python/requirements.txt
Due: prettier --write

switch back to github zipball because pypi package is missing test-requirements.txt and that makes hermeto sad
  python/README.requirements.md
  python/cachito_hash.sh
  python/requirements-build.in
  python/requirements-build.txt
  python/requirements-dev.in
  python/requirements.in
  python/requirements.txt
Due: prettier --write

switch from setup.py and .in files to pyproject.toml + uv.lock + generated .txt files
  python/README.requirements.md
  python/pyproject.toml
  python/requirements-build.in
  python/requirements-build.txt
  python/requirements-dev.in
  python/requirements-dev.txt
  python/requirements.in
  python/requirements.txt
  python/setup.py
  python/uv.lock
Due: prettier --write

chore: typo install from req.txt (lock) files not .in (unlocked) files (RHIDP-8978)
  .github/workflows/pr.yaml
Due: prettier --write

heremtic test failed with missing cython so add 3.2.4 and see what happens
  python/pyproject.toml
  python/requirements-build.txt
  python/requirements-dev.txt
  python/requirements.txt
  python/uv.lock
Due: none

Update ocp-operator.sh
  .ibm/pipelines/jobs/ocp-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Increase dynamic plugins volume claim
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-rbac.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-rbac_K8s.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start_K8s.yaml
Due: prettier --write

chore(ci): fix serverless logic operator name
  .ibm/pipelines/lib/operators.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix cleanup
  .ibm/pipelines/lib/orchestrator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

throw error to gather pod logs
  .ibm/pipelines/lib/orchestrator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

orchestrator jira issue
  .ibm/pipelines/jobs/ocp-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(ci): disable Orchestrator on Operator jobs
  .ibm/pipelines/jobs/ocp-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): increase deployment wait timeout to 15 minutes
  .ibm/pipelines/lib/orchestrator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

revert return
  .ibm/pipelines/lib/orchestrator.sh
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-rbac.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-rbac_K8s.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start_K8s.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(ci): update Operator CRD config
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-rbac.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-rbac_K8s.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-runtime.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start_K8s.yaml
Due: prettier --write

Skip Runtime tests on Operator
  .ibm/pipelines/jobs/ocp-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

skip Orchestrator tests on Operator
  e2e-tests/playwright/e2e/plugins/orchestrator/failswitch-workflow.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/greeting-workflow.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/workflow-all-runs-validations.spec.ts
Due: none

Revert all changes in orchestrator
  .ibm/pipelines/lib/orchestrator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(ci): better backstage restart in orchestrator
  .ibm/pipelines/lib/orchestrator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): add polling for operator configmap and fix yq merge syntax
  .ibm/pipelines/lib/orchestrator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(ci): delete unused functions
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Update orchestrator.sh
  .ibm/pipelines/lib/orchestrator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

hatch-nodejs-version>=0.3.0
  python/pyproject.toml
  python/requirements-build.txt
  python/uv.lock
Due: none

update
  .ibm/pipelines/value_files/diff-values_showcase-rbac_OSD-GCP.yaml
  .ibm/pipelines/value_files/diff-values_showcase_AKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_EKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_GKE.yaml
  .ibm/pipelines/value_files/diff-values_showcase_OSD-GCP.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

revert inherit
  .ibm/pipelines/value_files/diff-values_showcase-rbac_OSD-GCP.yaml
  .ibm/pipelines/value_files/diff-values_showcase_AKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_EKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_GKE.yaml
  .ibm/pipelines/value_files/diff-values_showcase_OSD-GCP.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

go back
  .ibm/pipelines/value_files/diff-values_showcase-rbac_OSD-GCP.yaml
  .ibm/pipelines/value_files/diff-values_showcase_AKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_EKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_GKE.yaml
  .ibm/pipelines/value_files/diff-values_showcase_OSD-GCP.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
