Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

test: add ldap tests (#3083)
  .ibm/pipelines/env_variables.sh
  e2e-tests/package.json
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/authProviders/README.md
  e2e-tests/playwright/e2e/authProviders/github.spec.ts
  e2e-tests/playwright/e2e/authProviders/ldap.spec.ts
  e2e-tests/playwright/e2e/authProviders/microsoft.spec.ts
  e2e-tests/playwright/e2e/authProviders/oidc.spec.ts
  e2e-tests/playwright/e2e/configuration-test/config-map.spec.ts
  e2e-tests/playwright/e2e/default-global-header.spec.ts
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology.spec.ts
  e2e-tests/playwright/support/api/notifications.ts
  e2e-tests/playwright/utils/authentication-providers/keycloak-helper.ts
  e2e-tests/playwright/utils/authentication-providers/msgraph-helper.ts
  e2e-tests/playwright/utils/authentication-providers/rhdh-deployment.ts
  e2e-tests/playwright/utils/helper.ts
  e2e-tests/playwright/utils/kube-client.ts
  e2e-tests/playwright/utils/ui-helper.ts
  e2e-tests/yarn.lock
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

feat(quickstart): add required changes for quickstart integration with RHDH (#3068)
  .ibm/pipelines/resources/config_map/dynamic-global-header-config.yaml
  app-config.dynamic-plugins.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-global-header.yaml
  dynamic-plugins.default.yaml
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-global-header/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-quickstart/.eslintignore
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-quickstart/.eslintrc.js
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-quickstart/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-quickstart/src/index.ts
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-quickstart/tsconfig.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-quickstart/turbo.json
  dynamic-plugins/yarn.lock
  e2e-tests/playwright/e2e/default-global-header.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology.spec.ts
  packages/app/config.d.ts
  packages/app/src/components/AppBase/AppBase.tsx
  packages/app/src/components/DynamicRoot/CommonIcons.tsx
  packages/app/src/components/ErrorPages/ErrorPage.tsx
  packages/app/src/components/Root/Root.tsx
  plugins/dynamic-plugins-info/src/components/InternalPluginsMap.ts
Due: prettier --write

chore: add default configs for ldap dynamic plugin (#3079)
  dynamic-plugins.default.yaml
Due: prettier --write

fix: add missing favicon and change link (#3043)
  packages/app/public/favicon-192x192.png
  packages/app/public/index.html
Due: none

bump adoptions insights backend plugin (#3099)
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-adoption-insights-backend-dynamic/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

feat(e2e): add E2E tests for Adoption-Insights plugin (#3054)
  e2e-tests/playwright/e2e/plugins/adoption-Insights/adoption-Insights.spec.ts
  e2e-tests/playwright/support/pages/adoption-Insights.ts
Due: none

chore: update parfuemerie-douglas-scaffolder-backend-module-azure-repositories to fix CVE-2024-53983 (#3113)
  dynamic-plugins/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

docs(lightspeed): add lightspeed to extensions catalog (#3121)
  catalog-entities/marketplace/packages/all.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-lightspeed-backend.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-lightspeed.yaml
  catalog-entities/marketplace/plugins/all.yaml
  catalog-entities/marketplace/plugins/lightspeed.yaml
Due: prettier --write

chore(ci): automate EKS e2e tests (#3123)
  .ibm/images/Dockerfile
  .ibm/pipelines/cluster/eks/aws.sh
  .ibm/pipelines/cluster/eks/eks-helm-deployment.sh
  .ibm/pipelines/cluster/eks/eks-operator-deployment.sh
  .ibm/pipelines/cluster/eks/manifest/eks-operator-ingress.yaml
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/value_files/diff-values_showcase-rbac_EKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_EKS.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

feat: add Adoption Insights to Extensions Marketplace of RHDH (#3085)
  catalog-entities/marketplace/packages/all.yaml
  catalog-entities/marketplace/packages/rhdh-backstage-plugin-adoption-insights-backend.yaml
  catalog-entities/marketplace/packages/rhdh-backstage-plugin-adoption-insights.yaml
  catalog-entities/marketplace/packages/rhdh-backstage-plugin-analytics-module-adoption-insights.yaml
  catalog-entities/marketplace/plugins/adoption-insights.yaml
  catalog-entities/marketplace/plugins/all.yaml
Due: prettier --write

feat(app-next): app-next initial spike (#3046)
  .rhdh/docker/Dockerfile
  docker/Dockerfile
  packages/app-next/.eslintrc.js
  packages/app-next/README.md
  packages/app-next/package.json
  packages/app-next/public/apple-touch-icon.png
  packages/app-next/public/favicon-96x96.png
  packages/app-next/public/favicon.ico
  packages/app-next/public/favicon.svg
  packages/app-next/public/index.html
  packages/app-next/public/robots.txt
  packages/app-next/public/site.webmanifest
  packages/app-next/public/web-app-manifest-192x192.png
  packages/app-next/public/web-app-manifest-512x512.png
  packages/app-next/src/App.test.tsx
  packages/app-next/src/App.tsx
  packages/app-next/src/index.tsx
  packages/app-next/src/setupTests.ts
  packages/backend/package.json
  yarn.lock
Due: prettier --write

chore: bump keycloak plugin version and test sanitize[User/Group]NameTransformer (#3092)
  catalog-entities/marketplace/packages/backstage-community-plugin-catalog-backend-module-keycloak.yaml
  dynamic-plugins/wrappers/backstage-community-plugin-catalog-backend-module-keycloak-dynamic/package.json
  dynamic-plugins/yarn.lock
  e2e-tests/playwright/e2e/authProviders/oidc.spec.ts
Due: prettier --write

chore(init): skip including dynamic packages if file not exists (#3120)
  docker/install-dynamic-plugins.py
Due: none

feat(UI): add my profile button in default profile dropdown (#3042)
  .ibm/pipelines/resources/config_map/dynamic-global-header-config.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-global-header.yaml
  dynamic-plugins.default.yaml
  e2e-tests/playwright/e2e/default-global-header.spec.ts
  e2e-tests/playwright/utils/ui-helper.ts
  packages/app/src/components/DynamicRoot/CommonIcons.tsx
  yarn.lock
Due: prettier --write

chore(e2e): adding accessibility tests (#3060)
  e2e-tests/package.json
  e2e-tests/playwright/e2e/catalog-scaffolded-from-link.spec.ts
  e2e-tests/playwright/e2e/extensions.spec.ts
  e2e-tests/playwright/e2e/home-page-customization.spec.ts
  e2e-tests/playwright/e2e/learning-path-page.spec.ts
  e2e-tests/playwright/utils/accessibility.ts
  e2e-tests/yarn.lock
Due: prettier --write

FLPATH-2318 - Add Orchestrator deployment to RHDH CI (#2915)
  .ibm/pipelines/utils.sh
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(e2e): skip failing bulk-import and global-header (#3105)
  .ibm/pipelines/reporting.sh
  .ibm/pipelines/utils.sh
  e2e-tests/playwright/e2e/default-global-header.spec.ts
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(e2e): Skip plugin in sanity-check (#3119)
  .ibm/pipelines/value_files/diff-values_showcase-sanity-plugins.yaml
Due: prettier --write

chore: update LDAP plugin support to production (#3111)
  catalog-entities/marketplace/plugins/ldap-catalog-integration.yaml
  dynamic-plugins/wrappers/backstage-plugin-catalog-backend-module-ldap-dynamic/package.json
Due: prettier --write

chore: tagRelease.sh: bump to 1.8.0 in main branch + regen yarn.lock (#3127)
  dynamic-plugins/package.json
  e2e-tests/package.json
  package.json
  packages/app/src/build-metadata.json
Due: prettier --write

chore: update pbkdf2 to v3.1.3 (#3097)
  yarn.lock
Due: none

chore(e2e): skip failing adoption tests and fix GitHub (#3140)
  e2e-tests/playwright/e2e/plugins/adoption-Insights/adoption-Insights.spec.ts
Due: none

chore: add github team membership check to skip workflow approvals for internal team (#3291)
  .github/actions/check-author/action.yaml
  .github/workflows/pr.yaml
Due: prettier --write

docs(ci): document enhanced reporting (#3093)
  .ibm/pipelines/cluster/eks/aws.sh
  docs/e2e-tests/enhanced-ci-reporting.md
  docs/monitoring-and-logging.md
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(release): add next-1.y tags from commits on the release-** branches (RHIDP-8256) (#3186)
  .github/workflows/next-build-image.yaml
Due: prettier --write

chore: update backstage-community-plugin-rbac to v1.42.1 (#3194)
  dynamic-plugins/wrappers/backstage-community-plugin-rbac/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

Merge plugin config of include files (#3143)
  docker/install-dynamic-plugins.py
Due: none

feat: add apic-backstage to rhdh marketplace (#3088)
  catalog-entities/marketplace/packages/all.yaml
  catalog-entities/marketplace/packages/apic-backstage-plugin.yaml
  catalog-entities/marketplace/plugins/all.yaml
  catalog-entities/marketplace/plugins/ibm-apiconnect-backstage.yaml
Due: prettier --write

fix(adoptionInsights): improve test stability and reduce flakiness in Adoption Insights tests (#3146)
  e2e-tests/playwright/e2e/plugins/adoption-insights/adoption-insights.spec.ts
  e2e-tests/playwright/support/pages/adoption-Insights.ts
  e2e-tests/playwright/support/pages/adoption-insights.ts
Due: none

feat(servicenow): add wrappers for servicenow plugin packages (#3104)
  app-config.dynamic-plugins.yaml
  dynamic-plugins.default.yaml
  dynamic-plugins/wrappers/backstage-community-plugin-servicenow-backend-dynamic/.eslintignore
  dynamic-plugins/wrappers/backstage-community-plugin-servicenow-backend-dynamic/.eslintrc.js
  dynamic-plugins/wrappers/backstage-community-plugin-servicenow-backend-dynamic/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-servicenow-backend-dynamic/src/index.ts
  dynamic-plugins/wrappers/backstage-community-plugin-servicenow-backend-dynamic/tsconfig.json
  dynamic-plugins/wrappers/backstage-community-plugin-servicenow-backend-dynamic/turbo.json
  dynamic-plugins/wrappers/backstage-community-plugin-servicenow/.eslintignore
  dynamic-plugins/wrappers/backstage-community-plugin-servicenow/.eslintrc.js
  dynamic-plugins/wrappers/backstage-community-plugin-servicenow/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-servicenow/src/index.ts
  dynamic-plugins/wrappers/backstage-community-plugin-servicenow/tsconfig.json
  dynamic-plugins/wrappers/backstage-community-plugin-servicenow/turbo.json
  dynamic-plugins/yarn.lock
  plugins/dynamic-plugins-info/src/components/InternalPluginsMap.ts
  yarn.lock
Due: prettier --write

Update dynatrace commercial entities (#3240)
  catalog-entities/marketplace/packages/dynatrace-backstage-plugin-dql-backend.yaml
  catalog-entities/marketplace/packages/dynatrace-backstage-plugin-dql.yaml
Due: prettier --write

test: skip gitlab discovery UI tests due to RHDHBUGS-1977 [skip-build] (#3284)
  e2e-tests/playwright/e2e/plugins/gitlab/gitlab-discovery.spec.ts
Due: none

chore(e2e): fix Kubernetes Actions plugin by adding wait (#3226) (#3245)
  e2e-tests/playwright/e2e/plugins/kubernetes-actions/kubernetes-actions.spec.ts
Due: none

chore(deps): update instructions for testing local python dep changes w/ hermeto and in konflux [skip-build] (#3116)
  python/README.requirements.md
  python/hermeto_github.json
  python/hermeto_gitlab.json
Due: prettier --write

chore(e2e): quick start e2e (#3147)
  e2e-tests/playwright/e2e/plugins/quick-start.spec.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

chore(ci): enhance and fix helm upgrade e2e test (#3094)
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/jobs/ocp-nightly.sh
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/ocp-cluster-claim-login.sh
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/utils.sh
  .ibm/pipelines/value_files/diff-values_showcase_upgrade.yaml
  .ibm/pipelines/value_files/values_showcase_1.5.yaml
  e2e-tests/playwright.config.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(ci): fix Helm k8s deployments (#3108)
  .ibm/images/Dockerfile
  .ibm/pipelines/cluster/aks/aks-helm-deployment.sh
  .ibm/pipelines/cluster/eks/eks-helm-deployment.sh
  .ibm/pipelines/cluster/gke/gke-helm-deployment.sh
  .ibm/pipelines/utils.sh
  .ibm/pipelines/value_files/diff-values_showcase-rbac_AKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase-rbac_EKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase-rbac_GKE.yaml
  .ibm/pipelines/value_files/diff-values_showcase_AKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_EKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_GKE.yaml
  e2e-tests/playwright/e2e/smoke-test.spec.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(deps): update bulk-import wrappers (#3180)
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-bulk-import-backend.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-bulk-import.yaml
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import/package.json
  dynamic-plugins/yarn.lock
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: prettier --write

Fix invalid partOf (#3137)
  catalog-entities/marketplace/packages/backstage-plugin-techdocs-module-addons-contrib.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
