Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): add check for restricted catalog entities for admin
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

fix(e2e): ensure we navigate to rbac page
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

fix(homepage): polish tag UI and make tags link to filter catalog
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-dynamic-home-page/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

chore(ci): use safe Kube API error logging
  e2e-tests/playwright/utils/kube-client.ts
Due: none

changing other paths too
  .ibm/pipelines/resources/config_map/dynamic-global-floating-action-button-config.yaml
  app-config.dynamic-plugins.yaml
  scripts/rhdh-openshift-setup/values.yaml
Due: prettier --write

removing from other files
  e2e-tests/playwright/e2e/plugins/quick-start.spec.ts
Due: none

chore(e2e): add e2e tests for autologout feature
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
  e2e-tests/playwright/utils/authentication-providers/rhdh-deployment.ts
  e2e-tests/playwright/utils/authentication-providers/yamls/backstage.yaml
Due: prettier --write

Migrate tests to use extensions catalog entities from overlay repo
  e2e-tests/playwright/e2e/extensions.spec.ts
  e2e-tests/playwright/support/pages/extensions.ts
Due: none

Update e2e tests in RHDH for bulk import UI changes
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: prettier --write

chore: clean up translation files
  translations/backstage-2026-01-08-fr.json
  translations/backstage-2026-01-08-it.json
  translations/backstage-2026-01-08-ja.json
  translations/community-plugins-2025-12-05-fr.json
  translations/community-plugins-2025-12-05-it.json
  translations/community-plugins-2025-12-05-ja.json
  translations/community-plugins_v1.8_s3281-fr-C.json
  translations/rhdh-plugins-reference-2025-12-05-fr-C.json
  translations/rhdh-plugins-reference-2025-12-05-it-C.json
  translations/rhdh-plugins-reference-2025-12-05-ja-C.json
  translations/rhdh-reference-2025-12-05-fr-C.json
  translations/rhdh-reference-2025-12-05-it-C.json
  translations/rhdh-reference-2025-12-05-ja-C.json
Due: prettier --write

fixed e2e tests
  e2e-tests/playwright/e2e/localization/locale.ts
  translations/community-plugins-2025-12-05-it.json
  translations/community-plugins-2025-12-05-ja.json
  translations/test/community-plugins-reference-2025-12-05-fr.json
  translations/test/rhdh-plugins-reference-2025-12-05-fr.json
  translations/test/rhdh-reference-2025-12-05-fr.json
Due: prettier --write

addressed review feedback
  translations/backstage-2026-01-08-fr.json
  translations/backstage-2026-01-08-it.json
  translations/backstage-2026-01-08-ja.json
Due: prettier --write

rename translation files and add third party community plugins translations
  e2e-tests/playwright/e2e/localization/locale.ts
  translations/backstage-fr.json
  translations/backstage-it.json
  translations/backstage-ja.json
  translations/community-plugins-fr.json
  translations/community-plugins-it.json
  translations/community-plugins-ja.json
  translations/test/community-plugins-fr.json
  translations/test/rhdh-fr.json
  translations/test/rhdh-plugins-fr.json
Due: prettier --write

updated fr translation and added a missing rbac key
  translations/backstage-2026-01-08-fr.json
  translations/community-plugins-2025-12-05-fr.json
  translations/community-plugins-2025-12-05-it.json
  translations/community-plugins-2025-12-05-ja.json
Due: prettier --write

fix(e2e): re-enable skipped role deletion test
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

fix(e2e): expand test to cover the access of the user
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

fix(e2e): allow admin to also view users and groups
  e2e-tests/playwright/support/page-objects/rbac-po.ts
Due: none

chore: updated wrapper versions
  dynamic-plugins/wrappers/backstage-community-plugin-acr/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-rbac/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-tekton/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-topology/package.json
  dynamic-plugins/yarn.lock
  yarn.lock
Due: prettier --write

fix(e2e): add missing tech-radar config
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

refactor(ci): extract namespace functions to lib/namespace.sh
  .ibm/pipelines/cluster/aks/aks-helm-deployment.sh
  .ibm/pipelines/cluster/aks/aks-operator-deployment.sh
  .ibm/pipelines/cluster/eks/eks-helm-deployment.sh
  .ibm/pipelines/cluster/eks/eks-operator-deployment.sh
  .ibm/pipelines/cluster/gke/gke-helm-deployment.sh
  .ibm/pipelines/cluster/gke/gke-operator-deployment.sh
  .ibm/pipelines/install-methods/operator.sh
  .ibm/pipelines/jobs/aks-helm.sh
  .ibm/pipelines/jobs/auth-providers.sh
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/gke-helm.sh
  .ibm/pipelines/jobs/gke-operator.sh
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/lib/README.md
  .ibm/pipelines/lib/namespace.sh
  .ibm/pipelines/lib/orchestrator.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Create a centralized run_command() helper that captures and surfaces stderr/stdout from subprocess calls
  docker/install-dynamic-plugins.py
Due: none

fix: surface skopeo/npm stderr in error messages
  docker/test_install-dynamic-plugins.py
Due: none

chore: update OWNERs file to give install team access to `.github`.
  .github/OWNERS
  OWNERS_ALIASES
  e2e-tests/OWNERS
  scripts/generate-owners-aliases.mjs
Due: none

Revert "chore: support konflux's ugly config implementation for annotations so we can extract the package path (RHDHBUGS-2530) (#4080)"
  docker/install-dynamic-plugins.py
  docker/test_install-dynamic-plugins.py
Due: none

refactor(ci): update job handlers to use namespaced functions
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/jobs/upgrade.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor(ci): update cluster provider scripts to use namespaced functions
  .ibm/pipelines/cluster/aks/aks-helm-deployment.sh
  .ibm/pipelines/cluster/aks/aks-operator-deployment.sh
  .ibm/pipelines/cluster/eks/eks-helm-deployment.sh
  .ibm/pipelines/cluster/eks/eks-operator-deployment.sh
  .ibm/pipelines/cluster/gke/gke-helm-deployment.sh
  .ibm/pipelines/cluster/gke/gke-operator-deployment.sh
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor(ci): remove backward compatibility shims
  .ibm/pipelines/lib/helm.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: add back the unit tests
  docker/test_install-dynamic-plugins.py
Due: none

additional orchestrator tests
  e2e-tests/playwright/e2e/plugins/orchestrator/failswitch-workflow.spec.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: none

refactor(ci): clean install-methods using lib functions
  .ibm/pipelines/install-methods/helm.sh
  .ibm/pipelines/install-methods/operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

feat(ci): implement lib/config.sh module
  .ibm/pipelines/cluster/aks/aks-operator-deployment.sh
  .ibm/pipelines/cluster/eks/eks-operator-deployment.sh
  .ibm/pipelines/cluster/gke/gke-operator-deployment.sh
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/lib/README.md
  .ibm/pipelines/lib/config.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

dep: remove unused janus dependency
  packages/backend/package.json
  yarn.lock
Due: prettier --write

fix(ci): migrate remaining k8s-wait function calls
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor(ci): extract testing functions to lib/testing.sh
  .ibm/pipelines/jobs/aks-helm.sh
  .ibm/pipelines/jobs/aks-operator.sh
  .ibm/pipelines/jobs/auth-providers.sh
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
  .ibm/pipelines/jobs/gke-helm.sh
  .ibm/pipelines/jobs/gke-operator.sh
  .ibm/pipelines/jobs/ocp-nightly.sh
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/jobs/ocp-pull-test.sh
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/lib/README.md
  .ibm/pipelines/lib/testing.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: add additional security remediations
  .github/actions/check-image-and-changes/action.yaml
  .github/workflows/pr-1.8.yaml
  .github/workflows/pr-build-image.yaml
  .github/workflows/pr.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
