Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: re-enable tests in custom-theme.spec.ts
  e2e-tests/playwright/e2e/custom-theme.spec.ts
Due: none

chore: re-enable tests in default-global-header.spec.ts
  e2e-tests/playwright/e2e/default-global-header.spec.ts
Due: none

chore: re-enable tests in dynamic-home-page-customization.spec.ts
  e2e-tests/playwright/e2e/dynamic-home-page-customization.spec.ts
Due: none

chore: re-enable tests in extensions.spec.ts
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: none

chore: re-enable tests in analytics-enabled.spec.ts
  e2e-tests/playwright/e2e/plugins/analytics/analytics-enabled.spec.ts
Due: none

chore: re-enable tests in bulk-import.spec.ts
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

chore: re-enable tests in mark-notifications.spec.ts
  e2e-tests/playwright/e2e/plugins/notifications/mark-notifications.spec.ts
Due: none

feat(e2e): replace nth-child selectors and force clicks in catalog and github tests
  e2e-tests/playwright/e2e/catalog-timestamp.spec.ts
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
Due: none

feat(e2e): remove waitForTimeout and force clicks from rbac, oidc, kubernetes tests
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
  e2e-tests/playwright/e2e/plugins/kubernetes-actions/kubernetes-actions.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

feat(e2e): add semantic selectors and refactor page objects
  e2e-tests/playwright/support/page-objects/global-obj.ts
  e2e-tests/playwright/support/page-objects/page-obj.ts
  e2e-tests/playwright/support/selectors/semantic-selectors.ts
Due: none

fix(e2e): apply qoDo bot review suggestions
  e2e-tests/playwright/support/page-objects/page-obj.ts
  e2e-tests/playwright/support/selectors/semantic-selectors.ts
Due: none

fix(e2e): resolve ESLint errors in catalog-timestamp and oidc tests
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
  e2e-tests/playwright/e2e/catalog-timestamp.spec.ts
Due: none

style(e2e): apply prettier formatting to refactored files
  e2e-tests/playwright/e2e/catalog-timestamp.spec.ts
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/support/page-objects/global-obj.ts
  e2e-tests/playwright/support/page-objects/page-obj.ts
  e2e-tests/playwright/support/selectors/semantic-selectors.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

fix(e2e): remove networkidle from WaitStrategies per ESLint rule
  e2e-tests/playwright/support/selectors/semantic-selectors.ts
Due: none

fix(e2e): remove unused imports in kubernetes-actions and rbac tests
  e2e-tests/playwright/e2e/plugins/kubernetes-actions/kubernetes-actions.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

fix(ci): wait for OpenShift Pipelines CRDs before applying Tekton YAMLs
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor(ci): modularize pipeline utilities into lib/ structure
  .ibm/pipelines/README.md
  .ibm/pipelines/jobs/auth-providers.sh
  .ibm/pipelines/jobs/ocp-nightly.sh
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/lib/README.md
  .ibm/pipelines/lib/common.sh
  .ibm/pipelines/lib/k8s-wait.sh
  .ibm/pipelines/lib/operators.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): comment out undefined EKS verify functions
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): address all SonarQube code quality issues in lib modules
  .ibm/pipelines/lib/common.sh
  .ibm/pipelines/lib/k8s-wait.sh
  .ibm/pipelines/lib/operators.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): skip Tekton installation for K8s deployments (AKS/EKS/GKE)
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor(ci): address zdrapela review comments
  .ibm/pipelines/lib/README.md
  .ibm/pipelines/lib/common.sh
  .ibm/pipelines/lib/k8s-wait.sh
  .ibm/pipelines/lib/operators.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): add spot node tolerations for Backstage pods in AKS
  .ibm/pipelines/value_files/diff-values_showcase-rbac_AKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_AKS.yaml
Due: prettier --write

chore(e2e-tests): replace some echo with logger statements
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(e2e-tests): install operators parallel
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: re-enable tests in auditor-rbac.spec.ts
  e2e-tests/playwright/e2e/audit-log/auditor-catalog.spec.ts
  e2e-tests/playwright/e2e/audit-log/auditor-rbac.spec.ts
Due: none

chore: re-enable tests in auditor-catalog.spec.ts
  e2e-tests/playwright/e2e/audit-log/auditor-catalog.spec.ts
Due: none

chore: re-enable tests in verify-redis-cache.spec.ts
  e2e-tests/playwright/e2e/verify-redis-cache.spec.ts
Due: none

test(e2e): update orchestrator RBAC spec
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

fix(e2e): increase timeout for flaky orchestrator RBAC admin visibility test
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

test(e2e): fix orchestrator RBAC spec lint and response status usage
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

feat: implement orchestrator RBAC e2e tests
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  .ibm/pipelines/utils.sh
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

feat: add rhdh-local as a local testing option
  .gitignore
  docs/e2e-tests/README.md
  e2e-tests/README.md
  e2e-tests/local/README.md
  e2e-tests/local/config-basic.yaml
  e2e-tests/local/config-rbac.yaml
  e2e-tests/local/defaults.env
  scripts/run-e2e-tests.sh
Due: prettier --write

chore: re-enable tests in techdocs.spec.ts
  e2e-tests/playwright/e2e/techdocs.spec.ts
Due: none

chore: re-enable tests in settings.spec.ts
  e2e-tests/playwright/e2e/settings.spec.ts
Due: none

chore: re-enable tests in scaffolder-backend-module-annotator.spec.ts
  e2e-tests/playwright/e2e/scaffolder-backend-module-annotator.spec.ts
Due: none

chore: re-enable tests in quay.spec.ts
  e2e-tests/playwright/e2e/plugins/quay/quay.spec.ts
Due: none

chore: re-enable tests in greeting-workflow.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/greeting-workflow.spec.ts
Due: none

chore: re-enable tests in filter-notifications-by-severity.spec.ts
  e2e-tests/playwright/e2e/plugins/notifications/filter-notifications-by-severity.spec.ts
Due: none

chore: re-enable tests in licensed-users-info.spec.ts
  e2e-tests/playwright/e2e/plugins/licensed-users-info-backend/licensed-users-info.spec.ts
Due: none

chore: re-enable tests in middleware.spec.ts
  e2e-tests/playwright/e2e/plugins/middleware.spec.ts
Due: none

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
