Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

feat(bulk-import): update yarn.lock
  dynamic-plugins/yarn.lock
Due: none

upate marketplace wrapper versions
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-catalog-backend-module-m.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-marketplace-backend.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-marketplace.yaml
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-catalog-backend-module-marketplace-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

updated default marketplace config
  dynamic-plugins.default.yaml
Due: prettier --write

removed dynamic-plugins-info plugins ref
  yarn.lock
Due: none

updated yarn.lock
  yarn.lock
Due: none

remove dynamic-plugins-info plugin and fix React import warnings
  .dockerignore
  .rhdh/docker/Dockerfile
  .sonarcloud.properties
  CONTRIBUTING.md
  docker/Dockerfile
  e2e-tests/playwright/e2e/plugins/dynamic-plugins-info/dynamic-plugins-info.spec.ts
  e2e-tests/playwright/utils/analytics/analytics.ts
  packages/app/src/components/Root/ApplicationHeaders.tsx
  packages/app/src/components/Root/ApplicationListener.tsx
  packages/app/src/components/Root/ApplicationProvider.tsx
  packages/app/src/components/catalog/EntityPage/ContextMenuAwareEntityLayout.tsx
Due: prettier --write

fixed prettier issue
  packages/app/CHANGELOG.md
  packages/backend/CHANGELOG.md
Due: prettier --write

fix ci check
  packages/plugin-utils/package.json
  packages/plugin-utils/src/types.ts
  packages/theme-wrapper/package.json
  yarn.lock
Due: prettier --write

updated default config
  dynamic-plugins.default.yaml
Due: prettier --write

fixed prettier issues
  packages/app/CHANGELOG.md
  packages/app/src/components/Root/ApplicationHeaders.tsx
  packages/backend/CHANGELOG.md
Due: prettier --write

fixed lint issue
  packages/app/src/components/Root/ApplicationListener.tsx
  packages/app/src/components/Root/ApplicationProvider.tsx
Due: none

revert package.json and yarn.lock
  package.json
  yarn.lock
Due: prettier --write

resolved rebase conflicts
  yarn.lock
Due: none

fix ci check
  yarn.lock
Due: none

resolved conflicts
  dynamic-plugins/yarn.lock
Due: none

chore: refresh lock and dedupe after adding @backstage/theme@^0.6.7 descriptor
  package.json
  yarn.lock
Due: prettier --write

update dockerfiles
  .rhdh/docker/Dockerfile
  docker/Dockerfile
Due: none

updated plugins package.json
  dynamic-plugins.default.yaml
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-quickstart/package.json
Due: prettier --write

fix failed ci
  packages/plugin-utils/src/types.ts
Due: none

Update extensions.spec.ts
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: none

fix(e2e): extensions test match
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: none

fix the crash
  package.json
  yarn.lock
Due: prettier --write

feat(refactor): enhance CI/CD scripts with upgrade testing and cloud provider support
  .ibm/refactored/.shellcheckrc
  .ibm/refactored/Makefile
  .ibm/refactored/README.md
  .ibm/refactored/docs/README.md
  .ibm/refactored/entrypoints/auth-providers.sh
  .ibm/refactored/entrypoints/cleanup.sh
  .ibm/refactored/entrypoints/deploy-rbac.sh
  .ibm/refactored/entrypoints/deploy.sh
  .ibm/refactored/entrypoints/nightly.sh
  .ibm/refactored/entrypoints/operator.sh
  .ibm/refactored/entrypoints/pull.sh
  .ibm/refactored/entrypoints/test.sh
  .ibm/refactored/entrypoints/upgrade.sh
  .ibm/refactored/env_variables.sh
  .ibm/refactored/jobs/deploy-base.sh
  .ibm/refactored/jobs/deploy-rbac.sh
  .ibm/refactored/jobs/ocp-nightly.sh
  .ibm/refactored/jobs/ocp-operator.sh
  .ibm/refactored/jobs/ocp-pull.sh
  .ibm/refactored/jobs/upgrade.sh
  .ibm/refactored/modules/cloud/aks.sh
  .ibm/refactored/modules/cloud/eks.sh
  .ibm/refactored/modules/cloud/gke.sh
  .ibm/refactored/modules/constants.sh
  .ibm/refactored/modules/env/exporters.sh
  .ibm/refactored/modules/helm.sh
  .ibm/refactored/modules/logging.sh
  .ibm/refactored/modules/operators/cluster-setup.sh
  .ibm/refactored/modules/platform/detection.sh
  .ibm/refactored/modules/sealight.sh
  .ibm/refactored/openshift-ci-tests.sh
  .ibm/refactored/value_files/values_showcase-rbac.yaml
  .ibm/refactored/value_files/values_showcase.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix flaky test
  e2e-tests/playwright/e2e/extensions.spec.ts
  e2e-tests/playwright/support/pages/extensions.ts
Due: none

update locator
  e2e-tests/playwright/support/pages/extensions.ts
Due: none

update helper method
  e2e-tests/playwright/support/pages/extensions.ts
Due: none

chore(deps): temp 3
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

feat(bulk-import): attempt to fix github check
  packages/plugin-utils/package.json
  yarn.lock
Due: prettier --write

chore(deps): use newer bulk-import
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-bulk-import-backend.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-bulk-import.yaml
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

adding translatio resource from alpha
  dynamic-plugins.default.yaml
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import/package.json
Due: prettier --write

feat(bulk-import): add alfa.ts file
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import/src/alfa.ts
Due: none

feat(bulk-import): temp
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none
