Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update test-plugins and switch to the oci images
  .ibm/pipelines/value_files/values_showcase.yaml
  dynamic-plugins/_utils/src/wrappers.test.ts
Due: prettier --write

Update .ibm/pipelines/value_files/values_showcase.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

chore(e2e): harden the Kubernetes actions test
  e2e-tests/playwright/e2e/plugins/kubernetes-actions/kubernetes-actions.spec.ts
Due: none

remove K8S_CLUSTER_URL expect
  e2e-tests/playwright/e2e/plugins/kubernetes-actions/kubernetes-actions.spec.ts
Due: none

chore(e2e): harden the Scorecard test
  e2e-tests/playwright/e2e/plugins/scorecard/scorecard.spec.ts
  e2e-tests/playwright/support/page-objects/scorecard/scorecard-page.ts
Due: none

First
  e2e-tests/playwright/e2e/plugins/kubernetes-actions/kubernetes-actions.spec.ts
Due: none

chore(ci): adjust Playwright config for lower CPU usage
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/utils/common.ts
Due: none

chore: remove redundant loop
  scripts/update-Dockerfile.sh
Due: none

chore: update py deps to latest plantuml-markdown 3.11.1 (Feb 2025)
  python/README.requirements.md
  python/requirements-build.in
  python/requirements-build.txt
  python/requirements.in
  python/requirements.txt
Due: prettier --write

switch back to github zipball because pypi package is missing test-requirements.txt and that makes hermeto sad
  python/README.requirements.md
  python/requirements-build.in
  python/requirements-build.txt
  python/requirements-dev.in
  python/requirements.in
  python/requirements.txt
Due: prettier --write

switch from setup.py and .in files to pyproject.toml + uv.lock + generated .txt files
  python/README.requirements.md
  python/pyproject.toml
  python/requirements-build.in
  python/requirements-build.txt
  python/requirements-dev.in
  python/requirements-dev.txt
  python/requirements.in
  python/requirements.txt
  python/setup.py
  python/uv.lock
Due: prettier --write

chore: typo install from req.txt (lock) files not .in (unlocked) files (RHIDP-8978)
  .github/workflows/pr.yaml
Due: prettier --write

add hatch-vcs>=0.5
  python/pyproject.toml
  python/requirements-build.txt
  python/requirements-dev.txt
  python/requirements.txt
  python/uv.lock
Due: none

roll back to older setuptools-scm<8 and hatch-vcs 0.4
  python/pyproject.toml
  python/requirements-build.txt
  python/uv.lock
Due: none

heremtic test failed with missing cython so add 3.2.4 and see what happens
  python/pyproject.toml
  python/requirements-build.txt
  python/requirements-dev.txt
  python/requirements.txt
  python/uv.lock
Due: none

hatch-nodejs-version>=0.3.0
  python/pyproject.toml
  python/requirements-build.txt
  python/uv.lock
Due: none

restrict to setuptools 80
  python/README.requirements.md
  python/pyproject.toml
  python/requirements-build.txt
  python/uv.lock
Due: prettier --write

chore: tagRelease.sh: bump to 1.8.5 in release-1.8 branch [skip-build] [skip-e2e]
  .ibm/package.json
  dynamic-plugins/package.json
  e2e-tests/package.json
  package.json
  packages/app/src/build-metadata.json
Due: prettier --write

RHIDP-11919-pluginDivisionModeSchema-documentation
  app-config.example.production.yaml
  docs/database-configuration.md
  docs/index.md
Due: prettier --write

remove note
  docs/database-configuration.md
Due: prettier --write

RHIDP-12355-add-test-plugin-division-mode-schema
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/plugin-division-mode-schema/README.md
  e2e-tests/playwright/e2e/plugin-division-mode-schema/verify-schema-mode.spec.ts
  e2e-tests/playwright/utils/schema-mode-config.ts
Due: prettier --write

upgraded jsonpath to 1.2.1
  dynamic-plugins/yarn.lock
  yarn.lock
Due: none

patch axios to 1.13.5
  dynamic-plugins/yarn.lock
  yarn.lock
Due: none

chore(ci): adjust Playwright config for lower CPU usage (#4248)
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/plugins/kubernetes-actions/kubernetes-actions.spec.ts
  e2e-tests/playwright/utils/common.ts
Due: none

chore(ci): adjust Playwright config for lower CPU usage [release-1.8]
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/plugins/kubernetes-actions/kubernetes-actions.spec.ts
  e2e-tests/playwright/utils/common.ts
Due: none

chore(deps): migrate to Jest 30
  package.json
  yarn.lock
Due: prettier --write

chore(ci): use GitHub App token for owners synchronization
  .github/workflows/sync-owners-aliases.yaml
Due: prettier --write

enabling installed package tests
  .ibm/pipelines/resources/config_map/app-config-rhdh.yaml
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: prettier --write

fix(ci): strip CATALOG_INDEX_IMAGE for OSD-GCP operator deployments
  .ibm/pipelines/jobs/ocp-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

detect CATALOG_INDEX_IMAGE from the Backstage CRs for OSD-GCP
  .ibm/pipelines/jobs/ocp-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fixed the styling of my-group items
  packages/app/src/components/Root/Root.tsx
Due: none

chore: sync OWNERS_ALIASES with GitHub teams
  OWNERS_ALIASES
Due: none

fixed prettier
  packages/app/src/components/Root/Root.tsx
Due: none

chore: remove servicenow wrapper + community plugin configs from dpdy
  default.packages.yaml
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-servicenow-dynamic/.eslintignore
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-servicenow-dynamic/.eslintrc.js
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-servicenow-dynamic/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-servicenow-dynamic/src/index.ts
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-servicenow-dynamic/tsconfig.json
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-servicenow-dynamic/turbo.json
  dynamic-plugins/wrappers/roadiehq-scaffolder-backend-module-http-request-dynamic/package.json
Due: prettier --write

chore: update rbac-backend to 7.6.2
  packages/backend/package.json
Due: prettier --write

update dynamic-plugins yarn.lock
  dynamic-plugins/yarn.lock
Due: none

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
