Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

chore: add hermeto builds to PR Builds (New) (#3266)
  .dockerignore
  .github/actions/docker-build/action.yaml
  .github/workflows/podman-push.yaml
  .github/workflows/pr-build-image.yaml
  rpms.in.yaml
  rpms.lock.yaml
Due: prettier --write

output index.html.tmpl in build proces (#3407)
  .rhdh/docker/Dockerfile
  docker/Dockerfile
  package.json
  packages/app/package.json
  scripts/generate-index-template.mjs
  yarn.lock
Due: prettier --write

chore(ci): fix k8s sourcing (#3350)
  .ibm/pipelines/cluster/aks/aks-helm-deployment.sh
  .ibm/pipelines/cluster/aks/aks-operator-deployment.sh
  .ibm/pipelines/cluster/gke/gke-helm-deployment.sh
  .ibm/pipelines/cluster/k8s/k8s-utils.sh
  .ibm/pipelines/jobs/eks-helm.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(install-dynamic-plugins): update local pkgs (#3234)
  docker/install-dynamic-plugins.py
Due: none

chore(e2e): add e2e tests for software template versioning (#3189)
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/scaffolder-backend-module-annotator.spec.ts
  e2e-tests/playwright/support/pages/adoption-insights.ts
Due: none

chore: move .ibm into its own yarn workspace to fix downstream builds (#3439)
  .github/workflows/pr.yaml
  .ibm/package.json
  .ibm/turbo.json
  .ibm/yarn.lock
  .rhdh/docker/Dockerfile
  docker/Dockerfile
  package.json
  scripts/update-Dockerfile.sh
  turbo.json
  yarn.lock
Due: prettier --write

fix(e2e): adapt metrics test to k8s platform (#2939)
  .ibm/pipelines/utils.sh
  e2e-tests/playwright/e2e/plugins/keycloak/catalog-users.spec.ts
  e2e-tests/playwright/utils/kube-client.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: failed commands now stop docker build even without build logs (#3405)
  .rhdh/docker/Dockerfile
  docker/Dockerfile
Due: none

feat(i18n): enhance translation-backend api response (#3410)
  packages/app/src/utils/translations/fetchOverrideTranslations.ts
  plugins/translation-backend/src/service/router.test.ts
  plugins/translation-backend/src/service/router.ts
  plugins/translation-backend/src/utils.test.ts
  plugins/translation-backend/src/utils.ts
Due: none

chore: disable /test for Qodo (#3420)
  .pr_agent.toml
Due: none

feat(i18n): load JSON translations (#3365)
  .dockerignore
  .rhdh/docker/Dockerfile
  docker/Dockerfile
  docs/customization.md
  docs/dynamic-plugins/frontend-plugin-wiring.md
  packages/app/config.d.ts
  packages/app/src/components/DynamicRoot/DynamicRoot.test.tsx
  packages/app/src/components/DynamicRoot/DynamicRoot.tsx
  packages/app/src/components/DynamicRoot/ScalprumRoot.tsx
  packages/app/src/types/types.ts
  packages/app/src/utils/dynamicUI/extractDynamicConfig.ts
  packages/app/src/utils/translations/fetchOverrideTranslations.ts
  packages/app/src/utils/translations/index.ts
  packages/app/src/utils/translations/translationResourceGenerator.test.ts
  packages/app/src/utils/translations/translationResourceGenerator.ts
  packages/backend/package.json
  packages/backend/src/index.ts
  plugins/translation-backend/.eslintrc.js
  plugins/translation-backend/.lintstagedrc.json
  plugins/translation-backend/.prettierignore
  plugins/translation-backend/.prettierrc.js
  plugins/translation-backend/README.md
  plugins/translation-backend/package.json
  plugins/translation-backend/src/index.ts
  plugins/translation-backend/src/plugin.ts
  plugins/translation-backend/src/service/router.test.ts
  plugins/translation-backend/src/service/router.ts
  plugins/translation-backend/src/utils.test.ts
  plugins/translation-backend/src/utils.ts
  plugins/translation-backend/tsconfig.json
  plugins/translation-backend/turbo.json
  yarn.lock
Due: prettier --write

chore(ci): fix EKS hostname collisions (#3276)
  .ibm/pipelines/auth/secrets-rhdh-secrets.yaml
  .ibm/pipelines/cluster/eks/aws.sh
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/install-methods/operator.sh
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  .ibm/pipelines/resources/config_map/app-config-rhdh.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix: support custom hosts for scm auth (#3309)
  packages/app/src/apis.ts
Due: none

chore(llm): add cursor rules context for testing (#3268)
  .cursor/rules/ci-e2e-testing.mdc
  .gitignore
Due: none

chore(e2e): fix Operator Installation Failure - No Endpoints Available for Webhook (#3314)
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(linter): ignore errors on npmjs.com (#3457)
  docs/dynamic-plugins/index.md
Due: prettier --write

chore(e2e): retries for bulk import test (#3367)
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
  e2e-tests/playwright/support/pages/bulk-import.ts
  e2e-tests/playwright/utils/api-helper.ts
Due: none

chore(e2e): fix e2e-tests linter and establish linter check (#3332)
  .github/workflows/e2e-tests-lint.yaml
  e2e-tests/.lintstagedrc.json
  e2e-tests/playwright/e2e/authProviders/oidc.spec.ts
  e2e-tests/playwright/e2e/plugins/adoption-insights/adoption-insights.spec.ts
  e2e-tests/playwright/e2e/plugins/licensed-users-info-backend/licensed-users-info.spec.ts
  e2e-tests/playwright/e2e/plugins/notifications/filter-notification-severity-critical.spec.ts
  e2e-tests/playwright/support/pages/Workflows.ts
  e2e-tests/playwright/support/pages/notifications.ts
  e2e-tests/playwright/utils/authentication-providers/msgraph-helper.ts
Due: prettier --write

chore: fix issues with rbac deployment with orchestrator (#3213)
  .ibm/pipelines/utils.sh
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

feat(segment): update segment wrapper and add env vars (#3411)
  catalog-entities/marketplace/packages/backstage-community-plugin-analytics-provider-segment.yaml
  catalog-entities/marketplace/plugins/analytics-provider-segment.yaml
  dynamic-plugins.default.yaml
  dynamic-plugins/wrappers/backstage-community-plugin-analytics-provider-segment/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

chore(marketplace): remove catalog and scaffolder integration collections (#3436)
  catalog-entities/marketplace/plugins/all.yaml
  catalog-entities/marketplace/plugins/catalog-integrations.yaml
  catalog-entities/marketplace/plugins/scaffolder-integrations.yaml
Due: prettier --write

fix: fix rpm lock update to actually run the command (#3418)
  .github/workflows/update-rpm-lockfile.yaml
Due: prettier --write

chore: declare production support for msgraph plugin (#3304)
  dynamic-plugins/wrappers/backstage-plugin-catalog-backend-module-msgraph-dynamic/package.json
Due: prettier --write

chore: rpms - RHIDP-9048 try to get build working again by no longer overriding nodejs and npm installs: just use what's provided by the base image (#3469)
  .rhdh/docker/Dockerfile
  rpms.in.yaml
  rpms.lock.yaml
Due: prettier --write

feat: implement custom tag filter with OR logic for improved UX (#3400)
  packages/app/package.json
  packages/app/src/components/AppBase/AppBase.tsx
  packages/app/src/components/catalog/filters/CustomCatalogFilters.tsx
  packages/app/src/components/catalog/filters/CustomEntityTagPicker.test.ts
  packages/app/src/components/catalog/filters/CustomEntityTagPicker.tsx
  yarn.lock
Due: prettier --write

feat: add PyTorch model creation learning path - RHDHBUGS-898 (#3310)
  packages/app/public/learning-paths/data.json
Due: prettier --write

fix: remove redundant check and fix typo in pr-podman-push (#3361)
  .github/workflows/pr-podman-push.yaml
Due: prettier --write

chore(revert): larger runner won't start -- just sits in the queue :( (#3337)
  .github/workflows/next-build-image.yaml
Due: prettier --write

chore: add Zaperex as approver for prow (#3347)
  OWNERS
Due: none

docs: update CLI references from @janus-idp/cli to @red-hat-developer-hub/cli in dynamic plugin documentation (#3308)
  docs/dynamic-plugins/export-derived-package.md
  docs/dynamic-plugins/index.md
  docs/dynamic-plugins/packaging-dynamic-plugins.md
Due: prettier --write

chore(e2e): fix settings dropdown (#3409)
  e2e-tests/playwright/e2e/audit-log/auditor-catalog.spec.ts
  e2e-tests/playwright/e2e/auth-providers/github.spec.ts
  e2e-tests/playwright/e2e/auth-providers/ldap.spec.ts
  e2e-tests/playwright/e2e/auth-providers/microsoft.spec.ts
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
  e2e-tests/playwright/e2e/catalog-timestamp.spec.ts
  e2e-tests/playwright/e2e/default-global-header.spec.ts
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
  e2e-tests/playwright/e2e/google-signin-happy-path.spec.ts
  e2e-tests/playwright/e2e/guest-signin-happy-path.spec.ts
  e2e-tests/playwright/e2e/plugins/adoption-insights/adoption-insights.spec.ts
  e2e-tests/playwright/e2e/plugins/application-provider.spec.ts
  e2e-tests/playwright/e2e/plugins/global-floating-button.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology-rbac.spec.ts
  e2e-tests/playwright/utils/common.ts
  e2e-tests/playwright/utils/custom-theme/theme-verifier.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

feat(quickstart): adding localization support for quickstart steps configured through dynamic-plugins.deafult or app-config (#3474)
  dynamic-plugins.default.yaml
  packages/app/config.d.ts
Due: prettier --write

feat(localization): adding localization for menuItems string coming through default config as well as added by user through app-config (#3456)
  dynamic-plugins.default.yaml
  packages/app/src/App.tsx
  packages/app/src/components/DynamicRoot/DynamicRoot.tsx
  packages/app/src/components/Root/Root.tsx
  packages/app/src/components/Root/SidebarLogo.test.tsx
  packages/app/src/components/Root/SidebarLogo.tsx
  packages/app/src/consts.ts
  packages/app/src/hooks/useTranslation.ts
  packages/app/src/translations/rhdh/de.ts
  packages/app/src/translations/rhdh/es.ts
  packages/app/src/translations/rhdh/fr.ts
  packages/app/src/translations/rhdh/index.ts
  packages/app/src/translations/rhdh/it.ts
  packages/app/src/translations/rhdh/ref.ts
  packages/app/src/translations/search/search-de.ts
  packages/app/src/translations/search/search-en.ts
  packages/app/src/translations/search/search-es.ts
  packages/app/src/translations/search/search-fr.ts
  packages/app/src/translations/search/search-it.ts
  packages/app/src/translations/search/search.ts
  packages/app/src/translations/user-settings/user-settings-de.ts
  packages/app/src/translations/user-settings/user-settings-en.ts
  packages/app/src/translations/user-settings/user-settings-es.ts
  packages/app/src/translations/user-settings/user-settings-fr.ts
  packages/app/src/translations/user-settings/user-settings-it.ts
  packages/app/src/translations/user-settings/user-settings.ts
  packages/app/src/utils/dynamicUI/extractDynamicConfig.ts
  packages/app/src/utils/dynamicUI/extractDynamicConfigFrontend.ts
  packages/plugin-utils/src/types.ts
  plugins/translation-backend/package.json
  yarn.lock
Due: prettier --write

chore(e2e): initial translation test (#3398)
  .ibm/pipelines/resources/config_map/app-config-rhdh.yaml
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/localization/locale-test.spec.ts
  e2e-tests/playwright/support/translations/settings/de.ts
  e2e-tests/playwright/support/translations/settings/en.ts
  e2e-tests/playwright/support/translations/settings/fr.ts
  e2e-tests/playwright/support/translations/settings/index.ts
Due: prettier --write

chore(ci): update for job rename (#3429)
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/reporting.sh
  .pr_agent.toml
  docs/auth.md
  docs/e2e-tests/CI.md
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(ci): fix OCP 4.19 & GKE error handling (#3453)
  .ibm/pipelines/cluster/gke/gcloud.sh
  .ibm/pipelines/reporting.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(scaffolder-relation-processor): update wrapper to the latest version (#3449)
  dynamic-plugins/wrappers/backstage-community-plugin-catalog-backend-module-scaffolder-relation-processor-dynamic/package.json
  dynamic-plugins/yarn.lock
  yarn.lock
Due: prettier --write

chore(e2e): increase retries for flaky bulk import (#3475)
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
  e2e-tests/playwright/support/pages/bulk-import.ts
Due: none

fix(user-settings): enhance build-info config to make it intuitive (#3444)
  .ibm/pipelines/resources/config_map/app-config-rhdh.yaml
  docs/customization.md
  packages/app/config.d.ts
  packages/app/src/components/UserSettings/InfoCard.test.tsx
  packages/app/src/components/UserSettings/InfoCard.tsx
  packages/app/src/types/types.ts
Due: prettier --write
