Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update rpms.lock.yaml
  rpms.lock.yaml
Due: prettier --write

refactor(e2e): standardize notification API import and update navigation method calls
  e2e-tests/playwright/e2e/plugins/notifications/filter-notifications-by-severity.spec.ts
  e2e-tests/playwright/e2e/plugins/notifications/mark-notifications.spec.ts
  e2e-tests/playwright/support/pages/notifications.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: none

feat(plugins): update orchestrator plugins to use new package references and enable them in values_showcase.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
  dynamic-plugins.default.yaml
Due: prettier --write

fix(plugins): correct formatting of package reference for scaffolder backend module in values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

fix(pipelines): update sleep duration
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

feat(e2e): add orchestrator plugins to values_showcase.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

reverted title in redhat-backstage-plugin-orchestrator-backend.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator-backend.yaml
Due: prettier --write

chore(plugins): update orchestrator plugin references to use OCI image format and disable chart plugins
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
  dynamic-plugins.default.yaml
Due: prettier --write

refactor(e2e): Updated the notification tests to use crypto.randomUUID()
  e2e-tests/playwright/e2e/plugins/notifications/filter-notifications-by-severity.spec.ts
  e2e-tests/playwright/e2e/plugins/notifications/mark-notifications.spec.ts
Due: none

fix(e2e): update placeholder text in Orchestrator class from "Search" to "Filter"
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: none

test(e2e): refactor notification tests, add greeting workflow test
  e2e-tests/playwright/e2e/plugins/notifications/filter-notification-severity-critical.spec.ts
  e2e-tests/playwright/e2e/plugins/notifications/filter-notifications-by-severity.spec.ts
  e2e-tests/playwright/e2e/plugins/notifications/mark-notifications.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/greeting-workflow.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/workflow-all-runs-validations.spec.ts
  e2e-tests/playwright/support/pages/notifications.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
  e2e-tests/playwright/support/pages/workflows.ts
  e2e-tests/playwright/utils/navbar.ts
Due: none

fix(e2e): update placeholder text in Orchestrator class from "Filter" to "Search"
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: none

chore(plugins): update dynamicArtifact references for latest orchestrator plugin builds
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator-backend.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator-form-widgets.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-scaffolder-backend-module-orchestrator.yaml
Due: prettier --write

chore(e2e): disable orchestrator plugins in dynamic-plugins.default.yaml, define them in values files, update tests
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
  dynamic-plugins.default.yaml
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: prettier --write

feat(e2e): add orchestrator plugins to values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

chore(plugins): ensure the chart defined plugins are ignored. enable via defaults, update catalog entries
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator-backend.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator-form-widgets.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-scaffolder-backend-module-orchestrator.yaml
Due: prettier --write

refactor(e2e): remove visibility check for "Category" column in Orchestrator class
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: none

chore(plugins): enable orchestrator plugins in dynamic-plugins.default.yaml and update dynamicArtifact references for consistency
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator-backend.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator-form-widgets.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-scaffolder-backend-module-orchestrator.yaml
  dynamic-plugins.default.yaml
Due: prettier --write

feat(plugins): update package references for orchestrator plugins in values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

chore(plugins): update orchestrator plugin references to disable existing plugins
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator-backend.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator-form-widgets.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-scaffolder-backend-module-orchestrator.yaml
Due: prettier --write

remove sleep command from main script
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor(e2e): remove UIhelper usage in notification tests
  e2e-tests/playwright/e2e/plugins/notifications/filter-notifications-by-severity.spec.ts
  e2e-tests/playwright/e2e/plugins/notifications/mark-notifications.spec.ts
Due: none

temp add a sleep command to the main script for debugging
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

test(e2e): prettier issues
  e2e-tests/playwright/support/pages/notifications.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
  e2e-tests/playwright/support/pages/workflows.ts
Due: none

fix(pipelines): formatting fix
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(plugins): update orchestrator plugin versions
  .ibm/pipelines/value_files/values_showcase.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator-backend.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator-form-widgets.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-scaffolder-backend-module-orchestrator.yaml
Due: prettier --write

chore(plugins): revert catalog changes
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator-backend.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator-form-widgets.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-scaffolder-backend-module-orchestrator.yaml
Due: prettier --write

fix(e2e): Update orchestrator plugins to use new OCI image references
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator-backend.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator-form-widgets.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-scaffolder-backend-module-orchestrator.yaml
  dynamic-plugins.default.yaml
Due: prettier --write

chore(plugins): update package reference for orchestrator backend module to dynamic version in values yaml files
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

refactor(plugins): remove deprecated orchestrator plugin references from values_showcase.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

chore(plugins): fix typo
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator-backend.yaml
Due: prettier --write

chore(plugins): fix indentation in values_showcase.yaml for orchestrator plugin configuration
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

RHDHBUGS-2161 - Fix "Verify support type filters in extensions" test assertion strategy
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: none

chore(sealights): remove sealights integration (RHIDP-9510)
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/utils.sh
  docs/e2e-tests/CI.md
  e2e-tests/package.json
  e2e-tests/yarn.lock
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

remove more SL stuff
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

feat: add individual workflow read-only access RBAC tests for orchestrator plugin
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

feat: add denied workflow RBAC tests for orchestrator plugin
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

Add pre-test cleanup and identify orchestrator RBAC integration issue
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
