Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

fix(e2e): wait for external postgres before RBAC helm install [skip-build]
  .ibm/pipelines/jobs/ocp-pull.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): skip orchestrator in PR jobs and wait for postgres ready
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/value_files/diff-values_showcase-rbac_PR.yaml
  .ibm/pipelines/value_files/diff-values_showcase_PR.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Testing
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/value_files/diff-values_showcase-rbac_PR.yaml
  .ibm/pipelines/value_files/diff-values_showcase_PR.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): wait for PostgreSQL pod ready before RHDH RBAC deployment
  .ibm/pipelines/jobs/ocp-pull.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): increase PostgreSQL wait timeout and use correct pod label
  .ibm/pipelines/jobs/ocp-pull.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Testing
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update release-1.8 to ubi9/nodejs-22-minimal:9.7-1771388883 from ubi9/nodejs-22-minimal:9.7-1770309067 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update release-1.8 to ubi9/nodejs-22:9.7-1771417881 from ubi9/nodejs-22:9.7-1770626511 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

chore: update release-1.8 to ubi9/nodejs-22-minimal:9.7-1771388883 from ubi9/nodejs-22-minimal:9.7-1770309067 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

fix(e2e): deploy RHDH RBAC first, then wait for postgres and restart
  .ibm/pipelines/jobs/ocp-pull.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): wait for Crunchy operator pod ready and improve postgres wait
  .ibm/pipelines/jobs/ocp-pull.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update rpms.lock.yaml [skip-build]
  rpms.lock.yaml
Due: prettier --write

chore: update dynamic-plugins.default.yaml from quay.io/rhdh/plugin-catalog-index:1.10.0
  dynamic-plugins.default.yaml
Due: prettier --write

feat(ci): skip pod log collection and write TESTS_PASSED marker on success
  .ibm/pipelines/cleanup.sh
  .ibm/pipelines/lib/testing.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): reduce PostgreSQL CPU requests to fit 2-node CI cluster
  .ibm/pipelines/resources/postgres-db/postgres.yaml
Due: prettier --write

fix(e2e): delete RBAC pod instead of rollout restart on 2-node cluster
  .ibm/pipelines/jobs/ocp-pull.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

test(ci): add docs marker to trigger release-1.9 e2e
  docs/index.md
Due: prettier --write

fix: avoid double pod log collection on deployment failure
  .ibm/pipelines/lib/testing.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

test(ci): add docs marker to trigger release-1.8 e2e
  docs/index.md
Due: prettier --write

refactor: move save_all_pod_logs out of check_backstage_running
  .ibm/pipelines/lib/testing.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update dynamic-plugins.default.yaml from quay.io/rhdh/plugin-catalog-index:1.9.0
  dynamic-plugins.default.yaml
Due: prettier --write

refactor(ci): modularize aws.sh with namespace prefixes and deduplication
  .ibm/pipelines/cluster/eks/aws.sh
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): use idiomatic return code checks in aws.sh
  .ibm/pipelines/cluster/eks/aws.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): eliminate remaining fragile $? checks and pass domain_name explicitly
  .ibm/pipelines/cluster/eks/aws.sh
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor(ci): extract _aws::require_param helper for parameter validation
  .ibm/pipelines/cluster/eks/aws.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(orchestrator): add temporary 2h sleep for CI investigation
  .ibm/pipelines/lib/orchestrator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

feat(orchestrator): add token-propagation workflow deployment and e2e test
  .ibm/pipelines/lib/orchestrator.sh
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/token-propagation-workflow.spec.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(orchestrator): add input validation and improve error handling
  .ibm/pipelines/lib/orchestrator.sh
  e2e-tests/playwright/e2e/plugins/orchestrator/token-propagation-workflow.spec.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(orchestrator): remove temporary 2h sleep from CI
  .ibm/pipelines/lib/orchestrator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(orchestrator): replace yq gsub with yq eval + sed for manifest substitution
  .ibm/pipelines/lib/orchestrator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

add github events module to default.packages.yaml
  default.packages.yaml
Due: prettier --write
