Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

fix(ci): address all SonarQube code quality issues in lib modules
  .ibm/pipelines/lib/common.sh
  .ibm/pipelines/lib/k8s-wait.sh
  .ibm/pipelines/lib/operators.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor(ci): modularize pipeline utilities into lib/ structure
  .ibm/pipelines/README.md
  .ibm/pipelines/jobs/auth-providers.sh
  .ibm/pipelines/jobs/ocp-nightly.sh
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/lib/README.md
  .ibm/pipelines/lib/common.sh
  .ibm/pipelines/lib/k8s-wait.sh
  .ibm/pipelines/lib/operators.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): skip Tekton installation for K8s deployments (AKS/EKS/GKE)
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor(ci): address zdrapela review comments
  .ibm/pipelines/lib/README.md
  .ibm/pipelines/lib/common.sh
  .ibm/pipelines/lib/k8s-wait.sh
  .ibm/pipelines/lib/operators.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): clean up whitespace and improve readability in utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): add missing lib/common.sh imports in job files
  .ibm/pipelines/jobs/auth-providers.sh
  .ibm/pipelines/jobs/ocp-nightly.sh
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/jobs/upgrade.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): enhance diagnostic logging in k8s-wait.sh on deployment timeout
  .ibm/pipelines/lib/k8s-wait.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): correct deployment name in OpenShift Pipelines checks
  .ibm/pipelines/lib/k8s-wait.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): comment out undefined EKS verify functions
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): ensure CRD availability checks return proper status
  .ibm/pipelines/install-methods/operator.sh
  .ibm/pipelines/jobs/auth-providers.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor(ci): implement k8s_wait::crd function for CRD availability checks
  .ibm/pipelines/install-methods/operator.sh
  .ibm/pipelines/lib/k8s-wait.sh
  .ibm/pipelines/lib/operators.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): update OpenShift Pipelines checks to use OPERATOR_NAMESPACE
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): add spot node tolerations for Backstage pods in AKS
  .ibm/pipelines/value_files/diff-values_showcase-rbac_AKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_AKS.yaml
Due: prettier --write

fix(ci): increase timeout for Tekton webhook endpoint checks
  .ibm/pipelines/lib/operators.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): wait for OpenShift Pipelines CRDs before applying Tekton YAMLs
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): ensure Backstage CRD availability checks are consistent
  .ibm/pipelines/install-methods/operator.sh
  .ibm/pipelines/jobs/auth-providers.sh
  .ibm/pipelines/lib/operators.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor(ci): add constants for repeated string literals in utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): improve configmap retrieval logic in utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): enhance error handling in OpenShift authentication and deployment checks
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/lib/common.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): add error handling and wait mechanism for Backstage resource and deployment
  .ibm/pipelines/install-methods/operator.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor(ci): simplify orchestrator plugins enabling logic in utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): improve plugin merging logic in utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): refine plugin merging logic in utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): add verification and wait mechanism for PostgresCluster resource in operator deployment
  .ibm/pipelines/install-methods/operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): add wait mechanism for PostgreSQL readiness in rbac_deployment function
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

feat(e2e): add semantic selectors and refactor page objects
  e2e-tests/playwright/support/page-objects/global-obj.ts
  e2e-tests/playwright/support/page-objects/page-obj.ts
  e2e-tests/playwright/support/selectors/semantic-selectors.ts
Due: none

style(e2e): apply prettier formatting to refactored files
  e2e-tests/playwright/e2e/catalog-timestamp.spec.ts
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/support/page-objects/global-obj.ts
  e2e-tests/playwright/support/page-objects/page-obj.ts
  e2e-tests/playwright/support/selectors/semantic-selectors.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

feat(e2e): replace nth-child selectors and force clicks in catalog and github tests
  e2e-tests/playwright/e2e/catalog-timestamp.spec.ts
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
Due: none

feat(e2e): remove waitForTimeout and force clicks from rbac, oidc, kubernetes tests
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
  e2e-tests/playwright/e2e/plugins/kubernetes-actions/kubernetes-actions.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

fix(e2e): apply qoDo bot review suggestions
  e2e-tests/playwright/support/page-objects/page-obj.ts
  e2e-tests/playwright/support/selectors/semantic-selectors.ts
Due: none

fix(e2e): resolve ESLint errors in catalog-timestamp and oidc tests
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
  e2e-tests/playwright/e2e/catalog-timestamp.spec.ts
Due: none

fix(e2e): remove unused imports in kubernetes-actions and rbac tests
  e2e-tests/playwright/e2e/plugins/kubernetes-actions/kubernetes-actions.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

fix(e2e): enable previously skipped tests in various spec files
  e2e-tests/playwright/e2e/default-global-header.spec.ts
  e2e-tests/playwright/e2e/dynamic-home-page-customization.spec.ts
  e2e-tests/playwright/e2e/extensions.spec.ts
  e2e-tests/playwright/e2e/learning-path-page.spec.ts
  e2e-tests/playwright/e2e/plugins/application-provider.spec.ts
  e2e-tests/playwright/e2e/plugins/kubernetes-actions/kubernetes-actions.spec.ts
  e2e-tests/playwright/e2e/plugins/kubernetes/kubernetes-rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/quay/quay.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology.spec.ts
  e2e-tests/playwright/e2e/plugins/user-settings-info-card.spec.ts
  e2e-tests/playwright/e2e/settings.spec.ts
  e2e-tests/playwright/e2e/smoke-test.spec.ts
Due: none

fix(e2e): remove networkidle from WaitStrategies per ESLint rule
  e2e-tests/playwright/support/selectors/semantic-selectors.ts
Due: none

fix(e2e): update global header tests to use first navigation element
  e2e-tests/playwright/e2e/default-global-header.spec.ts
Due: none

fix(e2e): refine visibility checks in various tests
  e2e-tests/playwright/e2e/default-global-header.spec.ts
  e2e-tests/playwright/e2e/learning-path-page.spec.ts
  e2e-tests/playwright/e2e/plugins/application-provider.spec.ts
  e2e-tests/playwright/e2e/plugins/user-settings-info-card.spec.ts
Due: none

fix(e2e): enhance test accuracy by refining element selection
  e2e-tests/playwright/e2e/default-global-header.spec.ts
  e2e-tests/playwright/e2e/plugins/application-provider.spec.ts
  e2e-tests/playwright/e2e/plugins/keycloak/catalog-users.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology.spec.ts
  e2e-tests/playwright/support/page-objects/catalog/catalog-users-obj.ts
Due: none

fix(e2e): improve popup handling during login in common utility
  e2e-tests/playwright/utils/common.ts
Due: none

fix(e2e): enhance OIDC provider test by scoping sign-in method selection
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
Due: none

fix(e2e): remove page fixture from github-happy-path tests
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
Due: none
