Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

feat(sidebar): adding plurization support in sidebar menu item
  packages/app/src/components/Root/Root.tsx
  packages/app/src/translations/rhdh/de.ts
  packages/app/src/translations/rhdh/es.ts
  packages/app/src/translations/rhdh/fr.ts
  packages/app/src/translations/rhdh/it.ts
  packages/app/src/translations/rhdh/ref.ts
Due: none

removed extra files after rebasing
  packages/app/src/components/Root/ScrollableContainer.tsx
  packages/app/src/hooks/useScrollbar.ts
Due: none

custom scrollbar implementation
  packages/app/src/components/Root/ScrollableContainer.tsx
  packages/app/src/hooks/useScrollbar.ts
Due: none

fixed the scrollbar sidebar
  packages/app/src/components/Root/Root.tsx
Due: none

fixed-review-comments
  packages/app/src/components/Root/CustomSidebarItem.tsx
  packages/app/src/components/Root/Root.tsx
Due: none

chore: update main to ubi9/nodejs-22:9.7-1764636141 from ubi9/nodejs-22:9.7-1764217654 [skip-build]
  docker/Dockerfile
Due: none

chore: update main to ubi9/nodejs-22-minimal:9.7-1764607007 from ubi9/nodejs-22-minimal:9.7-1763382208 [skip-build]
  docker/Dockerfile
Due: none

chore: update main to ubi9/nodejs-22:9.7-1764636141 from ubi9/nodejs-22:9.7-1763455042 [skip-build]
  .rhdh/docker/Dockerfile
Due: none

chore: update main to ubi9/nodejs-22-minimal:9.7-1764607007 from ubi9/nodejs-22-minimal:9.7-1763382208 [skip-build]
  .rhdh/docker/Dockerfile
Due: none

chore: update release-1.8 to ubi9/nodejs-22:9.7-1764636141 from ubi9/nodejs-22:9.7-1764217654 [skip-build]
  docker/Dockerfile
Due: none

chore: update release-1.8 to ubi9/nodejs-22-minimal:9.7-1764607007 from ubi9/nodejs-22-minimal:9.7-1763382208 [skip-build]
  docker/Dockerfile
Due: none

chore: update release-1.8 to ubi9/nodejs-22:9.7-1764636141 from ubi9/nodejs-22:9.7-1763027323 [skip-build]
  .rhdh/docker/Dockerfile
Due: none

chore: update release-1.8 to ubi9/nodejs-22-minimal:9.7-1764607007 from ubi9/nodejs-22-minimal:9.7-1762215467 [skip-build]
  .rhdh/docker/Dockerfile
Due: none

chore: update release-1.7 to ubi9/nodejs-22:9.7-1764636141 from ubi9/nodejs-22:9.7-1764217654 [skip-build]
  docker/Dockerfile
Due: none

chore: update release-1.7 to ubi9/nodejs-22-minimal:9.7-1764607007 from ubi9/nodejs-22-minimal:9.7-1763382208 [skip-build]
  docker/Dockerfile
Due: none

chore: update release-1.7 to ubi9/nodejs-22:9.7-1764636141 from ubi9/nodejs-22:9.7-1764217654 [skip-build]
  .rhdh/docker/Dockerfile
Due: none

chore: update release-1.7 to ubi9/nodejs-22-minimal:9.7-1764607007 from ubi9/nodejs-22-minimal:9.7-1763382208 [skip-build]
  .rhdh/docker/Dockerfile
Due: none

feat: standardize namespace configuration in RHDH CI/CD job handlers
  .ibm/pipelines/jobs/aks-helm.sh
  .ibm/pipelines/jobs/aks-operator.sh
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
  .ibm/pipelines/jobs/gke-helm.sh
  .ibm/pipelines/jobs/gke-operator.sh
  .ibm/pipelines/jobs/ocp-nightly.sh
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/jobs/upgrade.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update release-1.7 to ubi9/nodejs-22:9.7-1764636141 from ubi9/nodejs-22:9.7-1764217654 [skip-build] (#3785)
  .rhdh/docker/Dockerfile
  docker/Dockerfile
Due: none

chore: update rpms.lock.yaml [skip-build]
  rpms.lock.yaml
Due: prettier --write

chore: update rpms.lock.yaml [skip-build] (#3788)
  rpms.lock.yaml
Due: prettier --write

fix sonarcloud validations
  .github/workflows/sync-owners-aliases.yaml
  scripts/generate-owners-aliases.js
Due: prettier --write

chore: rename variables to make sonarqube happy
  docker/install-dynamic-plugins.py
Due: none

feat(ci): introduce shared logging module
  .ibm/pipelines/cleanup.sh
  .ibm/pipelines/lib/logging.sh
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: rename more variables and functions to appease sonarqube
  docker/install-dynamic-plugins.py
Due: none

tests: update install-dynamic-plugins unit tests with new variable names
  docker/test_install-dynamic-plugins.py
Due: none

chore: remove unnecessary comment
  .github/actions/docker-build/action.yaml
Due: prettier --write

fix(homepage): update homepage plugin and fix customization issues
  app-config.dynamic-plugins.yaml
  dynamic-plugins/.yarn/patches/@backstage-plugin-home-npm-0.8.12-0d7fbcc764.patch
  dynamic-plugins/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-dynamic-home-page/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

upgraded node-forge
  yarn.lock
Due: none

fix(ci): use standard shebang and auto-detect TTY for colors
  .ibm/pipelines/lib/logging.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Update .ibm/pipelines/lib/logging.sh
  .ibm/pipelines/lib/logging.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

feat(ci): redirect logging output to stderr
  .ibm/pipelines/lib/logging.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

ugpraded node-forge in dynamic-plugins
  dynamic-plugins/yarn.lock
Due: none

fix popup login url bug
  e2e-tests/playwright/utils/common.ts
Due: none

fix linter
  e2e-tests/playwright/utils/common.ts
Due: none

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
