Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

fix(ci): add spot node tolerations for Backstage pods in AKS
  .ibm/pipelines/value_files/diff-values_showcase-rbac_AKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_AKS.yaml
Due: prettier --write

refactor(ci): address zdrapela review comments
  .ibm/pipelines/lib/README.md
  .ibm/pipelines/lib/common.sh
  .ibm/pipelines/lib/k8s-wait.sh
  .ibm/pipelines/lib/operators.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): enhance error handling in OpenShift authentication and deployment checks
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/lib/common.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): wait for OpenShift Pipelines CRDs before applying Tekton YAMLs
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): skip Tekton installation for K8s deployments (AKS/EKS/GKE)
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor(ci): implement k8s_wait::crd function for CRD availability checks
  .ibm/pipelines/install-methods/operator.sh
  .ibm/pipelines/lib/k8s-wait.sh
  .ibm/pipelines/lib/operators.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): comment out undefined EKS verify functions
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): address all SonarQube code quality issues in lib modules
  .ibm/pipelines/lib/common.sh
  .ibm/pipelines/lib/k8s-wait.sh
  .ibm/pipelines/lib/operators.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): ensure Backstage CRD availability checks are consistent
  .ibm/pipelines/install-methods/operator.sh
  .ibm/pipelines/jobs/auth-providers.sh
  .ibm/pipelines/lib/operators.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): ensure CRD availability checks return proper status
  .ibm/pipelines/install-methods/operator.sh
  .ibm/pipelines/jobs/auth-providers.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor(ci): modularize pipeline utilities into lib/ structure
  .ibm/pipelines/README.md
  .ibm/pipelines/jobs/auth-providers.sh
  .ibm/pipelines/jobs/ocp-nightly.sh
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/lib/README.md
  .ibm/pipelines/lib/common.sh
  .ibm/pipelines/lib/k8s-wait.sh
  .ibm/pipelines/lib/operators.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Revert "chore: re-enable tests in greeting-workflow.spec.ts (#3886)"
  e2e-tests/playwright/e2e/plugins/orchestrator/greeting-workflow.spec.ts
Due: none

chore(e2e-tests): reduce the GitHub intervals in e2e tests
  .ibm/pipelines/resources/config_map/app-config-rhdh.yaml
  .ibm/pipelines/value_files/values_showcase-auth-providers.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

update scorecard e2e
  e2e-tests/playwright/e2e/plugins/scorecard/scorecard.spec.ts
  e2e-tests/playwright/support/page-objects/scorecard/component-import-page.ts
  e2e-tests/playwright/support/page-objects/scorecard/scorecard-page.ts
  e2e-tests/playwright/utils/scorecard-response-utils.ts
  e2e-tests/playwright/utils/scorecard-utils.ts
Due: none

modify scorecard config
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

include /override ci/prow/e2e-ocp-helm command when setting the auto-approve
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

feat(e2e): add orchestrator RBAC tests and deployment fixes (#3802)
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  .ibm/pipelines/utils.sh
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): update OpenShift Pipelines deployment checks for accuracy
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): correct deployment name in OpenShift Pipelines checks
  .ibm/pipelines/lib/k8s-wait.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

style: fix prettier formatting in utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): add missing selectGreetingWorkflowItem method to Orchestrator class
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: none

chore: re-enable tests in global-floating-button.spec.ts
  e2e-tests/playwright/e2e/plugins/global-floating-button.spec.ts
Due: none

chore: re-enable tests in catalog-users.spec.ts
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  .ibm/pipelines/resources/config_map/app-config-rhdh.yaml
  .ibm/pipelines/value_files/diff-values_showcase-sanity-plugins.yaml
  .ibm/pipelines/value_files/values_showcase-auth-providers.yaml
  e2e-tests/playwright/e2e/plugins/keycloak/catalog-users.spec.ts
Due: prettier --write

fix(security): resolve CVE-2025-57319 by upgrading (resolution) pino to v10.1.0 which drops the usage of fast-redact
  dynamic-plugins/package.json
Due: prettier --write

fix(ci): increase timeout for Tekton webhook endpoint checks
  .ibm/pipelines/lib/operators.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): restore wait_for_backstage_resource to fix operator deployment timing
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): update workflows table selector to match actual UI
  e2e-tests/playwright/support/pages/workflows.ts
Due: none

fix(e2e): add wait and timeout to orchestrator greeting workflow helm install
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Revert "chore: re-enable tests in scorecard.spec.ts (#3893)"
  e2e-tests/playwright/e2e/plugins/scorecard/scorecard.spec.ts
Due: none

chore: re-enable tests in rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

chore: re-enable tests in workflow-all-runs-validations.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/workflow-all-runs-validations.spec.ts
Due: none

chore: re-enable tests in home-page-customization.spec.ts
  e2e-tests/playwright/e2e/home-page-customization.spec.ts
Due: none

style: fix prettier formatting in workflows.ts
  e2e-tests/playwright/support/pages/workflows.ts
Due: none

[release-1.7] chore: update node-forge to fix CVEs
  dynamic-plugins/yarn.lock
  yarn.lock
Due: none

fix(ci): add SSL support for external PostgreSQL in sonataflow database creation
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): improve sonataflow database creation reliability
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

style: fix ShellCheck SC2155 warnings in utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): add proper error returns for database creation failures
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always
