Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

chore(deps): bump topology plugin version
  dynamic-plugins.default.yaml
  dynamic-plugins/wrappers/backstage-community-plugin-topology/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

rebase and resolve conflicts
  dynamic-plugins/yarn.lock
Due: none

updated scalprum
  dynamic-plugins/wrappers/backstage-community-plugin-topology/package.json
Due: prettier --write

duplicate pr
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/dynamic-homepage-customizaation.spec.ts
  e2e-tests/playwright/support/pages/home-page-customization.ts
Due: none

bump tar-fs
  dynamic-plugins/yarn.lock
  yarn.lock
Due: none

fix lint issues
  e2e-tests/playwright/e2e/dynamic-homepage-customizaation.spec.ts
  e2e-tests/playwright/support/pages/home-page-customization.ts
Due: none

fix(marketplace): correcting the preinstalled anootation values
  catalog-entities/marketplace/plugins/ai-model-catalog.yaml
  catalog-entities/marketplace/plugins/aws-ecs.yaml
  catalog-entities/marketplace/plugins/mcp-tools.yaml
  catalog-entities/marketplace/plugins/optimizations.yaml
  catalog-entities/marketplace/plugins/todo.yaml
Due: prettier --write

fix: restore dynamic-plugins-info
  .dockerignore
  .rhdh/docker/Dockerfile
  CONTRIBUTING.md
  docker/Dockerfile
  e2e-tests/playwright/utils/analytics/analytics.ts
  packages/backend/package.json
  packages/backend/src/index.ts
  plugins/dynamic-plugins-info-backend/.eslintrc.js
  plugins/dynamic-plugins-info-backend/.lintstagedrc.json
  plugins/dynamic-plugins-info-backend/.prettierignore
  plugins/dynamic-plugins-info-backend/.prettierrc.js
  plugins/dynamic-plugins-info-backend/README.md
  plugins/dynamic-plugins-info-backend/__fixtures__/data.ts
  plugins/dynamic-plugins-info-backend/__fixtures__/expected_result.ts
  plugins/dynamic-plugins-info-backend/package.json
  plugins/dynamic-plugins-info-backend/src/index.ts
  plugins/dynamic-plugins-info-backend/src/plugin.ts
  plugins/dynamic-plugins-info-backend/src/service/router.test.ts
  plugins/dynamic-plugins-info-backend/src/service/router.ts
  plugins/dynamic-plugins-info-backend/tsconfig.json
  plugins/dynamic-plugins-info-backend/turbo.json
  yarn.lock
Due: prettier --write

bump tar-fs (#3559)
  dynamic-plugins/yarn.lock
  yarn.lock
Due: none

Add scorecard entities
  catalog-entities/marketplace/packages/all.yaml
  catalog-entities/marketplace/packages/rhdh-backstage-plugin-scorecard-backend-module-github.yaml
  catalog-entities/marketplace/packages/rhdh-backstage-plugin-scorecard-backend-module-jira.yaml
  catalog-entities/marketplace/packages/rhdh-backstage-plugin-scorecard-backend.yaml
  catalog-entities/marketplace/packages/rhdh-backstage-plugin-scorecard.yaml
  catalog-entities/marketplace/plugins/all.yaml
  catalog-entities/marketplace/plugins/scorecard.yaml
Due: prettier --write

add mcp-chat to marketplace
  catalog-entities/marketplace/packages/all.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-mcp-chat-backend.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-mcp-chat.yaml
  catalog-entities/marketplace/plugins/all.yaml
  catalog-entities/marketplace/plugins/mcp-chat.yaml
Due: prettier --write

renamed test file
  e2e-tests/playwright.config.ts
Due: none

updating wrapper
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

remove download JSON translations button from settings
  docs/customization.md
  packages/app/src/components/UserSettings/GeneralPage.tsx
Due: prettier --write

chore(deps): update homepage wrapper
  docs/customization.md
Due: prettier --write

removed backend deps
  catalog-entities/marketplace/plugins/mcp-chat.yaml
Due: prettier --write

chore(e2e): add smoke-tests for all playwright projects
  e2e-tests/playwright.config.ts
Due: none

not for auth providers
  e2e-tests/playwright.config.ts
Due: none

Add comment for dummy change in app-config.yaml
  app-config.yaml
Due: prettier --write

feat: add auto-approve workflow for rhdh-bot PRs
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

Fixme bulk import case[skip-build]
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

Update .cursor/commands/extension_metadata.md
  .cursor/commands/extension_metadata.md
Due: prettier --write

chore(argocd): bump version
  catalog-entities/marketplace/packages/backstage-community-plugin-redhat-argocd.yaml
  dynamic-plugins/wrappers/backstage-community-plugin-redhat-argocd/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

updating to 0.11.4
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-marketplace.yaml
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

Update cloud token instructions
  catalog-entities/marketplace/packages/rhdh-backstage-plugin-scorecard-backend-module-jira.yaml
Due: prettier --write

Add example threshold config
  catalog-entities/marketplace/packages/rhdh-backstage-plugin-scorecard-backend-module-github.yaml
  catalog-entities/marketplace/packages/rhdh-backstage-plugin-scorecard-backend-module-jira.yaml
Due: prettier --write

chore(ci): bump chart to 1.9
  .ibm/pipelines/env_variables.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update IBM API Connect plugin to Backstage 1.42.5
  catalog-entities/marketplace/packages/apic-backstage-plugin.yaml
Due: prettier --write

chore: update dynatrace plugin to version 2.3.0
  catalog-entities/marketplace/packages/dynatrace-backstage-plugin-dql-backend.yaml
  catalog-entities/marketplace/packages/dynatrace-backstage-plugin-dql.yaml
Due: prettier --write

chore(e2e): add tests for RBAC policyDecisionPrecedence config
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
Due: prettier --write
