Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

fix(e2e): bump timeout for auth hack
  e2e-tests/playwright/support/api/rhdh-auth-hack.ts
Due: none

fix(e2e): re-enable licensed-user-info tests
  e2e-tests/playwright/e2e/plugins/licensed-users-info-backend/licensed-users-info.spec.ts
Due: none

Update e2e tests in RHDH for bulk import UI changes
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: prettier --write

fix-adoption-insights
  e2e-tests/playwright/e2e/plugins/adoption-insights/adoption-insights.spec.ts
Due: none

chore: apply remediations (#4144)
  .github/actions/check-image-and-changes/action.yaml
  .github/workflows/pr-build-image.yaml
  .github/workflows/pr.yaml
Due: prettier --write

chore: add additional remediations 1.7 (#4143)
  .github/actions/check-image-and-changes/action.yaml
  .github/workflows/pr-build-image.yaml
  .github/workflows/pr-podman-push.yaml
  .github/workflows/pr.yaml
Due: prettier --write

Restore yarn.lock from upstream/main
  yarn.lock
Due: none

chore: updated wrapper versions
  dynamic-plugins/wrappers/backstage-community-plugin-acr/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-rbac/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-tekton/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-topology/package.json
  dynamic-plugins/yarn.lock
  yarn.lock
Due: prettier --write

chore: update license
  scripts/local-hermeto-build.sh
Due: none

chore: update cursor rules
  .cursor/rules/add_extension_metadata.mdc
  .rulesync/rules/add_extension_metadata.md
  .rulesync/rules/github-workflows-security.md
  .rulesync/rules/playwright-locators.md
Due: prettier --write

chore: update licensing
  .github/actions/get-sha/action.yml
  .husky/scripts/sync-node-modules
  docker/Containerfile
  docker/install-dynamic-plugins.py
  docker/install-dynamic-plugins.sh
  packages/backend/src/corporate-proxy.ts
  python/cachito_hash.sh
  scripts/update-Dockerfile.sh
Due: prettier --write

chore: update CONTRIBUTING with new containerfile location
  CONTRIBUTING.md
  plugins/licensed-users-info-backend/src/service/readBackstageTokenExpiration.ts
Due: prettier --write

chore: update local-hermeto-build.sh to use flags instead of positional arguments Assisted-By: Cursor
  scripts/local-hermeto-build.sh
Due: none

chore: run rulesync generate
  .claude/rules/add_extension_metadata.md
Due: prettier --write

fix(e2e): attempt to move rbac conditions from initContainer
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

fix(e2e): add conditional policy generation to utils script
  .ibm/pipelines/resources/config_map/conditional-policies.yaml
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): mirror changes across all rbac values files
  .ibm/pipelines/value_files/diff-values_showcase-rbac_AKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase-rbac_EKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase-rbac_GKE.yaml
Due: prettier --write

fix(e2e): re-enable skipped flaky rbac test
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

fix(e2e): add missing rbac permissions and roles to constants
  e2e-tests/playwright/data/rbac-constants.ts
Due: none

quick-fix-sc
  e2e-tests/playwright/support/pages/catalog.ts
Due: none

Migrate tests to use extensions catalog entities from overlay repo
  e2e-tests/playwright/e2e/extensions.spec.ts
  e2e-tests/playwright/support/pages/extensions.ts
Due: none

chore: update wrappers (tech-radar, bulk-import, extensions)
  dynamic-plugins/wrappers/backstage-community-plugin-tech-radar/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-catalog-backend-module-extensions-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-extensions-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-extensions/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

using-latest-sc-image
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

fix(e2e-rbac): wait for save button animation
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

fix(e2e-tests): disable scaffolder-relation-processor.spec.ts for now
  e2e-tests/playwright/e2e/plugins/scaffolder-relation-processor/scaffolder-relation-processor.spec.ts
Due: none

update: surface skopeo/npm stderr in error messages
  docker/install-dynamic-plugins.py
  docker/test_install-dynamic-plugins.py
Due: none

add helper func for both stderr and stout instead of using if twise
  docker/install-dynamic-plugins.py
Due: none

fix(e2e): re-enabled skipped bulk import tests
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

chore: backport backstage security fixes
  .yarn/patches/@backstage-backend-defaults-npm-0.12.0-2690a8f727.patch
  .yarn/patches/@backstage-plugin-scaffolder-backend-npm-2.2.0-477dcbe2db.patch
  .yarn/patches/@backstage-plugin-scaffolder-node-npm-0.11.0-2b7e4a6cba.patch
  package.json
  packages/backend/package.json
  yarn.lock
Due: prettier --write

fix(e2e): Organization tab has been removed in bulk import UI
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
  e2e-tests/playwright/support/pages/bulk-import.ts
Due: none

fix(e2e): test broader bulk import test repo name
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

fix(e2e): see if we need to wait before checking for repo
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

fix(e2e): see if navigating to the catalog first helps
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

fix(e2e): improvements to waiting for bulk import ingestion
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none
