Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Read certificates from a file
  .ibm/pipelines/env_variables.sh
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-azure-db.spec.ts
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-rds.spec.ts
  e2e-tests/playwright/utils/postgres-config.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Fix clear db
  .ibm/pipelines/clear-database.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Clear database in TS
  .ibm/pipelines/clear-database.sh
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/jobs/ocp-nightly.sh
  .ibm/pipelines/openshift-ci-tests.sh
  e2e-tests/package.json
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-azure-db.spec.ts
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-rds.spec.ts
  e2e-tests/playwright/utils/postgres-config.ts
  e2e-tests/yarn.lock
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Move generic function
  e2e-tests/playwright/utils/kube-client.ts
  e2e-tests/playwright/utils/postgres-config.ts
Due: none

Update ocp-operator.sh
  .ibm/pipelines/jobs/ocp-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Remove hostname check
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-azure-db.spec.ts
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-rds.spec.ts
  e2e-tests/playwright/utils/postgres-config.ts
Due: none

Hostname validation
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-azure-db.spec.ts
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-rds.spec.ts
  e2e-tests/playwright/utils/postgres-config.ts
Due: none

Update operator to v1alpha4
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-runtime.yaml
Due: prettier --write

Increase timeout
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-azure-db.spec.ts
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-rds.spec.ts
Due: none

Update all operator to c1alpha4
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-rbac.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-rbac_K8s.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start_K8s.yaml
Due: prettier --write

chore: update workflows to use default github envs
  .github/actions/docker-build/action.yaml
  .github/actions/get-sha/action.yml
  .github/workflows/auto-approve-bot-prs.yaml
  .github/workflows/next-build-image.yaml
  .github/workflows/pr-build-image.yaml
  .github/workflows/pr.yaml
  .github/workflows/push-e2e-runner.yaml
  .github/workflows/update-rpm-lockfile.yaml
  .github/workflows/update-versions.yaml
Due: prettier --write

chore: update to ubi9/nodejs-22:9.7-1764217654 from ubi9/nodejs-22:9.7-1763027323 [skip-build]
  docker/Dockerfile
Due: none

chore: update to ubi9/nodejs-22-minimal:9.7-1763382208 from ubi9/nodejs-22-minimal:9.7-1762215467 [skip-build]
  docker/Dockerfile
Due: none

chore: update to ubi9/nodejs-22:9.7-1764217654 from ubi9/nodejs-22:9.7-1763027323 [skip-build]
  .rhdh/docker/Dockerfile
Due: none

chore: update to ubi9/nodejs-22-minimal:9.7-1763382208 from ubi9/nodejs-22-minimal:9.7-1762215467 [skip-build]
  .rhdh/docker/Dockerfile
Due: none

chore: base image update for Release 1.7 (#3752)
  .rhdh/docker/Dockerfile
  docker/Dockerfile
Due: none

chore: update rpms.lock.yaml [skip-build]
  rpms.lock.yaml
Due: prettier --write

chore: update rpms.lock.yaml [skip-build] (#3753)
  rpms.lock.yaml
Due: prettier --write

Retries for deployment scale
  e2e-tests/playwright/utils/kube-client.ts
Due: none

timeout
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-azure-db.spec.ts
Due: none

Better clear db
  e2e-tests/playwright/utils/postgres-config.ts
Due: none

Create minimal documentation
  docs/dynamic-plugins/installing-plugins.md
Due: prettier --write

Update minimal documenation to include operator CR context
  docs/dynamic-plugins/installing-plugins.md
Due: prettier --write

chore: new workflow to keep dynamic-plugins.default.yaml up to date (RHIDP-9835)
  .github/workflows/next-build-image.yaml
  .github/workflows/update-dynamic-plugins-default.yaml
Due: prettier --write

reorder
  .github/workflows/next-build-image.yaml
  .github/workflows/push-e2e-runner.yaml
Due: prettier --write

use skopeo instead of podman as it works better in GH actions (hopefully) Assisted-by: Cursor
  .github/workflows/update-dynamic-plugins-default.yaml
Due: prettier --write

chore: debugging RHIDP-9835
  .github/workflows/update-dynamic-plugins-default.yaml
Due: prettier --write

chore: typo fix and debugging turned off for RHIDP-9835
  .github/workflows/update-dynamic-plugins-default.yaml
Due: prettier --write

chore: update dynamic-plugins.default.yaml from quay.io/rhdh/plugin-catalog-index:1.9.0
  dynamic-plugins.default.yaml
Due: prettier --write

chore: tweak copy in the generated PR description; make branches related to the branch AND tag (RHIDP-9835)
  .github/workflows/update-dynamic-plugins-default.yaml
Due: prettier --write

chore: disable automerge and osvosvVulnerabilityAlerts
  .github/renovate.json
Due: prettier --write

fix(catalog): docs tab content used a double margin on the right side when the quickstart was open
  packages/app/src/components/ErrorPages/ErrorPage.tsx
  packages/app/src/components/Root/Root.tsx
Due: none

chore: update to ubi9/nodejs-22:9.7-1764217654 from ubi9/nodejs-22:9.7-1763455042 [skip-build]
  docker/Dockerfile
Due: none

feat: add auto-approve workflow for bot PRs
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

feat: add auto-approve workflow for bot PRs (#3769)
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
