Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update release-1.7 to ubi9/nodejs-22-minimal:9.7-1767673763 from ubi9/nodejs-22-minimal:9.7-1766364286 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

feat(log): export log functions for subshell availability
  .ibm/pipelines/lib/log.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): update logging for orchestrator plugins enabling process in utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update rpms.lock.yaml [skip-build]
  rpms.lock.yaml
Due: prettier --write

Upgraded to 6.9.1
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import/package.json
  dynamic-plugins/yarn.lock
  e2e-tests/playwright/e2e/plugins/global-floating-button.spec.ts
  e2e-tests/playwright/support/pages/kubernetes.ts
Due: prettier --write

test: unskip annotator test to see CI output
  e2e-tests/playwright/e2e/scaffolder-backend-module-annotator.spec.ts
Due: none

Add argocd and quay backend plugins
  README.md
  default.packages.yaml
Due: prettier --write

fix(install-dynamic-plugins): also extract catalog entities from index image when CATALOG_INDEX_IMAGE is set [RHIDP-11291]
  docker/install-dynamic-plugins.py
Due: none

docs: Update docs accordingly
  docs/dynamic-plugins/installing-plugins.md
Due: prettier --write

chore: Add unit tests
  docker/test_install-dynamic-plugins.py
Due: none

Remove existing catalog entities in dest dir for clean sync with the content of the index image
  docker/install-dynamic-plugins.py
  docker/test_install-dynamic-plugins.py
Due: none

Also remove the /marketplace/catalog-entities files from the container image
  .rhdh/docker/Dockerfile
  docker/Dockerfile
Due: none

Extract extensions catalog entities to '<dynamic-plugins-root>/extensions' by default
  docker/install-dynamic-plugins.py
Due: none

Search for the catalog entities folder in the 'extensions' folder from the catalog index image, with a fallback to 'marketplace' (for backward compatibility)
  docker/install-dynamic-plugins.py
  docker/test_install-dynamic-plugins.py
Due: none

Remove orchestrator plugins from values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

fix: create catalogGraphApiFactory
  packages/app/src/apis.ts
Due: none

chore: update release-1.7 to ubi9/nodejs-22:9.7-1767745544 from ubi9/nodejs-22:9.7-1766414965 [skip-build] [skip-e2e] (#3977)
  .rhdh/docker/Dockerfile
  docker/Dockerfile
Due: none

chore(deps): bump wrapper plugin versions
  dynamic-plugins/wrappers/backstage-community-plugin-acr/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-analytics-provider-segment/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-catalog-backend-module-keycloak-dynamic/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-catalog-backend-module-pingidentity-dynamic/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-catalog-backend-module-scaffolder-relation-processor-dynamic/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-ocm-backend-dynamic/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-ocm/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-rbac/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-servicenow-dynamic/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-tech-radar-backend-dynamic/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-tech-radar/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-topology/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-adoption-insights-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-adoption-insights/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-analytics-module-adoption-insights-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-catalog-backend-module-marketplace-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-dynamic-home-page/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-global-floating-action-button/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-global-header/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-quickstart/package.json
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-argo-cd-backend-dynamic/package.json
  dynamic-plugins/yarn.lock
  packages/app/package.json
  plugins/licensed-users-info-backend/package.json
  yarn.lock
Due: prettier --write

add new drawer mount point
  app-config.dynamic-plugins.yaml
  docs/dynamic-plugins/frontend-plugin-wiring.md
  dynamic-plugins.default.yaml
  packages/app/config.d.ts
  packages/app/src/components/AppBase/AppBase.tsx
  packages/app/src/components/Root/ApplicationDrawer.tsx
  packages/app/src/components/Root/ResizableDrawer.tsx
  packages/app/src/components/Root/Root.tsx
  packages/plugin-utils/src/types.ts
Due: prettier --write

fix(install-dynamic-plugins): do not extract catalog entities to `dynamic-plugins-root` by default
  docker/install-dynamic-plugins.py
Due: none

chore: update dynamic-plugins.default.yaml from quay.io/rhdh/plugin-catalog-index:1.9.0
  dynamic-plugins.default.yaml
Due: prettier --write

test(rbac): skip flaky edit role test
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

fix: move orchestrator tests to nightly-only and fix log functions in subshells
  .ibm/pipelines/utils.sh
  .ibm/pipelines/value_files/diff-values_showcase-rbac_PR.yaml
  .ibm/pipelines/value_files/diff-values_showcase_PR.yaml
  docs/e2e-tests/CI.md
  e2e-tests/playwright.config.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

test(rbac): skip IsOwner condition test
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

add gitlab authentication scenario
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/auth-providers/README.md
  e2e-tests/playwright/e2e/auth-providers/gitlab.spec.ts
  e2e-tests/playwright/utils/authentication-providers/gitlab-helper.ts
  e2e-tests/playwright/utils/authentication-providers/rhdh-deployment.ts
  e2e-tests/playwright/utils/common.ts
Due: prettier --write

add gitlab authentication scenario
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/auth-providers/gitlab.spec.ts
  e2e-tests/playwright/utils/authentication-providers/gitlab-helper.ts
  e2e-tests/playwright/utils/authentication-providers/rhdh-deployment.ts
  e2e-tests/playwright/utils/common.ts
Due: none

Update argo name
  default.packages.yaml
Due: prettier --write

fix: Surface skopeo stderr/stdout in install-dynamic-plugins logs
  docker/install-dynamic-plugins.py
Due: none

update wrapper to use extensions package
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-catalog-backend-module-marketplace-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-catalog-backend-module-marketplace-dynamic/src/index.ts
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace/src/alpha.ts
  dynamic-plugins/yarn.lock
Due: prettier --write

add gitlab authentication scenario
  e2e-tests/playwright/utils/authentication-providers/yamls/backstage.yaml
Due: prettier --write

feat: support autologout config
  packages/app/src/components/AppBase/AppBase.tsx
Due: none

chore: remove dynamic-plugins.default.yaml from turbo.json (RHIDP-10880)
  turbo.json
Due: prettier --write

chore: move from /catalog-entities/marketplace to /catalog-entities/extensions (RHIDP-11345)
  .claude/memories/add_extension_metadata.md
  .cursor/rules/add_extension_metadata.mdc
  .rulesync/rules/add_extension_metadata.md
Due: prettier --write

refactor scripts/remove_keywords_from_package_json.py and catalog-entities/marketplace/README.md too
  catalog-entities/marketplace/README.md
  docker/test_install-dynamic-plugins.py
  scripts/remove_keywords_from_package_json.py
Due: prettier --write

update extensions import
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-catalog-backend-module-marketplace-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace-backend-dynamic/src/index.ts
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace/src/alpha.ts
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace/src/index.ts
Due: prettier --write

chore: switch SEGMENT_WRITE_KEY in release-1.y
  .rhdh/docker/Dockerfile
Due: none

https://issues.redhat.com/browse/RHDHBUGS-2483
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
