Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

docs(orchestrator-infra): update README with correct script names and troubleshooting
  .ibm/orchestrator-infra/README.md
Due: prettier --write

fix(orchestrator-infra): configure OperatorGroup correctly for Logic Operator
  .ibm/orchestrator-infra/roles/deploy-rhdh/tasks/install-orchestrator-infra.yaml
Due: prettier --write

chore(orchestrator-infra): fix trailing whitespace
  .ibm/orchestrator-infra/deploy.yml
Due: prettier --write

docs(orchestrator-infra): add changelog and review responses documentation
  .ibm/orchestrator-infra/CHANGELOG.md
  .ibm/orchestrator-infra/REVIEW_RESPONSES.md
Due: prettier --write

rhidp-9016 - Create automated script to provision RHDH Orchestrator integrated
  .ibm/orchestrator-infra/README.md
  .ibm/orchestrator-infra/deploy-orchestrator.sh
  .ibm/orchestrator-infra/orchestrator-plugin-help.md
  .ibm/orchestrator-infra/rhdh-orchestrator-config.yaml
  .ibm/orchestrator-infra/roles/deploy-rhdh/defaults/main.yml
  .ibm/orchestrator-infra/roles/deploy-rhdh/tasks/deploy-orchestrator-workflows.yaml
  .ibm/orchestrator-infra/roles/deploy-rhdh/tasks/deploy-rhdh.yaml
  .ibm/orchestrator-infra/scripts/01-deploy-keycloak.sh
  .ibm/orchestrator-infra/scripts/02-deploy-postgresql.sh
  .ibm/orchestrator-infra/scripts/03-deploy-serverless-operator.sh
  .ibm/orchestrator-infra/scripts/04-deploy-gitops.sh
  .ibm/orchestrator-infra/scripts/04-deploy-workflows.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(orchestrator-infra): install Serverless operators directly instead of relying on external script
  .ibm/orchestrator-infra/roles/deploy-rhdh/tasks/install-orchestrator-infra.yaml
Due: prettier --write

feat(ai-integrations): update AI Model Catalog marketplace to release specific tags
  catalog-entities/marketplace/packages/backstage-plugin-catalog-backend-module-model-catalog.yaml
  catalog-entities/marketplace/packages/backstage-plugin-catalog-techdoc-url-reader-backend.yaml
  catalog-entities/marketplace/plugins/ai-model-catalog.yaml
Due: prettier --write

feat: support autologout config
  packages/app/src/components/AppBase/AppBase.tsx
Due: none

TEST RHDH 1.8 [skip-build]
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

TEST RHDH 1.8 [skip-build]
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

TEST RHDH 1.8 [skip-build]
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

TEST RHDH 1.8 [skip-build]
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

test RHDH 1.8 [skip-build]
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

TEST RHDH 1.8 [skip-build]
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

RHDHBUGS-2160 - E2E Test Failure: "Default Global Header - Verify Profile Dropdown" fails with incorrect selector
  e2e-tests/playwright/e2e/default-global-header.spec.ts
Due: none

TEST RHDH 1.8 [skip-build]
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

test RHDH 1.8 [skip-build]
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

testing OC 4.20 on AWS [skip-build]
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

test 1.8 [skip-build]
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

test 1.8 [skip-build]
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

test 1.8 [skip-build]
  .ibm/pipelines/jobs/ocp-pull.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fixed the scrollbar sidebar
  packages/app/src/components/Root/Root.tsx
Due: none

custom scrollbar implementation
  packages/app/src/components/Root/ScrollableContainer.tsx
  packages/app/src/hooks/useScrollbar.ts
Due: none

chore(ci): build next image on push to main
  .github/workflows/next-build-image.yaml
Due: prettier --write

test: override QUAY_REPO and TAG_NAME for RC testing
  .ibm/pipelines/env_variables.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update pr workflow to trigger pytest properly
  .github/workflows/pr.yaml
  .gitignore
  docker/pytest.ini
Due: prettier --write

test: set TAG_NAME to 1.7 for CI compatibility
  .ibm/pipelines/env_variables.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

test: set correct QUAY_REPO and TAG_NAME for release testing
  .ibm/pipelines/env_variables.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

[DO NOT MERGE] 1.7.2 test
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: remove distinction of slow unit tests
  docker/pytest.ini
  docker/test_install-dynamic-plugins.py
Due: none

chore: update rpms.lock.yaml
  rpms.lock.yaml
Due: prettier --write

chore: tagRelease.sh: bump to 1.7.3 in release-1.7 branch [skip-build]
  dynamic-plugins/package.json
  e2e-tests/package.json
  package.json
  packages/app/src/build-metadata.json
Due: prettier --write

removed extra files after rebasing
  packages/app/src/components/Root/ScrollableContainer.tsx
  packages/app/src/hooks/useScrollbar.ts
Due: none
