Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

add serial exe to the tests
  e2e-tests/playwright/e2e/guest-home-page-customization.spec.ts
  e2e-tests/playwright/support/pages/home-page-customization.ts
Due: none

add edge cases scenarios
  e2e-tests/playwright/e2e/plugins/scorecard/scorecard.spec.ts
  e2e-tests/playwright/e2e/plugins/scorecard/scorecard.test.ts
  e2e-tests/playwright/support/page-objects/scorecard/catalog-page.ts
  e2e-tests/playwright/support/page-objects/scorecard/component-import-page.ts
  e2e-tests/playwright/support/page-objects/scorecard/scorecard-page.ts
  e2e-tests/playwright/utils/rbac-setup.ts
  e2e-tests/playwright/utils/scorecard-response-utils.ts
  e2e-tests/playwright/utils/scorecard-utils.ts
Due: none

fix(e2e): update GitHub tests to September 10th working version
  e2e-tests/playwright/e2e/plugins/github-pull-requests.spec.ts
  e2e-tests/playwright/utils/common.ts
Due: none

translate more RHDH components
  packages/app/config.d.ts
  packages/app/src/build-metadata.json
  packages/app/src/components/ErrorPages/NotFoundErrorPage.tsx
  packages/app/src/components/ErrorPages/errorButtons/ContactSupportButton.tsx
  packages/app/src/components/ErrorPages/errorButtons/GoBackButton.tsx
  packages/app/src/components/UserSettings/InfoCard.tsx
  packages/app/src/components/catalog/EntityPage/DiagramTabContent.tsx
  packages/app/src/components/learningPaths/LearningPathsPage.tsx
  packages/app/src/components/search/SearchPage.tsx
  packages/app/src/translations/rhdh/de.ts
  packages/app/src/translations/rhdh/es.ts
  packages/app/src/translations/rhdh/fr.ts
  packages/app/src/translations/rhdh/it.ts
  packages/app/src/translations/rhdh/ref.ts
  packages/app/src/types/types.ts
Due: prettier --write

add documentaion for customizing translations
  docs/customization.md
Due: prettier --write

translate signIn page component
  packages/app/src/components/SignInPage/SignInPage.tsx
  packages/app/src/translations/rhdh/de.ts
  packages/app/src/translations/rhdh/es.ts
  packages/app/src/translations/rhdh/fr.ts
  packages/app/src/translations/rhdh/it.ts
  packages/app/src/translations/rhdh/ref.ts
Due: none

add download keys and translation core plugins
  .cursor/rules/i18n.md
  packages/app/package.json
  packages/app/src/components/AppBase/AppBase.tsx
  packages/app/src/components/DynamicRoot/DynamicRoot.tsx
  packages/app/src/components/DynamicRoot/ScalprumRoot.tsx
  packages/app/src/components/UserSettings/GeneralPage.tsx
  packages/app/src/translations/overrides.json
  packages/app/src/translations/overrides/en.json
  packages/app/src/utils/translations/fetchOverrideTranslations.ts
  packages/app/src/utils/translations/staticTranslationConfigs.ts
  packages/app/src/utils/translations/translationResourceProcessor.ts
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/plugin-utils/src/context/DynamicRootContext.tsx
  packages/plugin-utils/src/types.ts
  translations/backstage-plugins-translations_v1.8_s3280-fr-C.json
  translations/community-plugins-translations_v1.8_s3280-fr-C.json
  translations/overrides.json
  yarn.lock
Due: prettier --write

refactor translations resource loading methods
  packages/app/package.json
  packages/app/src/utils/translations/staticTranslationConfigs.ts
  packages/app/src/utils/translations/translationResourceGenerator.ts
  packages/backend/package.json
  translations/backstage-plugins-translations_v1.8_s3280-fr-C.json
  translations/overrides.json
  yarn.lock
Due: prettier --write

cleanup translation backend code from rhdh
  .dockerignore
  .rhdh/docker/Dockerfile
  docker/Dockerfile
  packages/app/package.json
  packages/app/src/components/AppBase/AppBase.tsx
  packages/app/src/translations/overrides.json
  packages/app/src/translations/overrides/en.json
  packages/backend/package.json
  packages/backend/src/index.ts
  plugins/translation-backend/.eslintrc.js
  plugins/translation-backend/.lintstagedrc.json
  plugins/translation-backend/.prettierignore
  plugins/translation-backend/.prettierrc.js
  plugins/translation-backend/README.md
  plugins/translation-backend/package.json
  plugins/translation-backend/src/index.ts
  plugins/translation-backend/src/plugin.ts
  plugins/translation-backend/src/service/router.test.ts
  plugins/translation-backend/src/service/router.ts
  plugins/translation-backend/src/utils.test.ts
  plugins/translation-backend/src/utils.ts
  plugins/translation-backend/tsconfig.json
  plugins/translation-backend/turbo.json
  translations/overrides.json
  yarn.lock
Due: prettier --write

fix lint issues
  .cursor/rules/i18n.md
  packages/app/src/utils/test/TestRoot.tsx
  packages/plugin-utils/src/context/DynamicRootContext.test.tsx
  packages/plugin-utils/src/hooks/useDynamicPlugin.ts
  packages/plugin-utils/src/hooks/useDynamicPlugins.test.tsx
Due: prettier --write

chore: debugging RHDHBUGS-2088
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

streamline tests
  e2e-tests/playwright/e2e/guest-home-page-customization.spec.ts
Due: none

allow to fetch the overrides everytime the app intialie
  packages/app/src/components/DynamicRoot/DynamicRoot.tsx
Due: none

fix e2e tests
  e2e-tests/playwright/e2e/localization/locale-test.spec.ts
  packages/app/src/components/UserSettings/InfoCard.tsx
Due: none

tests to run on rbac-inst
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/dynamic-home-page-customization.spec.ts
  e2e-tests/playwright/support/pages/home-page-customization.ts
Due: none

Updated dynamic home page plugin wrapper
  dynamic-plugins.default.yaml
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-dynamic-home-page/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

rbac chnages
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  .ibm/pipelines/resources/config_map/rbac-policy.csv
  e2e-tests/playwright/e2e/plugins/scorecard/scorecard.spec.ts
  e2e-tests/playwright/support/page-objects/scorecard/catalog-page.ts
  e2e-tests/playwright/support/page-objects/scorecard/component-import-page.ts
  e2e-tests/playwright/utils/rbac-setup.ts
Due: prettier --write

fix(e2e): try and error...
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
  packages/app/src/components/Root/Root.tsx
Due: none

fix(plugins): updated BCP plugins wrapper
  dynamic-plugins/wrappers/backstage-community-plugin-3scale-backend-dynamic/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-acr/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-analytics-provider-segment/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-github-actions/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-github-issues/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-nexus-repository-manager/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-ocm-backend-dynamic/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-ocm/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

fix(e2e): disable GitHub PR stats card tests until the tests or the plugin is fixed
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
  packages/app/src/components/Root/Root.tsx
  trigger-e2e
Due: none

updated assertion texts
  e2e-tests/playwright/e2e/dynamic-home-page-customization.spec.ts
  e2e-tests/playwright/support/pages/home-page-customization.ts
Due: none

app config changes
  e2e-tests/playwright.config.ts
Due: none

feat(marketplace): updating marketplace wrapper
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-catalog-backend-module-marketplace-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

e2e test correction for marketplace wrapper pr
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: none

e2e test update for marketplace wrapper pr
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: none

updating marketplace wrapper
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-catalog-backend-module-marketplace-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

sync yarn.lock
  dynamic-plugins/yarn.lock
Due: none

add oci image config
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  e2e-tests/playwright/support/page-objects/scorecard/component-import-page.ts
Due: prettier --write

changing provider to Red Hat for all tech-preview
  catalog-entities/marketplace/plugins/azure-scaffolder-actions.yaml
  catalog-entities/marketplace/plugins/bitbucket-server-scaffolder-actions.yaml
  catalog-entities/marketplace/plugins/gitlab-catalog-integration.yaml
  catalog-entities/marketplace/plugins/gitlab-org-catalog-integration.yaml
  catalog-entities/marketplace/plugins/roadie-scaffolder-util-actions.yaml
  catalog-entities/marketplace/plugins/security-insights.yaml
  catalog-entities/marketplace/plugins/sonarqube-scaffolder-actions.yaml
Due: prettier --write

service now provider to backstage community
  catalog-entities/marketplace/plugins/gerrit-scaffolder-actions.yaml
  catalog-entities/marketplace/plugins/servicenow.yaml
Due: prettier --write

fix formatting issues
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

add dummy comment
  e2e-tests/playwright/support/page-objects/scorecard/component-import-page.ts
Due: none

feat: add todo plugin to RHDH marketplace
  catalog-entities/marketplace/packages/all.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-todo-backend.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-todo.yaml
  catalog-entities/marketplace/plugins/all.yaml
  catalog-entities/marketplace/plugins/todo.yaml
Due: prettier --write

chore(cursor): add context for configmaps
  .cursor/rules/ci-e2e-testing.mdc
Due: none

Add context for .ibm/package.json
  .cursor/rules/ci-e2e-testing.mdc
Due: none

chore(cursor-command): add PR Review Prioritizer LLM prompt for systematic scoring and recommendations
  .cursor/commands/pr-review-prioritizer.md
Due: prettier --write

chore(deps): bump redhat-argocd plugin version
  dynamic-plugins.default.yaml
  dynamic-plugins/wrappers/backstage-community-plugin-redhat-argocd/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

chore(deps): bump topology plugin version
  dynamic-plugins.default.yaml
  dynamic-plugins/wrappers/backstage-community-plugin-topology/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

updated topology version for a bug fix
  dynamic-plugins/wrappers/backstage-community-plugin-topology/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write
