Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

fix(e2e-tests): use catalog filter to stabilize gitlab-discovery.spec.ts and quay.spec.ts
  e2e-tests/playwright/e2e/plugins/gitlab/gitlab-discovery.spec.ts
  e2e-tests/playwright/e2e/plugins/quay/quay.spec.ts
Due: none

chore: remove wrappers for quay, quay actions/scaffolder, tekton, roadie argocd scaffolder, roadie argocd backend (RHDHPLAN-897, RHDHPLAN-898)
  dynamic-plugins/wrappers/backstage-community-plugin-quay/.eslintignore
  dynamic-plugins/wrappers/backstage-community-plugin-quay/.eslintrc.js
  dynamic-plugins/wrappers/backstage-community-plugin-quay/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-quay/src/index.ts
  dynamic-plugins/wrappers/backstage-community-plugin-quay/tsconfig.json
  dynamic-plugins/wrappers/backstage-community-plugin-quay/turbo.json
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-quay-dynamic/.eslintignore
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-quay-dynamic/.eslintrc.js
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-quay-dynamic/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-quay-dynamic/src/index.ts
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-quay-dynamic/tsconfig.json
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-quay-dynamic/turbo.json
  dynamic-plugins/wrappers/backstage-community-plugin-tekton/.eslintignore
  dynamic-plugins/wrappers/backstage-community-plugin-tekton/.eslintrc.js
  dynamic-plugins/wrappers/backstage-community-plugin-tekton/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-tekton/src/index.ts
  dynamic-plugins/wrappers/backstage-community-plugin-tekton/tsconfig.json
  dynamic-plugins/wrappers/backstage-community-plugin-tekton/turbo.json
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-argo-cd-backend-dynamic/.eslintignore
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-argo-cd-backend-dynamic/.eslintrc.js
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-argo-cd-backend-dynamic/package.json
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-argo-cd-backend-dynamic/src/index.ts
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-argo-cd-backend-dynamic/tsconfig.json
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-argo-cd-backend-dynamic/turbo.json
  dynamic-plugins/wrappers/roadiehq-scaffolder-backend-argocd-dynamic/.eslintignore
  dynamic-plugins/wrappers/roadiehq-scaffolder-backend-argocd-dynamic/.eslintrc.js
  dynamic-plugins/wrappers/roadiehq-scaffolder-backend-argocd-dynamic/package.json
  dynamic-plugins/wrappers/roadiehq-scaffolder-backend-argocd-dynamic/src/index.ts
  dynamic-plugins/wrappers/roadiehq-scaffolder-backend-argocd-dynamic/tsconfig.json
  dynamic-plugins/wrappers/roadiehq-scaffolder-backend-argocd-dynamic/turbo.json
Due: prettier --write

chore: update release-1.9 to ubi9/nodejs-22:9.7-1770626511 from ubi9/nodejs-22:9.7-1770309564 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update release-1.9 to ubi9/nodejs-22:9.7-1770626511 from ubi9/nodejs-22:9.7-1770309564 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

chore: update dynamic-plugins.default.yaml from quay.io/rhdh/plugin-catalog-index:1.9.0
  dynamic-plugins.default.yaml
Due: prettier --write

chore(e2e): translation support for core e2e tests (#3555)
  e2e-tests/package.json
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/catalog-timestamp.spec.ts
  e2e-tests/playwright/e2e/custom-theme.spec.ts
  e2e-tests/playwright/e2e/default-global-header.spec.ts
  e2e-tests/playwright/e2e/extensions.spec.ts
  e2e-tests/playwright/e2e/localization/locale-test.spec.ts
  e2e-tests/playwright/e2e/localization/locale.ts
  e2e-tests/playwright/e2e/plugins/frontend/sidebar.spec.ts
  e2e-tests/playwright/e2e/settings.spec.ts
  e2e-tests/playwright/support/page-objects/page-obj.ts
  e2e-tests/playwright/support/pages/catalog-import.ts
  e2e-tests/playwright/support/pages/extensions.ts
  e2e-tests/playwright/utils/common.ts
  e2e-tests/playwright/utils/custom-theme/theme-verifier.ts
  e2e-tests/playwright/utils/ui-helper.ts
  e2e-tests/tsconfig.json
  translations/test/all-v1.8_s3281-en.json
  translations/test/missing-fr-translations.json
Due: prettier --write

chore: fix empty image reference bug when no platform is specified
  scripts/local-hermeto-build.sh
Due: none

chore: re-re-enable scorecard e2e tests
  e2e-tests/playwright/e2e/plugins/scorecard/scorecard.spec.ts
  e2e-tests/playwright/support/page-objects/scorecard/component-import-page.ts
Due: none

chore: change from local variable to not get an unbound variable in trap
  scripts/local-hermeto-build.sh
Due: none

chore: update test-plugins and switch to the oci images
  .ibm/pipelines/value_files/values_showcase.yaml
  dynamic-plugins/_utils/src/wrappers.test.ts
Due: prettier --write

chore: switch catalog-index tag to next for main branch
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

chore: add more verbose PR comments for debugging and traceability
  .github/workflows/pr-podman-push.yaml
Due: prettier --write

test fix timeout
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

test(e2e): add orchestrator entity-workflow integration tests
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  .ibm/pipelines/resources/config_map/app-config-rhdh.yaml
  .ibm/pipelines/resources/config_map/rbac-policy.csv
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-entity-rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-entity-workflows.spec.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: prettier --write

fix(e2e): lint issues
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-entity-rbac.spec.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: none

chore(e2e): improve scorecard tests with real backend integration
  .ibm/pipelines/auth/secrets-rhdh-secrets.yaml
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  e2e-tests/playwright/e2e/plugins/scorecard/scorecard.spec.ts
  e2e-tests/playwright/support/page-objects/scorecard/component-import-page.ts
  e2e-tests/playwright/support/page-objects/scorecard/scorecard-page.ts
  e2e-tests/playwright/utils/scorecard-response-utils.ts
  e2e-tests/playwright/utils/scorecard-utils.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(e2e): update scorecard tests and config
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  e2e-tests/playwright/support/page-objects/scorecard/scorecard-page.ts
Due: prettier --write

refactor(e2e): remove test case prefixes from descriptions
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-entity-rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-entity-workflows.spec.ts
Due: none

adjust some timeouts and test to overcome flakiness
  e2e-tests/local-test-setup.sh
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/catalog-timestamp.spec.ts
  e2e-tests/playwright/e2e/custom-theme.spec.ts
  e2e-tests/playwright/e2e/plugins/keycloak/catalog-users.spec.ts
Due: none

adjust some timeouts and test to overcome flakiness
  e2e-tests/playwright/e2e/plugins/adoption-insights/adoption-insights.spec.ts
  e2e-tests/playwright/support/pages/adoption-insights.ts
Due: none

chore: release-1.8: update scorecard to release version
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

adjust some timeouts and test to overcome flakiness
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/plugins/adoption-insights/adoption-insights.spec.ts
Due: none

adjust some timeouts and test to overcome flakiness
  e2e-tests/local-test-setup.sh
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/utils/common.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

adjust some timeouts and test to overcome flakiness
  e2e-tests/playwright/e2e/plugins/adoption-insights/adoption-insights.spec.ts
Due: none

adjust some timeouts and test to overcome flakiness
  e2e-tests/package.json
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/plugins/keycloak/catalog-users.spec.ts
  e2e-tests/yarn.lock
Due: prettier --write

test(scorecard): add aggregated scorecard e2e tests
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-crunchy.spec.ts
  e2e-tests/playwright/e2e/plugins/scorecard/scorecard.spec.ts
  e2e-tests/playwright/support/page-objects/scorecard/scorecard-page.ts
Due: prettier --write

chore: add @red-hat-developer-hub/backstage-plugin-orchestrator-backend-module-loki to default packages list
  default.packages.yaml
Due: prettier --write

fix(i18n): updated translation for a Ja word
  translations/backstage-ja.json
Due: prettier --write

fix(e2e): correct orchestrator entity-workflow test patterns
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-entity-rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-entity-workflows.spec.ts
Due: none

fix(e2e): update navigation patterns for orchestrator entity tests
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-entity-rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-entity-workflows.spec.ts
Due: none

fix(ci): fix OSD-GCP operator deployment failures (RHDHBUGS-1136)
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/utils.sh
  .ibm/pipelines/value_files/diff-values_showcase-rbac_OSD-GCP.yaml
  .ibm/pipelines/value_files/diff-values_showcase_OSD-GCP.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

quick-fix-sc
  e2e-tests/playwright/support/pages/catalog.ts
Due: none

copy translations folder to the image
  .dockerignore
  docker/Dockerfile
Due: none

fix(e2e-tests): drop timeouts that are smaller then the global timeouts
  e2e-tests/playwright/e2e/extensions.spec.ts
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
  e2e-tests/playwright/support/pages/adoption-insights.ts
  e2e-tests/playwright/support/pages/bulk-import.ts
  e2e-tests/playwright/support/pages/extensions.ts
  e2e-tests/playwright/utils/common.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

fix(e2e-tests): wait longer on scaffolder jobs
  e2e-tests/playwright/e2e/plugins/scaffolder-backend-module-annotator/annotator.spec.ts
  e2e-tests/playwright/e2e/plugins/scaffolder-relation-processor/scaffolder-relation-processor.spec.ts
Due: none

fix(e2e-tests): use waitForLoad when the url was changed with goto
  e2e-tests/playwright/e2e/plugins/adoption-insights/adoption-insights.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/support/page-objects/page.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

fix(e2e-tests): prettier
  e2e-tests/playwright/e2e/plugins/scaffolder-backend-module-annotator/annotator.spec.ts
  e2e-tests/playwright/e2e/plugins/scaffolder-relation-processor/scaffolder-relation-processor.spec.ts
Due: none

fix(e2e-tests): drop timeouts that are smaller then the global timeouts
  e2e-tests/playwright/e2e/extensions.spec.ts
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
  e2e-tests/playwright/support/page-objects/scorecard/scorecard-page.ts
  e2e-tests/playwright/support/pages/adoption-insights.ts
  e2e-tests/playwright/support/pages/bulk-import.ts
  e2e-tests/playwright/support/pages/extensions.ts
  e2e-tests/playwright/utils/common.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none
