Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: migrate to use downstream dockerfile as default
  .github/actions/docker-build/action.yaml
  .github/workflows/pr-build-image.yaml
  .rhdh/docker/Dockerfile
  docker/Dockerfile
Due: prettier --write

chore: refactor docker build setup
  .github/actions/docker-build/action.yaml
  .gitignore
  .rhdh/docker/.gitignore
  .rhdh/docker/README.adoc
  docker/.gitignore
  docker/Containerfile
  docker/README.adoc
  scripts/local-hermeto-build.sh
Due: prettier --write

chore: update symlinks for aarch64
  .rhdh/docker/Dockerfile
Due: none

refactor(ci): remove service account token creation from EKS and GKE job scripts
  .ibm/pipelines/cluster/k8s/k8s-utils.sh
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
  .ibm/pipelines/jobs/gke-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor(ci): remove Kubernetes cluster URL export from EKS and GKE job scripts
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
  .ibm/pipelines/jobs/gke-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update the update-Dockerfile.sh script with updated containerfile locations
  .github/actions/docker-build/action.yaml
  scripts/update-Dockerfile.sh
Due: prettier --write

chore: update docs and scripts with new container file location
  .github/actions/check-image-and-changes/action.yaml
  .github/renovate.json
  .github/workflows/update-rpm-lockfile.yaml
  CONTRIBUTING.md
  README.md
  python/README.requirements.md
  rpms.in.yaml
Due: prettier --write

chore: remove dead janus slack invite link
  CONTRIBUTING.md
Due: prettier --write

chore: update pr podman push with new artifact name
  .github/actions/docker-build/action.yaml
  .github/workflows/pr-podman-push.yaml
Due: prettier --write

chore: add missing architecture field in artifact names
  .github/actions/docker-build/action.yaml
  .github/workflows/pr-podman-push.yaml
Due: prettier --write

chore: remove arch in artifacts since we don't do multi-arch for PRs
  .github/actions/docker-build/action.yaml
  .github/workflows/pr-podman-push.yaml
Due: prettier --write

chore: update rpms.lock.yaml
  rpms.lock.yaml
Due: prettier --write

chore: update the update-rpm-lockfile.yaml to properly skip tests
  .github/workflows/update-rpm-lockfile.yaml
Due: prettier --write

fix(tests): skip "Extensions > Catalog" and "Access Quick start as Guest or Admin" tests due to known issue RHIDP-8971
  e2e-tests/playwright/e2e/extensions.spec.ts
  e2e-tests/playwright/e2e/plugins/quick-start.spec.ts
Due: none

chore: update rpms.lock.yaml (#3720)
  rpms.lock.yaml
Due: prettier --write

chore: increase ephemeral storage limit for dynamic plugins installation in Kubernetes manifests to prevent extraction errors
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-rbac_K8s.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start_K8s.yaml
Due: prettier --write

chore: update the update-rpm-lockfile.yaml to properly skip tests (#3726)
  .github/workflows/update-rpm-lockfile.yaml
Due: prettier --write

chore: add whitelist option to the authorize job
  .github/actions/check-author/action.yaml
  .github/workflows/pr.yaml
Due: prettier --write

chore: update rpms.lock.yaml [skip-build]
  rpms.lock.yaml
Due: prettier --write

chore: remove outdated support section from CONTRIBUTING.md [skip-build]
  CONTRIBUTING.md
Due: prettier --write

chore: disable specific dynamic plugins in GKE to optimize disk space and skip related tests
  .ibm/pipelines/value_files/diff-values_showcase_GKE.yaml
  e2e-tests/playwright/e2e/plugins/adoption-insights/adoption-insights.spec.ts
Due: prettier --write

feat: add catalog index OCI artifact support to install-dynamic-plugins.py
  docker/install-dynamic-plugins.py
Due: none

Update docs to reflect review comments
  docs/e2e-tests/playwright-locator-best-practices.md
Due: prettier --write

Rules for locators
  .claude/memories/playwright-locators.md
  .cursor/rules/playwright-locators.mdc
  .rulesync/rules/playwright-locators.md
Due: prettier --write

Linter rules
  e2e-tests/eslint.config.js
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

chore: playwright locator best practices
  docs/e2e-tests/playwright-locator-best-practices.md
Due: prettier --write

adress first review comment
  .claude/memories/playwright-locators.md
  .cursor/rules/playwright-locators.mdc
  .rulesync/rules/playwright-locators.md
Due: prettier --write

address second review comment
  .claude/memories/playwright-locators.md
  .cursor/rules/playwright-locators.mdc
  .rulesync/rules/playwright-locators.md
Due: prettier --write

add allowed
  e2e-tests/eslint.config.js
Due: none

address third review comment
  .claude/memories/playwright-locators.md
  .cursor/rules/playwright-locators.mdc
  .rulesync/rules/playwright-locators.md
Due: prettier --write

Fix lintstaged
  .lintstagedrc.cjs
Due: none

Update managing-ai-rules.md
  .claude/memories/managing-ai-rules.md
  .cursor/rules/managing-ai-rules.mdc
  .rulesync/rules/managing-ai-rules.md
Due: prettier --write

chore: disable additional orchestrator plugins in GKE and skip related tests to manage disk space
  .ibm/pipelines/value_files/diff-values_showcase_GKE.yaml
  e2e-tests/playwright/e2e/plugins/orchestrator/greeting-workflow.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/workflow-all-runs-validations.spec.ts
Due: prettier --write

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
