Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): increase Keycloak login timeout to 30 seconds
  e2e-tests/playwright/utils/common.ts
Due: none

fix(ci): add proper error returns for database creation failures
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

patch glob version
  yarn.lock
Due: none

patch glob version in dynamic-plugins
  dynamic-plugins/yarn.lock
Due: none

ran prettier
  packages/backend/src/modules/resolverUtils.ts
  packages/backend/src/modules/rhdhSignInResolvers.ts
Due: none

fix tsc errors
  packages/backend/src/modules/resolverUtils.ts
  packages/backend/src/modules/rhdhSignInResolvers.ts
Due: none

update zod
  packages/backend/package.json
  packages/backend/src/modules/resolverUtils.ts
  packages/backend/src/modules/rhdhSignInResolvers.ts
  yarn.lock
Due: prettier --write

update plugin-catalog-react version to resolve import error
  package.json
  yarn.lock
Due: prettier --write

fix script to remove sonarqube warnings
  scripts/update-backstage.mjs
Due: none

Update backstage update script
  scripts/update-backstage.mjs
Due: none

add service factory
  packages/backend/src/defaultServiceFactories.ts
Due: none

remove instanceMetadataServiceFactory
  packages/backend/src/defaultServiceFactories.test.ts
  packages/backend/src/defaultServiceFactories.ts
Due: none

run prettier
  packages/backend/src/defaultServiceFactories.test.ts
Due: none

zod update reflected
  packages/backend/src/modules/resolverUtils.ts
  packages/backend/src/modules/rhdhSignInResolvers.ts
Due: none

update scaffolder-backend-module-annotator
  packages/backend/package.json
  yarn.lock
Due: prettier --write

glob upgraded
  package.json
  yarn.lock
Due: prettier --write

glob upgraded
  dynamic-plugins/yarn.lock
Due: none

glob upgraded
  dynamic-plugins/yarn.lock
  yarn.lock
Due: none

update scaffolder modules
  dynamic-plugins/wrappers/backstage-community-plugin-catalog-backend-module-scaffolder-relation-processor-dynamic/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-kubernetes-dynamic/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-quay-dynamic/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-regex-dynamic/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-servicenow-dynamic/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-sonarqube-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-scaffolder-backend-module-azure-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-scaffolder-backend-module-bitbucket-cloud-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-scaffolder-backend-module-bitbucket-server-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-scaffolder-backend-module-gerrit-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-scaffolder-backend-module-github-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-scaffolder-backend-module-gitlab-dynamic/package.json
  dynamic-plugins/wrappers/roadiehq-scaffolder-backend-argocd-dynamic/package.json
  dynamic-plugins/wrappers/roadiehq-scaffolder-backend-module-http-request-dynamic/package.json
  dynamic-plugins/wrappers/roadiehq-scaffolder-backend-module-utils-dynamic/package.json
Due: prettier --write

update dynamic-plugins/yarn.lock
  dynamic-plugins/yarn.lock
Due: none

chore: re-enable tests in kubernetes-actions.spec.ts
  e2e-tests/playwright/e2e/plugins/kubernetes-actions/kubernetes-actions.spec.ts
Due: none

chore: re-enable tests in github-integration-org-fetch.spec.ts
  e2e-tests/playwright/e2e/github-integration-org-fetch.spec.ts
Due: none

chore: update dynamic-plugins yarn.lock to match package.json version requirements
  dynamic-plugins/yarn.lock
Due: none

chore: update yarn.lock for eslint-plugin-unused-imports
  yarn.lock
Due: none

chore: format translation files with prettier
  packages/app/src/components/catalog/translations/fr.ts
  packages/app/src/translations/catalog-import/fr.ts
  packages/app/src/translations/core-components/fr.ts
  packages/app/src/translations/core-components/it.ts
  packages/app/src/translations/core-components/ja.ts
  packages/app/src/translations/rhdh/fr.ts
  packages/app/src/translations/rhdh/it.ts
  packages/app/src/translations/rhdh/ja.ts
  packages/app/src/translations/scaffolder/fr.ts
  packages/app/src/translations/scaffolder/it.ts
  packages/app/src/translations/scaffolder/ja.ts
  packages/app/src/translations/user-settings/ja.ts
  packages/app/src/translations/user-settings/user-settings-fr.ts
  packages/app/src/translations/user-settings/user-settings-it.ts
Due: none

fix: replace 'any' with 'unknown' type assertion in accessibility.ts
  e2e-tests/playwright/utils/accessibility.ts
Due: none

chore: re-enable tests in smoke-test.spec.ts
  e2e-tests/playwright/e2e/smoke-test.spec.ts
Due: none

chore: re-enable tests in topology.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology.spec.ts
Due: none

Revert "chore: re-enable tests in github-happy-path.spec.ts (#3860)"
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
Due: none

chore(e2e-tests): test e2e jobs
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e-tests): comment out unknown command/function
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

upgrade urllib3
  python/requirements.in
Due: none

upgraded urllib3
  python/requirements.in
Due: none

glob upgraded (#3933)
  dynamic-plugins/yarn.lock
  yarn.lock
Due: none

run pip-compile
  python/requirements.txt
Due: none

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
