Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

fix(ci): add spot node tolerations for Backstage pods in AKS
  .ibm/pipelines/value_files/diff-values_showcase-rbac_AKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_AKS.yaml
Due: prettier --write

refactor(ci): implement k8s_wait::crd function for CRD availability checks
  .ibm/pipelines/install-methods/operator.sh
  .ibm/pipelines/lib/k8s-wait.sh
  .ibm/pipelines/lib/operators.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): correct deployment name in OpenShift Pipelines checks
  .ibm/pipelines/lib/k8s-wait.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): address all SonarQube code quality issues in lib modules
  .ibm/pipelines/lib/common.sh
  .ibm/pipelines/lib/k8s-wait.sh
  .ibm/pipelines/lib/operators.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): comment out undefined EKS verify functions
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): ensure CRD availability checks return proper status
  .ibm/pipelines/install-methods/operator.sh
  .ibm/pipelines/jobs/auth-providers.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): wait for OpenShift Pipelines CRDs before applying Tekton YAMLs
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor(ci): add constants for repeated string literals in utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): refine plugin merging logic in utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): skip Tekton installation for K8s deployments (AKS/EKS/GKE)
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor(ci): address zdrapela review comments
  .ibm/pipelines/lib/README.md
  .ibm/pipelines/lib/common.sh
  .ibm/pipelines/lib/k8s-wait.sh
  .ibm/pipelines/lib/operators.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): ensure Backstage CRD availability checks are consistent
  .ibm/pipelines/install-methods/operator.sh
  .ibm/pipelines/jobs/auth-providers.sh
  .ibm/pipelines/lib/operators.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): enhance error handling in OpenShift authentication and deployment checks
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/lib/common.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): enhance diagnostic logging in k8s-wait.sh on deployment timeout
  .ibm/pipelines/lib/k8s-wait.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): increase timeout for Tekton webhook endpoint checks
  .ibm/pipelines/lib/operators.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): enhance wait mechanism for database resource creation in operator deployment
  .ibm/pipelines/install-methods/operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): enhance orchestrator plugins enabling process in utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): add verification and wait mechanism for PostgresCluster resource in operator deployment
  .ibm/pipelines/install-methods/operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): refine plugin merging logic in enable_orchestrator_plugins_op function
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): streamline wait logic in operator deployment for database resources
  .ibm/pipelines/install-methods/operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): add error handling and wait mechanism for Backstage resource and deployment
  .ibm/pipelines/install-methods/operator.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): update logging for orchestrator plugins enabling process in utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): add wait mechanism for PostgreSQL readiness in rbac_deployment function
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): improve error handling and logging in operator deployment for Backstage resource
  .ibm/pipelines/install-methods/operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): correct misleading comment in enable_orchestrator_plugins_op
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): update Backstage CR to v1alpha5 API with deployment patch
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-rbac.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-runtime.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start.yaml
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): remove conflicting volume patch from v1alpha5 Backstage CRs
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-rbac.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-runtime.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start.yaml
Due: prettier --write

chore: comment out SonarQube dynamic plugin configuration
  .ibm/pipelines/value_files/diff-values_showcase-sanity-plugins.yaml
Due: prettier --write

fix(ci): eliminate log:: function bug in timeout subshells
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor(ci): eliminate code duplication and add reusable helpers
  .ibm/pipelines/REFACTORING.md
  .ibm/pipelines/cluster/aks/aks-helm-deployment.sh
  .ibm/pipelines/cluster/aks/aks-operator-deployment.sh
  .ibm/pipelines/cluster/eks/eks-helm-deployment.sh
  .ibm/pipelines/cluster/eks/eks-operator-deployment.sh
  .ibm/pipelines/cluster/gke/gke-helm-deployment.sh
  .ibm/pipelines/cluster/gke/gke-operator-deployment.sh
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/install-methods/operator.sh
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
  .ibm/pipelines/jobs/gke-helm.sh
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/lib/common.sh
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-rbac.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-runtime.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start.yaml
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

revert: restore diff-values_showcase-sanity-plugins.yaml to original
  .ibm/pipelines/value_files/diff-values_showcase-sanity-plugins.yaml
Due: prettier --write

chore(e2e): add e2e tests for autologout feature
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
  e2e-tests/playwright/utils/authentication-providers/yamls/backstage.yaml
Due: prettier --write

fix: enable orchestrator greeting workflow tests for nightly jobs
  e2e-tests/playwright/e2e/plugins/orchestrator/greeting-workflow.spec.ts
Due: none

feat: adding testing workflow to orchestrator tests
  .ibm/pipelines/utils.sh
  e2e-tests/playwright/e2e/plugins/orchestrator/failswitch-workflow.spec.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix: include orchestrator tests in e2e-ocp-helm-nightly jobs
  e2e-tests/playwright.config.ts
Due: none

fix(e2e): attempt to move rbac conditions from initContainer
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  scripts/rhdh-openshift-setup/resources/rbac-policies.yaml
Due: prettier --write

chore: convert unnecessary `pull_request_target` workflows to `pull_request`
  .github/workflows/auto-approve-bot-prs.yaml
  .github/workflows/pr-1.8.yaml
  .github/workflows/pr-build-image.yaml
  .github/workflows/pr.yaml
Due: prettier --write

chore: update dynamic-plugins.default.yaml from quay.io/rhdh/plugin-catalog-index:1.9.0
  dynamic-plugins.default.yaml
Due: prettier --write

chore(ci): use safe Kube API error logging
  e2e-tests/playwright/utils/kube-client.ts
Due: none

chore: update dynamic-plugins.default.yaml from quay.io/rhdh/plugin-catalog-index:1.10.0
  dynamic-plugins.default.yaml
Due: prettier --write
