Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

auth-providers is operator
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Update documentation
  docs/e2e-tests/CI.md
Due: prettier --write

chore(ci): update get_artifacts_url for job rename
  .ibm/pipelines/reporting.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

More flexible job name matching
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Skip check for broken url [skip-build]
  docs/auth.md
Due: prettier --write

chore(e2e): update major version
  .ibm/pipelines/env_variables.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Fix
  .ibm/pipelines/jobs/auth-providers.sh
  .ibm/pipelines/jobs/ocp-nightly.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Fix
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(ci): update for job rename (#3429)[skip-build]
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/reporting.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(ci): update for job rename (#3429) (#3478)
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/reporting.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(ci): update for job rename (#3429) [skip-build]
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/reporting.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(ci): update for job rename (#3429) (#3477)
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/reporting.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

feat(marketplace): updating marketplace wrapper
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-catalog-backend-module-marketplace-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

feat(quickstart): add support to role based quickstart
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-quickstart/package.json
  packages/app/config.d.ts
Due: prettier --write

updated quickstart version
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-quickstart/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

updated the default quickstart config
  dynamic-plugins.default.yaml
Due: prettier --write

updated quickstart wrapper version
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-quickstart/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

updated yarn.lock
  dynamic-plugins/yarn.lock
Due: none

updated dynamic-plugins/yarn.lock
  dynamic-plugins/yarn.lock
Due: none

updated marketplace-backend wrapper
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace-backend-dynamic/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

fix(e2e): update GitHub PR test with correct component name and improved login flow
  e2e-tests/playwright/e2e/plugins/github-pull-requests.spec.ts
Due: none

resolve: fix all merge conflicts in common.ts with clean resolved version
  e2e-tests/playwright/utils/common.ts
Due: none

Add test for home page customization
  e2e-tests/playwright/e2e/guest-home-page-customization.spec.ts
  e2e-tests/playwright/support/pages/home-page-customization.ts
Due: none

fix lint issues
  e2e-tests/playwright/e2e/guest-home-page-customization.spec.ts
  e2e-tests/playwright/support/pages/home-page-customization.ts
Due: none

remove broken link (#2967)
  docs/dynamic-plugins/export-derived-package.md
Due: prettier --write

fix(e2e): investigate and fix several automated test failures in operator nightly jobs (#2860)
  .ibm/pipelines/resources/config_map/app-config-rhdh.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start.yaml
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/configuration-test/config-map.spec.ts
  e2e-tests/playwright/e2e/default-global-header.spec.ts
  e2e-tests/playwright/e2e/header-mount-points.spec.ts
  e2e-tests/playwright/e2e/plugins/global-floating-button.spec.ts
  e2e-tests/playwright/e2e/plugins/kubernetes-actions/kubernetes-actions.spec.ts
  e2e-tests/playwright/e2e/plugins/ocm.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology.spec.ts
Due: prettier --write

Add oidcLdapUuidMatchingAnnotation sign in resolver (#2937)
  packages/backend/src/modules/authProvidersModule.ts
  packages/backend/src/modules/authResolvers.ts
  packages/backend/src/modules/resolverUtils.ts
  packages/backend/src/modules/rhdhSignInResolvers.ts
Due: none

fix(e2e): add NODE_TLS_REJECT_UNAUTHORIZED env var in operator tests (#2978)
  .ibm/pipelines/resources/rhdh-operator/rhdh-start.yaml
  e2e-tests/playwright/e2e/plugins/kubernetes-actions/kubernetes-actions.spec.ts
  e2e-tests/playwright/e2e/plugins/ocm.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology.spec.ts
Due: prettier --write

feat(theme): adopt “PatternFly 6” (#2916)
  packages/app/package.json
  packages/app/src/components/Root/Root.tsx
  yarn.lock
Due: prettier --write

refactor(kube-client): replace LOGGER with console.log for logging in KubeClient methods (#2982)
  e2e-tests/playwright/utils/kube-client.ts
Due: none

set image tag in CR from envs (#2976)
  e2e-tests/playwright/utils/authentication-providers/rhdh-deployment.ts
Due: none

feat(analytics): add multiple analytics extension (#2927)
  packages/app/src/components/DynamicRoot/DynamicRoot.test.tsx
  packages/app/src/components/DynamicRoot/DynamicRoot.tsx
  packages/app/src/utils/dynamicUI/extractDynamicConfig.test.ts
  packages/app/src/utils/dynamicUI/extractDynamicConfig.ts
Due: none

fix: [Backstage v1.39 update] auth provider tests and add missing resolver (#2993)
  e2e-tests/playwright/e2e/authProviders/github.spec.ts
  e2e-tests/playwright/e2e/authProviders/ldap.spec.ts
  e2e-tests/playwright/e2e/authProviders/microsoft.spec.ts
  e2e-tests/playwright/e2e/authProviders/oidc.spec.ts
  e2e-tests/playwright/utils/constants.ts
  packages/backend/src/modules/authProvidersModule.ts
  packages/backend/src/modules/rhdhSignInResolvers.ts
Due: none

chore(releases): do release builds for 1.y tags as well as 1.y.z; when doing a 1.y.z release ALSO create a 1.y floating tag (#3019)
  .github/workflows/next-build-image.yaml
Due: prettier --write

chore: update showcase.yaml to remove Janus and replace with RHDH name/links; keep the janus blog and backstage discord links [skip-build] (#3020)
  catalog-entities/components/showcase.yaml
Due: prettier --write

chore(branding): use RHDH branding in app-config files (RHIDP-7883); also fix yaml indents so as to be consistent with downstream after code manipulation, so deltas are smaller (#3007)
  app-config.dynamic-plugins.yaml
  app-config.example.production.yaml
  app-config.example.yaml
  app-config.production.yaml
  app-config.yaml
Due: prettier --write

Update package.json (#2997)
  e2e-tests/package.json
Due: prettier --write

fix(e2e): update backstage-showcase refs to rhdh (#3029)
  e2e-tests/playwright/e2e/authProviders/github-happy-path.spec.ts
  e2e-tests/playwright/e2e/plugins/quay/quay.spec.ts
  e2e-tests/playwright/e2e/techdocs.spec.ts
  e2e-tests/playwright/e2e/verify-redis-cache.spec.ts
Due: none

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
