Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

changes to navigation in tests
  e2e-tests/playwright/e2e/audit-log/auditor-catalog.spec.ts
  e2e-tests/playwright/e2e/auth-providers/github.spec.ts
  e2e-tests/playwright/e2e/auth-providers/gitlab.spec.ts
  e2e-tests/playwright/e2e/auth-providers/ldap.spec.ts
  e2e-tests/playwright/e2e/auth-providers/microsoft.spec.ts
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
  e2e-tests/playwright/e2e/catalog-timestamp.spec.ts
  e2e-tests/playwright/e2e/default-global-header.spec.ts
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
  e2e-tests/playwright/e2e/guest-signin-happy-path.spec.ts
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
  e2e-tests/playwright/e2e/plugins/http-request.spec.ts
  e2e-tests/playwright/e2e/plugins/kubernetes-actions/kubernetes-actions.spec.ts
  e2e-tests/playwright/e2e/plugins/quay/quay-actions.spec.ts
  e2e-tests/playwright/e2e/settings.spec.ts
  e2e-tests/playwright/utils/custom-theme/theme-verifier.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

fix(e2e-tests): use waitForLoad when the url was changed with goto
  e2e-tests/playwright/e2e/plugins/adoption-insights/adoption-insights.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/support/page-objects/page.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

fix(e2e-tests): drop timeouts that are smaller then the global timeouts
  e2e-tests/playwright/e2e/extensions.spec.ts
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
  e2e-tests/playwright/e2e/plugins/ocm.spec.ts
  e2e-tests/playwright/support/page-objects/scorecard/scorecard-page.ts
  e2e-tests/playwright/support/pages/adoption-insights.ts
  e2e-tests/playwright/support/pages/bulk-import.ts
  e2e-tests/playwright/support/pages/extensions.ts
  e2e-tests/playwright/utils/common.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

fix(e2e-tests): use waitForLoad when the url was changed with goto
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/support/page-objects/page.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

fix(e2e-tests): wait longer on scaffolder jobs
  e2e-tests/playwright/e2e/scaffolder-backend-module-annotator.spec.ts
Due: none

changes to navigation in tests
  e2e-tests/playwright/e2e/default-global-header.spec.ts
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

fix(e2e-tests): prettier
  e2e-tests/playwright/e2e/scaffolder-backend-module-annotator.spec.ts
Due: none

fix(ci): bring plugin version values up to match default dynamic plugins
  .ibm/pipelines/value_files/diff-values_showcase-rbac_GKE.yaml
  .ibm/pipelines/value_files/diff-values_showcase-rbac_OSD-GCP.yaml
  .ibm/pipelines/value_files/diff-values_showcase-sanity-plugins.yaml
  .ibm/pipelines/value_files/diff-values_showcase_GKE.yaml
  .ibm/pipelines/value_files/diff-values_showcase_OSD-GCP.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

chore: update wrappers (tech-radar, bulk-import, extensions)
  dynamic-plugins/wrappers/backstage-community-plugin-tech-radar/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-catalog-backend-module-extensions-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-extensions-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-extensions/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

chore(yarn): upgrade to yarn v4
  .gitignore
  .ibm/package.json
  .ibm/yarn.lock
  .rhdh/docker/Dockerfile
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.8.7.cjs
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
  README.md
  docker/Dockerfile
  dynamic-plugins/package.json
  dynamic-plugins/yarn.lock
  e2e-tests/.gitignore
  e2e-tests/package.json
  e2e-tests/yarn.lock
  package.json
  yarn.lock
Due: prettier --write

update orchestrator
  .ibm/pipelines/value_files/diff-values_showcase-rbac_OSD-GCP.yaml
  .ibm/pipelines/value_files/diff-values_showcase_AKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_EKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_GKE.yaml
  .ibm/pipelines/value_files/diff-values_showcase_OSD-GCP.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

feat(ci): auto-build e2e-runner image on release branches
  .github/workflows/push-e2e-runner.yaml
Due: prettier --write

chore: update rpms.lock.yaml [skip-build]
  rpms.lock.yaml
Due: prettier --write

feat: adding testing workflow to orchestrator tests (#3738)
  .ibm/pipelines/lib/orchestrator.sh
  .ibm/pipelines/utils.sh
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/failswitch-workflow.spec.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

additional orchestrator tests (#3996)
  e2e-tests/playwright/e2e/audit-log/log-utils.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/failswitch-workflow.spec.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: none

fix(e2e): enhance orchestrator entity tests with improved wait logic and navigation
  .ibm/pipelines/openshift-ci-tests.sh
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-entity-rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-entity-workflows.spec.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: no-op change to trigger GH action to get new e2e runner image
  .ibm/images/Dockerfile
Due: none

fix(e2e): Updated the locator for the entity name field to use double quotes.
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-entity-workflows.spec.ts
Due: none

chore: update dynamic-plugins.default.yaml from quay.io/rhdh/plugin-catalog-index:1.10.0
  dynamic-plugins.default.yaml
Due: prettier --write

chore: move containerfile outside of docker folder and into build/containerfiles
  .github/actions/docker-build/action.yaml
  .github/renovate.json
  .github/workflows/update-rpm-lockfile.yaml
  .gitignore
  CONTRIBUTING.md
  build/README.adoc
  build/containerfiles/Containerfile
  python/README.requirements.md
  rpms.in.yaml
  scripts/local-hermeto-build.sh
  scripts/update-Dockerfile.sh
Due: prettier --write

chore: move install-dynamic-plugins scripts outside of docker folder
  .claude/memories/ci-e2e-testing.md
  .claude/rules/ci-e2e-testing.md
  .cursor/rules/ci-e2e-testing.mdc
  .github/workflows/pr.yaml
  .rulesync/rules/ci-e2e-testing.md
  build/containerfiles/Containerfile
  docs/dynamic-plugins/installing-plugins.md
  scripts/install-dynamic-plugins/.gitignore
  scripts/install-dynamic-plugins/install-dynamic-plugins.py
  scripts/install-dynamic-plugins/install-dynamic-plugins.sh
  scripts/install-dynamic-plugins/pytest.ini
  scripts/install-dynamic-plugins/test_install-dynamic-plugins.py
Due: prettier --write

feat: backport orchestrator failswitch workflow tests to release-1.9
  .ibm/pipelines/utils.sh
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/audit-log/log-utils.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/failswitch-workflow.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/greeting-workflow.spec.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): fix entity picker and Next btn locators
  .ibm/pipelines/openshift-ci-tests.sh
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-entity-rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-entity-workflows.spec.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

add gh app secret rotation
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/utils.sh
  e2e-tests/local-test-setup.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

add gh app secret rotation
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): fix orchestrator entity tests by removing unnecessary input steps
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-entity-rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-entity-workflows.spec.ts
Due: none

fix(e2e): prettier issues
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-entity-workflows.spec.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: none

fix(e2e): update orchestrator entity workflow tests to reflect template name changes
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  .ibm/pipelines/resources/config_map/app-config-rhdh.yaml
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-entity-workflows.spec.ts
Due: prettier --write

add gh app secret rotation and improve configuration
  .ibm/pipelines/resources/config_map/app-config-rhdh.yaml
  .ibm/pipelines/value_files/diff-values_showcase-sanity-plugins.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

chore(ci): adjust Playwright config for lower CPU usage
  e2e-tests/playwright.config.ts
Due: none

fix: wait for SonataFlow operator reconciliation before checking rollout
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix: use lower_case naming for local variables in shell functions
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

add gh app secret rotation and improve configuration
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

add gh app secret rotation and improve configuration
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Disable video entirely
  e2e-tests/playwright.config.ts
Due: none

fix errors
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix errors
  e2e-tests/package.json
  e2e-tests/yarn.lock
Due: prettier --write

fix errors
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
