Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

updated bug links
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-argo-cd-backend-dynamic/package.json
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-datadog/package.json
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-github-insights/package.json
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-github-pull-requests/package.json
Due: prettier --write

updated problematic markdown links
  docs/index.md
Due: prettier --write

addressed review comments
  dynamic-plugins/wrappers/immobiliarelabs-backstage-plugin-gitlab-backend-dynamic/package.json
  dynamic-plugins/wrappers/pagerduty-backstage-plugin-backend-dynamic/package.json
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-security-insights/package.json
Due: prettier --write

fix(e2e): increase timeout for flaky orchestrator RBAC admin visibility test
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

chore: refactor local hermeto install script
  scripts/local-hermeto-build.sh
Due: none

fix(ci): add stdout log variants for Slack reporting integration
  .ibm/pipelines/lib/log.sh
  .ibm/pipelines/reporting.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update dynamic-plugins.default.yaml from quay.io/rhdh/plugin-catalog-index:1.9.0
  dynamic-plugins.default.yaml
Due: prettier --write

chore: update rpms.lock.yaml [skip-build]
  rpms.lock.yaml
Due: prettier --write

chore: sync OWNERS_ALIASES with GitHub teams
  OWNERS_ALIASES
Due: none

chore(ci): move complex reporting functions to CI repo
  .ibm/pipelines/reporting.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Re-apply log
  .ibm/pipelines/reporting.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Fix status saving for showcase-runtime for the fine-grained reporter
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Use yarn instead of npx
  .claude/memories/ci-e2e-testing.md
  .claude/memories/playwright-locators.md
  .cursor/rules/ci-e2e-testing.mdc
  .cursor/rules/playwright-locators.mdc
  .ibm/pipelines/utils.sh
  .rulesync/rules/ci-e2e-testing.md
  .rulesync/rules/playwright-locators.md
  docs/e2e-tests/CI.md
  docs/e2e-tests/README.md
  docs/e2e-tests/e2e-i18n-guide.md
  docs/e2e-tests/playwright-locator-best-practices.md
  e2e-tests/playwright/e2e/auth-providers/README.md
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Define PW projects in json file
  .ibm/pipelines/jobs/aks-helm.sh
  .ibm/pipelines/jobs/aks-operator.sh
  .ibm/pipelines/jobs/auth-providers.sh
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
  .ibm/pipelines/jobs/gke-helm.sh
  .ibm/pipelines/jobs/gke-operator.sh
  .ibm/pipelines/jobs/ocp-nightly.sh
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/playwright-projects.sh
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/projects.json
  e2e-tests/playwright/projects.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Fix log
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Update projects.ts
  e2e-tests/playwright/projects.ts
Due: none

Removing check for project as redundant
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Update docs and rules
  .claude/memories/ci-e2e-testing.md
  .cursor/rules/ci-e2e-testing.mdc
  .rulesync/rules/ci-e2e-testing.md
  docs/e2e-tests/CI.md
Due: prettier --write

Add check for playwright project
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Update docs and rules again
  .claude/memories/ci-e2e-testing.md
  .cursor/rules/ci-e2e-testing.mdc
  .rulesync/rules/ci-e2e-testing.md
  docs/e2e-tests/CI.md
  docs/e2e-tests/README.md
Due: prettier --write

chore(ci): decouple namespace from Playwright project name
  .ibm/pipelines/jobs/aks-helm.sh
  .ibm/pipelines/jobs/aks-operator.sh
  .ibm/pipelines/jobs/auth-providers.sh
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
  .ibm/pipelines/jobs/gke-helm.sh
  .ibm/pipelines/jobs/gke-operator.sh
  .ibm/pipelines/jobs/ocp-nightly.sh
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/utils.sh
  e2e-tests/package.json
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Prettier
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

feat: adding testing workflow to orchestrator tests
  .ibm/pipelines/utils.sh
  e2e-tests/playwright/e2e/plugins/orchestrator/failswitch-workflow.spec.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: tagRelease.sh: bump to 1.8.2 in release-1.8 branch [skip-build]
  .ibm/package.json
  dynamic-plugins/package.json
  e2e-tests/package.json
  package.json
  packages/app/src/build-metadata.json
Due: prettier --write

Update utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update owners aliases and add new approvers
  .claude/OWNERS
  .cursor/OWNERS
  .rulesync/OWNERS
  OWNERS_ALIASES
  scripts/generate-owners-aliases.mjs
Due: none

add owners for docs
  docs/OWNERS
Due: none

cleanup owners
  .ibm/OWNERS
Due: none

fix(ci): Add wait loop for PostgreSQL user secret creation
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix: apply Qodo review corrections to PostgreSQL secret wait logic
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): enhance database cleanup to prevent migration conflicts
  .ibm/pipelines/clear-database.sh
  .ibm/pipelines/jobs/ocp-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): enhance database cleanup to prevent migration conflicts
  .ibm/pipelines/clear-database.sh
  .ibm/pipelines/jobs/ocp-nightly.sh
  .ibm/pipelines/jobs/ocp-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): address Qodo security review - validate DIR and env vars
  .ibm/pipelines/clear-database.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): apply shellcheck formatting fixes
  .ibm/pipelines/clear-database.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): apply SonarQube suggestions - use [[ ]] for conditionals
  .ibm/pipelines/clear-database.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): address ShellCheck SC2155 - separate declare and assign
  .ibm/pipelines/clear-database.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): remove DIR auto-calculation and restore quality fixes
  .ibm/pipelines/clear-database.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
