Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

rebased with master
  dynamic-plugins/yarn.lock
Due: none

fix linter
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
  e2e-tests/playwright/e2e/catalog-timestamp.spec.ts
  e2e-tests/playwright/e2e/configuration-test/config-map.spec.ts
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-crunchy.spec.ts
  e2e-tests/playwright/e2e/github-integration-org-fetch.spec.ts
  e2e-tests/playwright/e2e/guest-signin-happy-path.spec.ts
  e2e-tests/playwright/e2e/header-mount-points.spec.ts
  e2e-tests/playwright/e2e/instance-health-check.spec.ts
  e2e-tests/playwright/e2e/plugins/acr.spec.ts
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
  e2e-tests/playwright/e2e/plugins/quick-start.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology-rbac.spec.ts
  e2e-tests/playwright/e2e/settings.spec.ts
  e2e-tests/playwright/e2e/smoke-test.spec.ts
  e2e-tests/playwright/e2e/verify-redis-cache.spec.ts
  e2e-tests/playwright/utils/authentication-providers/rhdh-deployment.ts
Due: none

fix(quick-start): re-enable e2e tests
  e2e-tests/playwright/e2e/plugins/quick-start.spec.ts
Due: none

fix(quick-start): add workaround for e2e tests
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

fix(e2e): get bulk import running again
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

update regex to handle backstage-plugin prefixes of rhdh-plugins
  packages/backend/src/modules/rbacDynamicPluginsModule.ts
Due: none

add new drawer mount point
  app-config.dynamic-plugins.yaml
  docs/dynamic-plugins/frontend-plugin-wiring.md
  dynamic-plugins.default.yaml
  dynamic-plugins/yarn.lock
  packages/app/config.d.ts
  packages/app/src/components/AppBase/AppBase.tsx
  packages/app/src/components/Root/ApplicationDrawer.tsx
  packages/app/src/components/Root/ResizableDrawer.tsx
  packages/app/src/components/Root/Root.tsx
  packages/plugin-utils/src/types.ts
Due: prettier --write

fix(e2e): add dynamic home page plugin to rbac values file
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

fix(e2e): add config values for rbac plugin
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

fix(e2e): re-enable rbac tests
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

enable quick-starts e2e and add the workaround
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
  dynamic-plugins/yarn.lock
  e2e-tests/playwright/e2e/plugins/quick-start.spec.ts
Due: prettier --write

wait for results
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

fix(e2e): hide quickstart at settings page
  e2e-tests/playwright/e2e/custom-theme.spec.ts
  e2e-tests/playwright/utils/custom-theme/theme-verifier.ts
Due: none

chore: update lodash to fix CVE-2025-13465
  dynamic-plugins/yarn.lock
  packages/app/package.json
  yarn.lock
Due: prettier --write

chore: update lodash-es to fix CVE-2025-13465
  dynamic-plugins/yarn.lock
  yarn.lock
Due: none

chore: support konflux's ugly config implementation for annotations so we can extract the package path (RHDHBUGS-2530)
  docker/install-dynamic-plugins.py
  docker/test_install-dynamic-plugins.py
Due: none

removing from other files
  dynamic-plugins.default.yaml
  e2e-tests/playwright/e2e/plugins/quick-start.spec.ts
Due: prettier --write

test: unskip annotator test to see CI output
  e2e-tests/playwright/e2e/scaffolder-backend-module-annotator.spec.ts
Due: none

fix: run prettier
  e2e-tests/playwright/e2e/plugins/scaffolder-relation-processor/scaffolder-relation-processor.spec.ts
Due: none

test: refactor tests for the annotator plugin
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/plugins/scaffolder-backend-module-annotator/annotator.spec.ts
  e2e-tests/playwright/e2e/plugins/scaffolder-relation-processor/scaffolder-relation-processor.spec.ts
  packages/app/src/apis.ts
Due: none

fix: use verifyPartialTextInSelector
  e2e-tests/playwright/e2e/plugins/scaffolder-relation-processor/scaffolder-relation-processor.spec.ts
Due: none

ref: use a more precise selector
  e2e-tests/playwright/e2e/plugins/scaffolder-relation-processor/scaffolder-relation-processor.spec.ts
Due: none

fix: create catalogGraphApiFactory
  packages/app/src/apis.ts
Due: none

chore: fix prettier
  packages/app/src/apis.ts
Due: none

chore: run prettier against tests
  e2e-tests/playwright/e2e/plugins/scaffolder-backend-module-annotator/annotator.spec.ts
  e2e-tests/playwright/e2e/plugins/scaffolder-relation-processor/scaffolder-relation-processor.spec.ts
Due: none

chore: update rbac plugin dependencies to latest 1.45 versions
  packages/app/package.json
  packages/backend/package.json
  plugins/licensed-users-info-backend/package.json
  yarn.lock
Due: prettier --write

import item
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

Update e2e tests in RHDH for bulk import UI changes
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: prettier --write

chore: update different rhdh-plugins wrappers
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-adoption-insights-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-catalog-backend-module-extensions-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-extensions-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-extensions/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-global-floating-action-button/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

chore: switch catalog-index tag to next for main branch
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

refactor: use post-processing to disable orchestrator plugins in PR
  .ibm/pipelines/utils.sh
  .ibm/pipelines/value_files/diff-values_showcase-rbac_PR.yaml
  .ibm/pipelines/value_files/diff-values_showcase_PR.yaml
  docs/e2e-tests/CI.md
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix: enable orchestrator on e2e-ocp-helm-nightly jobs
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor: extract disable_orchestrator_plugins helper function
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix: move orchestrator tests to nightly-only and fix log functions in subshells
  .ibm/pipelines/utils.sh
  .ibm/pipelines/value_files/diff-values_showcase-rbac_PR.yaml
  .ibm/pipelines/value_files/diff-values_showcase_PR.yaml
  docs/e2e-tests/CI.md
  e2e-tests/playwright.config.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor: consolidate osd-gcp skip logic in should_skip_orchestrator
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update orchestrator configuration in PR YAML file
  .ibm/pipelines/value_files/diff-values_showcase-rbac_PR.yaml
Due: prettier --write

Testing
  .ibm/pipelines/value_files/diff-values_showcase-rbac_PR.yaml
  e2e-tests/playwright.config.ts
Due: prettier --write
