Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

docs: clarify IS_OPENSHIFT is a custom project variable
  e2e-tests/playwright/utils/constants.ts
  e2e-tests/playwright/utils/helper.ts
Due: none

feat: add AKS, EKS, GKE to JOB_NAME_PATTERNS
  e2e-tests/playwright/utils/constants.ts
Due: none

Update e2e-tests/playwright/utils/helper.ts
  e2e-tests/playwright/utils/helper.ts
Due: none

fix(ci): improve orchestrator job handling and skip OSD-GCP tests
  .ibm/pipelines/utils.sh
  e2e-tests/playwright/e2e/plugins/orchestrator/greeting-workflow.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/workflow-all-runs-validations.spec.ts
  e2e-tests/playwright/utils/constants.ts
  e2e-tests/playwright/utils/helper.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor: improve CI environment variable handling for test skipping
  e2e-tests/playwright/e2e/plugins/orchestrator/greeting-workflow.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/workflow-all-runs-validations.spec.ts
  e2e-tests/playwright/utils/constants.ts
  e2e-tests/playwright/utils/helper.ts
Due: none

Update e2e-tests/playwright/utils/constants.ts
  e2e-tests/playwright/utils/constants.ts
Due: none

refactor: remove 'Orchestrator' from generic job logging
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

added readme.md
  README.md
Due: prettier --write

fix: disable orchestrator for OSD-GCP environments
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/jobs/ocp-nightly.sh
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/utils.sh
  .ibm/pipelines/value_files/diff-values_showcase-rbac_OSD-GCP.yaml
  .ibm/pipelines/value_files/diff-values_showcase_OSD-GCP.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

updated problematic markdown links
  docs/index.md
Due: prettier --write

test: trigger workflow to demonstrate PR #2 labeling
  test-workflow-final.md
Due: prettier --write

Delete test-workflow-final.md
  test-workflow-final.md
Due: prettier --write

time log
  docker/install-dynamic-plugins.py
Due: none

feat: fix for user-onboarding workflow for orchestrator testing
  .ibm/pipelines/utils.sh
  e2e-tests/playwright/e2e/plugins/orchestrator/user-onboarding-workflow.spec.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: reorganize auto-approve workflow flags for better readability
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

chore: remove major version update rules
  .github/renovate.json
Due: prettier --write

chore: update minimumReleaseAge
  .github/renovate.json
Due: prettier --write

chore: renovate: disable python updates
  .github/renovate.json
Due: prettier --write

chore: update rpms.lock.yaml
  rpms.lock.yaml
Due: prettier --write

RHIDP-9235 Deprecate OCM plugin from rhdh plugin catalog
  .ibm/pipelines/README.md
  .ibm/pipelines/auth/secrets-rhdh-secrets.yaml
  .ibm/pipelines/cluster/k8s/k8s-utils.sh
  .ibm/pipelines/cluster/operators/acm/multiclusterhub.yaml
  .ibm/pipelines/cluster/operators/acm/operator-group.yaml
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
  .ibm/pipelines/jobs/gke-helm.sh
  .ibm/pipelines/jobs/gke-operator.sh
  .ibm/pipelines/resources/cluster_role/cluster-role-ocm.yaml
  .ibm/pipelines/resources/cluster_role_binding/cluster-role-binding-ocm.yaml
  .ibm/pipelines/utils.sh
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
  dynamic-plugins.default.yaml
  e2e-tests/playwright/e2e/plugins/ocm.spec.ts
  e2e-tests/playwright/support/pages/clusters.ts
  e2e-tests/playwright/support/test-data/dynamic-plugins-info.ts
  scripts/rhdh-openshift-setup/resources/cluster-roles/cluster-role-binding-ocm.yaml
  scripts/rhdh-openshift-setup/resources/cluster-roles/cluster-role-ocm.yaml
  scripts/rhdh-openshift-setup/values.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

RHIDP-9235 style: format configuration files and improve readability
  .ibm/.prettierrc.js
  .ibm/images/Dockerfile
  .ibm/images/README
  .ibm/pipelines/cluster/gke/auto-label/index.js
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Revert "RHIDP-9235 style: format configuration files and improve readability"
  .ibm/.prettierrc.js
  .ibm/images/Dockerfile
  .ibm/images/README
  .ibm/pipelines/cluster/gke/auto-label/index.js
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

RHIDP-9235 style: format configuration files
  .ibm/pipelines/utils.sh
  dynamic-plugins.default.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

test with the handler for 404 of plugin-manifest.json
  packages/app/src/App.tsx
  packages/app/src/utils/dynamicUI/fetchPluginManifest.test.ts
  packages/app/src/utils/dynamicUI/fetchPluginManifest.ts
Due: none

prettier
  packages/app/src/App.tsx
  packages/app/src/utils/dynamicUI/fetchPluginManifest.test.ts
  packages/app/src/utils/dynamicUI/fetchPluginManifest.ts
Due: none

import
  packages/app/src/App.tsx
  packages/app/src/utils/dynamicUI/fetchPluginManifest.ts
Due: none

import
  packages/app/src/utils/dynamicUI/fetchPluginManifest.test.ts
Due: none

manifest
  packages/app/src/utils/dynamicUI/fetchPluginManifest.ts
Due: none

add rule to prevent pinning @aws-sdk/util-utf8-browser
  .github/renovate.json
Due: prettier --write

test: update unit tests for new inherit behavior
  docker/test_install-dynamic-plugins.py
Due: none

chore: implement Tomas' suggestion
  docker/install-dynamic-plugins.py
Due: none

chore: update dynamic plugin install script unit tests
  .gitignore
  docker/test_install-dynamic-plugins.py
Due: none

docs: update documentation for the path omission feature
  docker/install-dynamic-plugins.py
  docs/dynamic-plugins/installing-plugins.md
Due: prettier --write
