Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

feat: update ErrorPage to be Backstage API-compatible (#2950)
  packages/app/src/components/ErrorPages/ErrorPage.tsx
  packages/app/src/components/ErrorPages/NotFoundErrorPage.tsx
  packages/app/src/components/ErrorPages/errorButtons/ContactSupportButton.tsx
Due: none

chore(homepage): update homepage version (#3190)
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-dynamic-home-page/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

make all adoption plugins production level (RHIDP-7610) (#3287)
  catalog-entities/marketplace/packages/rhdh-backstage-plugin-adoption-insights-backend.yaml
  catalog-entities/marketplace/packages/rhdh-backstage-plugin-analytics-module-adoption-insights.yaml
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-analytics-module-adoption-insights-dynamic/package.json
Due: prettier --write

chore(quickstart): update quickstart version (#3254)
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-quickstart/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

fix(e2e): fix quick start e2e and skip GitHub Happy path (#3236)
  e2e-tests/playwright/e2e/custom-theme.spec.ts
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
Due: none

chore: try another approach to running on larger runners - RHDHBUGS-1991 (#3336)
  .github/workflows/next-build-image.yaml
Due: prettier --write

feat(i18n): add peristant language preference sync for authenticated users (#3325)
  docs/customization.md
  packages/app/config.d.ts
  packages/app/src/apis.ts
  packages/app/src/components/DynamicRoot/DynamicRoot.tsx
  packages/app/src/components/Root/Root.tsx
  packages/app/src/hooks/useLanguagePreference.test.ts
  packages/app/src/hooks/useLanguagePreference.ts
  packages/app/src/types/types.ts
  packages/app/src/utils/language/language.test.ts
  packages/app/src/utils/language/language.ts
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/backend/src/modules/userSettings.ts
  yarn.lock
Due: prettier --write

chore(e2e): introduce TSC check (#3442)
  .github/workflows/e2e-tests-lint.yaml
  docs/dynamic-plugins/debugging.md
  docs/proxy.md
  e2e-tests/.lintstagedrc.js
  e2e-tests/.lintstagedrc.json
  e2e-tests/package.json
Due: prettier --write

feat(i18n): enable localization framework in RHDH (#3319)
  docs/customization.md
  docs/dynamic-plugins/frontend-plugin-wiring.md
  packages/app/config.d.ts
  packages/app/src/components/DynamicRoot/DynamicRoot.tsx
  packages/app/src/components/DynamicRoot/ScalprumRoot.tsx
  packages/app/src/types/types.ts
  packages/app/src/utils/dynamicUI/extractDynamicConfig.test.ts
  packages/app/src/utils/dynamicUI/extractDynamicConfig.ts
Due: prettier --write

fix(extensions): remove verified badge of servicenow tile (#3274)
  catalog-entities/marketplace/plugins/servicenow.yaml
Due: prettier --write

chore: add update-rpm-lockfile workflow (#3342)
  .github/workflows/update-rpm-lockfile.yaml
Due: prettier --write

chore(ci): use nounset for CI scripts (#3340)
  .gitignore
  .ibm/pipelines/cleanup.sh
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/jobs/ocp-nightly.sh
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/reporting.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update orchestrator plugins to version 1.7.1 [main] (#3288)
  catalog-entities/marketplace/packages/all.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator-backend.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator-form-widgets.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-scaffolder-backend-module-orchestrator.yaml
  dynamic-plugins.default.yaml
Due: prettier --write

fix: disable flaky tests (#3464)
  e2e-tests/playwright/e2e/catalog-timestamp.spec.ts
  e2e-tests/playwright/e2e/default-global-header.spec.ts
  e2e-tests/playwright/e2e/guest-signin-happy-path.spec.ts
  e2e-tests/playwright/e2e/plugins/global-floating-button.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology-rbac.spec.ts
Due: none

fix: update namespace validation to support any version in cluster login script (#3267)
  .ibm/pipelines/README.md
  .ibm/pipelines/ocp-cluster-claim-login.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(runners): see if using a larger runner helps w/ RHDH 1.7 nightly builds and tag pushes; also fail-fast:true to release resources faster (#3334)
  .github/workflows/next-build-image.yaml
Due: prettier --write

fix: adoption insights e2e (#3443)
  e2e-tests/playwright/support/pages/adoption-insights.ts
Due: none

Test Results Directory Not Found During CI Run (#3313)
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: initial Qodo configuration (#3403)
  .github/workflows/toml-checks.yaml
  .pr_agent.toml
Due: prettier --write

chore: fix typo in workflow that prevents team member check (#3298)
  .github/workflows/pr.yaml
Due: prettier --write

chore: update monitoring documentation (#3295)
  docs/logging.md
  docs/monitoring-and-logging.md
Due: prettier --write

docs: add note for using --container-tool option to support Docker in OCI packaging (#3228)
  docs/dynamic-plugins/packaging-dynamic-plugins.md
Due: prettier --write

docs: add i18n guide for Playwright E2E tests (#3368)
  docs/e2e-tests/e2e-i18n-guide.md
Due: prettier --write

chore: update and fix link checker (#3394)
  .github/workflows/link-checker.yaml
  docs/dynamic-plugins/debugging.md
Due: prettier --write

chore(e2e): rhidp-8750 Re-enable Disabled E2E Tests in the Project (#3327)
  e2e-tests/playwright/e2e/extensions.spec.ts
  e2e-tests/playwright/e2e/plugins/dynamic-plugins-info/dynamic-plugins-info.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology-rbac.spec.ts
Due: none

fix(extensions): update badges for Orchestrator and API Connect (#3275)
  catalog-entities/marketplace/plugins/ibm-apiconnect-backstage.yaml
  catalog-entities/marketplace/plugins/orchestrator-scaffolder-actions.yaml
  catalog-entities/marketplace/plugins/orchestrator.yaml
Due: prettier --write

chore: fix podman-push workflow for PRs from forks (#3346)
  .github/workflows/pr-podman-push.yaml
Due: prettier --write

fix: set the same tag expiry for ALL floating tags, not just the first one published RHIDP-8270, RHIDP-8691 (#3307)
  .github/actions/docker-build/action.yaml
  .github/workflows/next-build-image.yaml
Due: prettier --write

chore(ci): separate Data Router step (#3326)
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/reporting.sh
  .ibm/pipelines/utils.sh
  docs/e2e-tests/enhanced-ci-reporting.md
  e2e-tests/data_router/data_router_metadata_template.json
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update axios to fix CVE-2025-58754 (#3438)
  dynamic-plugins/yarn.lock
  yarn.lock
Due: none

chore(deps): update sha.js to 2.4.12 (#3355)
  dynamic-plugins/yarn.lock
  yarn.lock
Due: none

fix(e2e): topology fix (#3348)
  e2e-tests/playwright/e2e/plugins/topology/topology.spec.ts
  e2e-tests/playwright/support/pages/topology.ts
Due: none

chore(dockerfile): add missing continuation line to remove warning (#3335)
  .rhdh/docker/Dockerfile
  docker/Dockerfile
Due: none

Update README.md with correct information where to report Bugs (#3253)
  README.md
Due: prettier --write

fix(core-components): add missing translations for some core components (#3387)
  packages/app/src/components/DynamicRoot/DynamicRoot.tsx
  packages/app/src/translations/core-components/core-components-en.ts
  packages/app/src/translations/core-components/core-components.ts
Due: none

chore: assign reviewers to renovate PRs (#3383)
  .github/renovate.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
