Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

refactor(ci): remove Kubernetes cluster URL export from EKS and GKE job scripts
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
  .ibm/pipelines/jobs/gke-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: standardize ephemeral storage comments in Kubernetes manifests and clean up whitespace in GKE value files
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-rbac_K8s.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start_K8s.yaml
  .ibm/pipelines/value_files/diff-values_showcase_GKE.yaml
Due: prettier --write

chore: disable specific dynamic plugins in GKE to optimize disk space and skip related tests
  .ibm/pipelines/value_files/diff-values_showcase_GKE.yaml
  e2e-tests/playwright/e2e/plugins/adoption-insights/adoption-insights.spec.ts
Due: prettier --write

chore: increase ephemeral storage limit for dynamic plugins installation in Kubernetes manifests to prevent extraction errors
  .ibm/pipelines/resources/rhdh-operator/rhdh-start-rbac_K8s.yaml
  .ibm/pipelines/resources/rhdh-operator/rhdh-start_K8s.yaml
Due: prettier --write

RHDHBUGS-1927 gitlab-discovery.spec.ts - failing
  .ibm/pipelines/resources/config_map/app-config-rhdh.yaml
  e2e-tests/playwright/e2e/plugins/gitlab/gitlab-discovery.spec.ts
Due: prettier --write

fix(ci): increase emptyDir size for dynamic plugins in K8s environments
  .ibm/pipelines/value_files/diff-values_showcase_GKE.yaml
Due: prettier --write

feat(docker): add cleanup script for dynamic plugins to reduce disk usage
  .ibm/pipelines/value_files/diff-values_showcase_GKE.yaml
  .rhdh/docker/Dockerfile
  docker/cleanup-dynamic-plugins.sh
  docker/install-dynamic-plugins.sh
Due: prettier --write

fix(ci): enable dynamic plugins cleanup for all K8s environments
  .ibm/pipelines/value_files/diff-values_showcase_AKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase_EKS.yaml
Due: prettier --write

refactor: enhance GitHub Actions workflows with improved environment variable handling
  .github/actions/check-author/action.yaml
  .github/actions/check-image-and-changes/action.yaml
  .github/actions/docker-build/action.yaml
  .github/actions/get-sha/action.yml
  .github/workflows/auto-approve-bot-prs.yaml
  .github/workflows/next-build-image.yaml
  .github/workflows/on-new-issue.yaml
  .github/workflows/pr-build-image.yaml
  .github/workflows/pr-podman-push.yaml
  .github/workflows/pr.yaml
  .github/workflows/push-e2e-runner.yaml
  .github/workflows/update-backstage.yaml
  .github/workflows/update-rpm-lockfile.yaml
  .gitignore
  docker/.gitignore
Due: prettier --write

Update app-config and gitlab-discovery.spec to use GH_USER_ID account
  .ibm/pipelines/resources/config_map/app-config-rhdh.yaml
  e2e-tests/playwright/e2e/plugins/gitlab/gitlab-discovery.spec.ts
Due: prettier --write

style: fix YAML formatting (prettier)
  .ibm/pipelines/resources/config_map/app-config-rhdh.yaml
Due: prettier --write

style: fix TypeScript formatting (prettier)
  e2e-tests/playwright/e2e/plugins/gitlab/gitlab-discovery.spec.ts
Due: none

chore: allow writing contents; shorten timeout to 3hrs (we only need 90 mins, really); echo the diff we're about to commit for debugging purposes (RHIDP-9835)
  .github/workflows/next-build-image.yaml
Due: prettier --write

chore: clean up flow issues (thanks, Cursor) - RHIDP-9835 Assisted-By: Cursor
  .github/workflows/next-build-image.yaml
Due: prettier --write

chore: automate OWNERS_ALIASES management
  .github/CODEOWNERS
  .github/workflows/sync-owners-aliases.yaml
  OWNERS
  OWNERS_ALIASES
  dynamic-plugins/wrappers/OWNERS
  e2e-tests/OWNERS
  scripts/generate-owners-aliases.js
Due: prettier --write

Update community-plugins_v1.8_s3281-fr-C.json
  translations/community-plugins_v1.8_s3281-fr-C.json
Due: prettier --write

Update core-plugins_v1.8_s3281-fr-C.json
  translations/core-plugins_v1.8_s3281-fr-C.json
Due: prettier --write

Update rhdh-plugins__v1.8_s3281-fr-C.json
  translations/rhdh-plugins__v1.8_s3281-fr-C.json
Due: prettier --write

Update rhdh_v1.8_s3281-fr-C.json
  translations/rhdh_v1.8_s3281-fr-C.json
Due: prettier --write

RHDHBUGS-2071 e2e tests should not depend on external resources like roadiehq
  e2e-tests/playwright/e2e/audit-log/auditor-catalog.spec.ts
Due: none

upgrade typeorm dependency (#3705)
  yarn.lock
Due: none

Update apiVersion in backstage.yaml to v1alpha3
  e2e-tests/playwright/utils/authentication-providers/yamls/backstage.yaml
Due: prettier --write

Update documentation wording
  docs/dynamic-plugins/installing-plugins.md
Due: prettier --write

fix: correct title formatting in sync-owners-aliases workflow
  .github/workflows/sync-owners-aliases.yaml
Due: prettier --write

fix: remove trailing whitespace changes from catalog index feature
  docker/install-dynamic-plugins.py
Due: none

fix: update token reference in sync-owners-aliases workflow
  .github/workflows/sync-owners-aliases.yaml
Due: prettier --write

Restore test file from upstream/main to preserve original trailing whitespace,while keeping only the functional additions for catalog index testing
  docker/test_install-dynamic-plugins.py
Due: none

chore: add jira annotations
  catalog-info.yaml
Due: prettier --write

Move supporting file
  e2e-tests/playwright/utils/postgres-config.ts
Due: none

chore(e2e): test for external Azure DB
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/resources/postgres-db/azure-postgres-cred.yaml.template
  .ibm/pipelines/resources/postgres-db/postgres-crt-azure.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Azure and refactor
  .ibm/pipelines/env_variables.sh
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/external-database/db-certificates.ts
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-azure-db.spec.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

RDS 4
  .ibm/pipelines/env_variables.sh
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-rds.spec.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

rename azure db
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-azure-db.spec.ts
Due: none

This is working with RDS
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/jobs/ocp-nightly.sh
  .ibm/pipelines/resources/postgres-db/azure-postgres-cred.yaml.template
  .ibm/pipelines/resources/postgres-db/postgres-crt-azure.yaml
  .ibm/pipelines/resources/postgres-db/postgres-crt-rds.yaml
  .ibm/pipelines/utils.sh
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/external-database/db-certificates.ts
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-rds.spec.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Update verify-tls-config-with-external-rds.spec.ts
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-rds.spec.ts
Due: none

fix
  .ibm/pipelines/install-methods/operator.sh
  .ibm/pipelines/jobs/ocp-operator.sh
  e2e-tests/playwright/utils/postgres-config.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Validations
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-azure-db.spec.ts
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-rds.spec.ts
Due: none

Address review from qodo
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-azure-db.spec.ts
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-rds.spec.ts
Due: none
