Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: re-enable tests in smoke-test.spec.ts
  e2e-tests/playwright/e2e/smoke-test.spec.ts
Due: none

chore: re-enable tests in guest-signin-happy-path.spec.ts
  e2e-tests/playwright/e2e/guest-signin-happy-path.spec.ts
Due: none

chore(e2e-tests): test e2e jobs
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e-tests): comment out unknown command/function
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: re-enable tests in adoption-insights.spec.ts
  e2e-tests/playwright/e2e/plugins/adoption-insights/adoption-insights.spec.ts
Due: none

chore: re-enable tests in acr.spec.ts
  e2e-tests/playwright/e2e/plugins/acr.spec.ts
Due: none

chore: re-enable tests in default-global-header.spec.ts
  e2e-tests/playwright/e2e/default-global-header.spec.ts
Due: none

chore: re-enable tests in dynamic-home-page-customization.spec.ts
  e2e-tests/playwright/e2e/dynamic-home-page-customization.spec.ts
Due: none

chore: re-enable tests in bulk-import.spec.ts
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

chore: update rpms.lock.yaml [skip-build]
  rpms.lock.yaml
Due: prettier --write

chore(e2e): tmp test wait for crds (#3843)
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(e2e): tmp test wait for crds (#3843) (#3914)
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Delete .last-run.json
  test-results/.last-run.json
Due: prettier --write

chore: remove deprecated manifests directory
  manifests/base/certificate.yaml
  manifests/base/deployment.yaml
  manifests/base/externalsecret.yaml
  manifests/base/ingress.yaml
  manifests/base/issuer.yaml
  manifests/base/keycloak/certificate.yaml
  manifests/base/keycloak/deploymentconfig.yaml
  manifests/base/keycloak/ingress.yaml
  manifests/base/keycloak/kustomization.yaml
  manifests/base/keycloak/service.yaml
  manifests/base/kustomization.yaml
  manifests/base/obc.yaml
  manifests/base/postgres.yaml
  manifests/base/service.yaml
  manifests/components/postgres-db/kustomization.yaml
  manifests/components/postgres-db/operator-group.yaml
  manifests/components/postgres-db/sub.yaml
  manifests/overlays/dev/kustomization.yaml
  manifests/overlays/prod/kustomization.yaml
Due: prettier --write

chore: re-enable tests in extensions.spec.ts
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: none

chore: re-enable tests in custom-theme.spec.ts
  e2e-tests/playwright/e2e/custom-theme.spec.ts
Due: none

chore: re-enable tests in gitlab-discovery.spec.ts
  e2e-tests/playwright/e2e/plugins/gitlab/gitlab-discovery.spec.ts
Due: none

chore: re-enable tests in config-map.spec.ts
  e2e-tests/playwright/e2e/configuration-test/config-map.spec.ts
Due: none

chore: re-enable tests in github.spec.ts
  e2e-tests/playwright/e2e/auth-providers/github.spec.ts
Due: none

chore: re-enable tests in catalog-timestamp.spec.ts
  e2e-tests/playwright/e2e/catalog-timestamp.spec.ts
Due: none

feat(e2e): add orchestrator RBAC tests and deployment fixes
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  .ibm/pipelines/utils.sh
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): prevent RBAC test interference from parallel test execution
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

fix(e2e): also filter workflow policies from RBAC API test
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

style(e2e): apply prettier formatting to rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

chore(ci): trigger e2e by comment
  .github/workflows/pr-podman-push.yaml
Due: prettier --write

Use isSkipped
  .github/actions/check-image-and-changes/action.yaml
  .github/workflows/pr-build-image.yaml
  .github/workflows/pr-podman-push.yaml
Due: prettier --write

Revert "chore(ci): trigger e2e by comment"
  .github/workflows/pr-podman-push.yaml
Due: prettier --write

Trigger e2e tests in a separate comment
  .github/workflows/pr-podman-push.yaml
Due: prettier --write

Update pr-podman-push.yaml
  .github/workflows/pr-podman-push.yaml
Due: prettier --write

Update action.yaml
  .github/actions/check-image-and-changes/action.yaml
Due: prettier --write

chore(e2e-tests): trigger e2e tests automatically when a new container image is ready
  .github/workflows/pr-podman-push.yaml
Due: prettier --write

chore: re-enable tests in github-discovery.spec.ts
  e2e-tests/playwright/e2e/github-discovery.spec.ts
Due: none

Unskip runtime tests
  e2e-tests/playwright/e2e/configuration-test/config-map.spec.ts
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-azure-db.spec.ts
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-rds.spec.ts
Due: none

chore(ci): update to Crunchy PostgreSQL 17
  .ibm/pipelines/resources/postgres-db/postgres.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

check for errors
  e2e-tests/playwright/utils/kube-client.ts
Due: none

chore(e2e-tests): install operators parallel
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
