Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update main to ubi9/nodejs-22-minimal:9.7-1766364286 from ubi9/nodejs-22-minimal:9.7-1764607007 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update release-1.7 to ubi9/nodejs-22:9.7-1766414965 from ubi9/nodejs-22:9.7-1764636141 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

chore: update main to ubi9/nodejs-22:9.7-1766414965 from ubi9/nodejs-22:9.7-1764636141 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

chore: update main to ubi9/nodejs-22-minimal:9.7-1766364286 from ubi9/nodejs-22-minimal:9.7-1764607007 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

chore: update release-1.7 to ubi9/nodejs-22-minimal:9.7-1766364286 from ubi9/nodejs-22-minimal:9.7-1764607007 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

chore: update release-1.8 to ubi9/nodejs-22:9.7-1766414965 from ubi9/nodejs-22:9.7-1764636141 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update release-1.8 to ubi9/nodejs-22-minimal:9.7-1766364286 from ubi9/nodejs-22-minimal:9.7-1764607007 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update release-1.8 to ubi9/nodejs-22:9.7-1766414965 from ubi9/nodejs-22:9.7-1764636141 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

chore: update release-1.8 to ubi9/nodejs-22-minimal:9.7-1766364286 from ubi9/nodejs-22-minimal:9.7-1764607007 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

chore: update release-1.7 to ubi9/nodejs-22:9.7-1766414965 from ubi9/nodejs-22:9.7-1764636141 [skip-build] [skip-e2e] (#3953)
  .rhdh/docker/Dockerfile
  docker/Dockerfile
Due: none

chore: update rpms.lock.yaml [skip-build]
  rpms.lock.yaml
Due: prettier --write

chore: update rpms.lock.yaml [skip-build] (#3956)
  rpms.lock.yaml
Due: prettier --write

chore: update qs to fix CVE-2025-15284
  dynamic-plugins/yarn.lock
  plugins/dynamic-plugins-info-backend/package.json
  plugins/licensed-users-info-backend/package.json
  plugins/scalprum-backend/package.json
  yarn.lock
Due: prettier --write

chore: update qs to fix CVE-2025-15284 (#3959)
  dynamic-plugins/yarn.lock
  plugins/dynamic-plugins-info-backend/package.json
  plugins/licensed-users-info-backend/package.json
  plugins/scalprum-backend/package.json
  yarn.lock
Due: prettier --write

chore: update jws to fix CVE-2025-65945
  dynamic-plugins/yarn.lock
  yarn.lock
Due: none

collation upgrade
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update jws to fix CVE-2025-65945 (#3961)
  dynamic-plugins/yarn.lock
  yarn.lock
Due: none

chore: remove remove community plugin wrappers [skip-build] [skip-e2e]
  dynamic-plugins/wrappers/backstage-community-plugin-quay/.eslintignore
  dynamic-plugins/wrappers/backstage-community-plugin-quay/.eslintrc.js
  dynamic-plugins/wrappers/backstage-community-plugin-quay/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-quay/src/index.ts
  dynamic-plugins/wrappers/backstage-community-plugin-quay/tsconfig.json
  dynamic-plugins/wrappers/backstage-community-plugin-quay/turbo.json
  dynamic-plugins/wrappers/backstage-community-plugin-redhat-argocd/.eslintignore
  dynamic-plugins/wrappers/backstage-community-plugin-redhat-argocd/.eslintrc.js
  dynamic-plugins/wrappers/backstage-community-plugin-redhat-argocd/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-redhat-argocd/src/alpha.ts
  dynamic-plugins/wrappers/backstage-community-plugin-redhat-argocd/src/index.ts
  dynamic-plugins/wrappers/backstage-community-plugin-redhat-argocd/tsconfig.json
  dynamic-plugins/wrappers/backstage-community-plugin-redhat-argocd/turbo.json
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-quay-dynamic/.eslintignore
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-quay-dynamic/.eslintrc.js
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-quay-dynamic/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-quay-dynamic/src/index.ts
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-quay-dynamic/tsconfig.json
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-quay-dynamic/turbo.json
  dynamic-plugins/wrappers/backstage-community-plugin-tekton/.eslintignore
  dynamic-plugins/wrappers/backstage-community-plugin-tekton/.eslintrc.js
  dynamic-plugins/wrappers/backstage-community-plugin-tekton/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-tekton/src/index.ts
  dynamic-plugins/wrappers/backstage-community-plugin-tekton/tsconfig.json
  dynamic-plugins/wrappers/backstage-community-plugin-tekton/turbo.json
Due: prettier --write

feat: adding testing workflow to orchestrator tests
  .ibm/pipelines/utils.sh
  e2e-tests/playwright/e2e/plugins/orchestrator/failswitch-workflow.spec.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

disable orchestrator scaffolder plugin for tests
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

update zod
  packages/backend/package.json
  packages/backend/src/modules/resolverUtils.ts
  packages/backend/src/modules/rhdhSignInResolvers.ts
  yarn.lock
Due: prettier --write

remove instanceMetadataServiceFactory
  packages/backend/src/defaultServiceFactories.test.ts
  packages/backend/src/defaultServiceFactories.ts
Due: none

remove orchestrator from tests
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
  e2e-tests/playwright.config.ts
Due: prettier --write

fix: update and disable some tests to pass tests
  e2e-tests/playwright/e2e/extensions.spec.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/workflow-all-runs-validations.spec.ts
  e2e-tests/playwright/e2e/scaffolder-backend-module-annotator.spec.ts
  e2e-tests/playwright/utils/custom-theme/theme-verifier.ts
Due: none

add service factory
  packages/backend/src/defaultServiceFactories.ts
Due: none

fix: update scaffolder modules and adoption insights to versions build for 1.45
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-quay-dynamic/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-regex-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-adoption-insights-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-adoption-insights/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-analytics-module-adoption-insights-dynamic/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

ran prettier
  packages/backend/src/modules/resolverUtils.ts
  packages/backend/src/modules/rhdhSignInResolvers.ts
Due: none

update scaffolder plugins
  dynamic-plugins/wrappers/backstage-community-plugin-catalog-backend-module-scaffolder-relation-processor-dynamic/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-kubernetes-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-scaffolder-backend-module-github-dynamic/package.json
  dynamic-plugins/wrappers/roadiehq-scaffolder-backend-module-http-request-dynamic/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

fix script to remove sonarqube warnings
  scripts/update-backstage.mjs
Due: none

fix tsc errors
  packages/backend/src/modules/resolverUtils.ts
  packages/backend/src/modules/rhdhSignInResolvers.ts
Due: none

run prettier
  packages/backend/src/defaultServiceFactories.test.ts
Due: none

Update backstage update script
  scripts/update-backstage.mjs
Due: none

update plugin-catalog-react version to resolve import error
  package.json
  yarn.lock
Due: prettier --write

zod update reflected
  packages/backend/src/modules/resolverUtils.ts
  packages/backend/src/modules/rhdhSignInResolvers.ts
Due: none

resolve merge error with express update
  plugins/dynamic-plugins-info-backend/package.json
  plugins/licensed-users-info-backend/package.json
  plugins/scalprum-backend/package.json
Due: prettier --write

fix errors with skipped tests
  e2e-tests/playwright/e2e/plugins/orchestrator/workflow-all-runs-validations.spec.ts
  e2e-tests/playwright/e2e/scaffolder-backend-module-annotator.spec.ts
Due: none

fix: Re-enabled e2e tests for orchestrator workflows.
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/plugins/orchestrator/workflow-all-runs-validations.spec.ts
Due: prettier --write

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
