Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

feat: add read-only RBAC tests for orchestrator plugin
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

Fix Orchestrator RBAC E2E tests for workflow instance isolation
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

feat: add individual workflow denied access RBAC tests for orchestrator plugin
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

feat: add individual workflow read-write access RBAC tests for orchestrator plugin
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

Refactor Orchestrator RBAC tests to use fixed role names
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

Fix role naming and user switching for admin tests
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

Add orchestrator to pluginsWithPermission array in RBAC configuration
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  rhdh-ci-testing-chad/helm-cm.yaml
Due: prettier --write

Complete refactoring of Orchestrator RBAC tests with fixed role names
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

feat: add orchestrator RBAC tests to e2e test suite
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

Add temp sleep for testing
  .ibm/pipelines/jobs/ocp-operator.sh
  rhdh-ci-testing-chad/helm-cm.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

feat: implement orchestrator RBAC e2e tests
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: none

refactor: update test naming to include 'global' for workflow RBAC tests
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

chore(plugins): fix indentation for dataIndexService in values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

fix: resolve linting errors in orchestrator RBAC e2e tests
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

fix: apply Prettier formatting to e2e test files
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: none

fix: wait for backstage deployment readiness before orchestrator plugin operations
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix: apply prettier formatting to utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix: disable tech-radar frontend plugin in RBAC operator deployments
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: comment out sleep command used for testing
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: comment out sleep command used for testing
  .ibm/pipelines/jobs/ocp-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix: disable all tech-radar plugins (frontend and backend) in RBAC operator deployments
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(e2e): global header test fix
  e2e-tests/playwright/e2e/default-global-header.spec.ts
Due: none

chore(e2e): clean up ui-helper
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

Update openshift-ci-tests.sh to use static chart version
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Update utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Update image repository and tag in RBAC values
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

Update image repository and tag in values_showcase.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

Update header tab verification method
  e2e-tests/playwright/e2e/default-global-header.spec.ts
Due: none

Update settings.spec.ts
  e2e-tests/playwright/e2e/settings.spec.ts
Due: none

feat: fix for user-onboarding workflow for orchestrator testing
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Regen yarn lock
  e2e-tests/yarn.lock
Due: none

Remove sealights env vars
  .ibm/pipelines/env_variables.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

RHDHBUGS-2160 - E2E Test Failure: "Default Global Header - Verify Profile Dropdown" fails with incorrect selector
  e2e-tests/playwright/e2e/default-global-header.spec.ts
Due: none

RHDHBUGS-2160 - ran prettier
  e2e-tests/playwright/e2e/default-global-header.spec.ts
Due: none

test RHDH 1.8 [skip-build]
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

TEST RHDH 1.8 [skip-build]
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
