Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Update .github/workflows/auto-approve-bot-prs.yaml
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

Update ocp-pull.sh
  .ibm/pipelines/jobs/ocp-pull.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Update values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

Update values_showcase.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

test 1.7.2 [skip-build]
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

test [skip-build]
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

test [skip-build]
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: debugging RHDHBUGS-2088
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: debugging RHDHBUGS-2088 (#3654)
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(e2e): add tests for RBAC policyDecisionPrecedence config
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  .ibm/pipelines/resources/config_map/rbac-policy.csv
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(theme): update theme version for techdocs subheader addon style fix
  packages/app/package.json
  yarn.lock
Due: prettier --write

resolved merging conflicts
  yarn.lock
Due: none

update Orchestrator plugins to version 1.8.2 [release-1.8]
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator-backend.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator-form-widgets.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-orchestrator.yaml
  catalog-entities/marketplace/packages/redhat-backstage-plugin-scaffolder-backend-module-orchestrator.yaml
  dynamic-plugins.default.yaml
Due: prettier --write

feat: simplify auto-approve workflow comments and remove noise
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

chore: Update to ubi9/nodejs-22:9.6-1762359834 from ubi9/nodejs-22:9.6-1761057796 [skip-build]
  docker/Dockerfile
Due: none

chore: Update to ubi9/nodejs-22:9.6-1762359834 from ubi9/nodejs-22:9.6-1761057796 [skip-build]
  .rhdh/docker/Dockerfile
Due: none

chore: update rpms.lock.yaml
  rpms.lock.yaml
Due: prettier --write

chore: tagRelease.sh: bump to 1.7.3 in release-1.7 branch [skip-build] (#3653)
  dynamic-plugins/package.json
  e2e-tests/package.json
  package.json
  packages/app/src/build-metadata.json
Due: prettier --write

chore: standardize the topic branch prefix for things we want to automerge when generated by the bot
  .github/workflows/update-rpm-lockfile.yaml
  .github/workflows/update-versions.yaml
Due: prettier --write

RHDHBUGS-2160 - E2E Test Failure: "Default Global Header - Verify Profile Dropdown" fails with incorrect selector
  e2e-tests/playwright/e2e/default-global-header.spec.ts
Due: none

TEST RHDH 1.8 [skip-build]
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

TEST RHDH 1.8 [skip-build]
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

test RHDH 1.8 [skip-build]
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

testing OC 4.20 on AWS [skip-build]
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

TEST RHDH 1.8 [skip-build]
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

TEST RHDH 1.8 [skip-build]
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

test 1.8 [skip-build]
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

test 1.8 [skip-build]
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

TEST RHDH 1.8 [skip-build]
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Enable orchestrator plugins and workflows deployment [skip-build]
  .ibm/pipelines/jobs/ocp-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

test 1.8 [skip-build]
  .ibm/pipelines/jobs/ocp-pull.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

TEST RHDH 1.8 [skip-build]
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
