Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): use correct orchestrator permissions per documentation
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

fix(e2e): improve workflow instance detection in runs list
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

style(e2e): format orchestrator-rbac.spec.ts with prettier
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

fix(e2e): see if navigating to the catalog first helps
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

chore: update dynamic-plugins.default.yaml from quay.io/rhdh/plugin-catalog-index:1.10.0
  dynamic-plugins.default.yaml
Due: prettier --write

fix(e2e): wait for bulk import to ingest repo
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

fix(e2e): separate text when verifying text in table
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

fix(e2e): bump timeout and intervals
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

chore: update main to ubi9/nodejs-22:9.7-1769661234 from ubi9/nodejs-22:9.7-1767745544 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update main to ubi9/nodejs-22-minimal:9.7-1769430243 from ubi9/nodejs-22-minimal:9.7-1767673763 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update main to ubi9/nodejs-22:9.7-1769661234 from ubi9/nodejs-22:9.7-1767745544 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

chore: update main to ubi9/nodejs-22-minimal:9.7-1769430243 from ubi9/nodejs-22-minimal:9.7-1767673763 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

chore: update release-1.9 to ubi9/nodejs-22:9.7-1769661234 from ubi9/nodejs-22:9.7-1767745544 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update release-1.9 to ubi9/nodejs-22-minimal:9.7-1769430243 from ubi9/nodejs-22-minimal:9.7-1767673763 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update release-1.9 to ubi9/nodejs-22:9.7-1769661234 from ubi9/nodejs-22:9.7-1767745544 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

chore: update release-1.9 to ubi9/nodejs-22-minimal:9.7-1769430243 from ubi9/nodejs-22-minimal:9.7-1767673763 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

chore: update release-1.8 to ubi9/nodejs-22:9.7-1769661234 from ubi9/nodejs-22:9.7-1767745544 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update release-1.8 to ubi9/nodejs-22-minimal:9.7-1769430243 from ubi9/nodejs-22-minimal:9.7-1767673763 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update release-1.8 to ubi9/nodejs-22:9.7-1769661234 from ubi9/nodejs-22:9.7-1767745544 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

chore: update release-1.8 to ubi9/nodejs-22-minimal:9.7-1769430243 from ubi9/nodejs-22-minimal:9.7-1767673763 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

chore: update rpms.lock.yaml [skip-build]
  rpms.lock.yaml
Due: prettier --write

fix(e2e): add missing tech-radar config
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

fix(e2e): bump timeout for auth hack
  e2e-tests/playwright/support/api/rhdh-auth-hack.ts
Due: none

fix(e2e): remove catalog sidebar nav
  e2e-tests/playwright/support/api/rhdh-auth-hack.ts
Due: none

fix(e2e): re-enable licensed-user-info tests
  e2e-tests/playwright/e2e/plugins/licensed-users-info-backend/licensed-users-info.spec.ts
Due: none

fix(e2e): mirror changes across all rbac values files
  .ibm/pipelines/value_files/diff-values_showcase-rbac_AKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase-rbac_EKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase-rbac_GKE.yaml
Due: prettier --write

fix(e2e): attempt to move rbac conditions from initContainer
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

fix(e2e): add conditional policy generation to utils script
  .ibm/pipelines/resources/config_map/conditional-policies.yaml
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

updated-sc-image
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

fix(e2e): allow admin to also view users and groups
  e2e-tests/playwright/support/page-objects/rbac-po.ts
Due: none

fix(e2e): expand test to cover the access of the user
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

fix(e2e): re-enable skipped role deletion test
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

fix(e2e): ensure we navigate to rbac page
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

fix(e2e): add check for restricted catalog entities for admin
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

fix(homepage): polish tag UI and make tags link to filter catalog
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-dynamic-home-page/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

chore: update backstage deps to fix CVE-2026-24046
  dynamic-plugins/package.json
  dynamic-plugins/yarn.lock
  package.json
  packages/backend/package.json
  plugins/dynamic-plugins-info-backend/package.json
  plugins/licensed-users-info-backend/package.json
  plugins/scalprum-backend/package.json
  yarn.lock
Due: prettier --write

refactor(ci): extract testing functions to lib/testing.sh
  .ibm/pipelines/jobs/aks-helm.sh
  .ibm/pipelines/jobs/aks-operator.sh
  .ibm/pipelines/jobs/auth-providers.sh
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
  .ibm/pipelines/jobs/gke-helm.sh
  .ibm/pipelines/jobs/gke-operator.sh
  .ibm/pipelines/jobs/ocp-nightly.sh
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/lib/README.md
  .ibm/pipelines/lib/testing.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

config-addon
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
