Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

Fix and disable
  e2e-tests/playwright/e2e/default-global-header.spec.ts
  e2e-tests/playwright/e2e/extensions.spec.ts
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
Due: none

Update default-global-header.spec.ts
  e2e-tests/playwright/e2e/default-global-header.spec.ts
Due: none

Update github-happy-path.spec.ts
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
Due: none

ESLint rule for test.fixme
  e2e-tests/eslint.config.js
Due: none

Disable quay tests
  e2e-tests/playwright/e2e/plugins/quay/quay-actions.spec.ts
  e2e-tests/playwright/e2e/plugins/quay/quay.spec.ts
Due: none

Add scorecard entities
  catalog-entities/marketplace/packages/all.yaml
  catalog-entities/marketplace/packages/rhdh-backstage-plugin-scorecard-backend-module-github.yaml
  catalog-entities/marketplace/packages/rhdh-backstage-plugin-scorecard-backend-module-jira.yaml
  catalog-entities/marketplace/packages/rhdh-backstage-plugin-scorecard-backend.yaml
  catalog-entities/marketplace/packages/rhdh-backstage-plugin-scorecard.yaml
  catalog-entities/marketplace/plugins/all.yaml
  catalog-entities/marketplace/plugins/scorecard.yaml
Due: prettier --write

Update cloud token instructions
  catalog-entities/marketplace/packages/rhdh-backstage-plugin-scorecard-backend-module-jira.yaml
Due: prettier --write

Add example threshold config
  catalog-entities/marketplace/packages/rhdh-backstage-plugin-scorecard-backend-module-github.yaml
  catalog-entities/marketplace/packages/rhdh-backstage-plugin-scorecard-backend-module-jira.yaml
Due: prettier --write

chore(ci): bump chart to 1.9
  .ibm/pipelines/env_variables.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): skip Edit Pull request Details and Ensure PR Content Reflects Changes
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

Bump scorecard to newer version
  catalog-entities/marketplace/packages/rhdh-backstage-plugin-scorecard-backend-module-github.yaml
  catalog-entities/marketplace/packages/rhdh-backstage-plugin-scorecard-backend-module-jira.yaml
  catalog-entities/marketplace/packages/rhdh-backstage-plugin-scorecard-backend.yaml
  catalog-entities/marketplace/packages/rhdh-backstage-plugin-scorecard.yaml
Due: prettier --write

chore(e2e): skip bulk import on PR's
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

RHIDP-9235 Deprecate OCM plugin from rhdh plugin catalog
  .ibm/pipelines/README.md
  .ibm/pipelines/auth/secrets-rhdh-secrets.yaml
  .ibm/pipelines/cluster/k8s/k8s-utils.sh
  .ibm/pipelines/cluster/operators/acm/multiclusterhub.yaml
  .ibm/pipelines/cluster/operators/acm/operator-group.yaml
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
  .ibm/pipelines/jobs/gke-helm.sh
  .ibm/pipelines/jobs/gke-operator.sh
  .ibm/pipelines/resources/cluster_role/cluster-role-ocm.yaml
  .ibm/pipelines/resources/cluster_role_binding/cluster-role-binding-ocm.yaml
  .ibm/pipelines/utils.sh
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
  dynamic-plugins.default.yaml
  e2e-tests/playwright/e2e/plugins/ocm.spec.ts
  e2e-tests/playwright/support/pages/clusters.ts
  e2e-tests/playwright/support/test-data/dynamic-plugins-info.ts
  scripts/rhdh-openshift-setup/resources/cluster-roles/cluster-role-binding-ocm.yaml
  scripts/rhdh-openshift-setup/resources/cluster-roles/cluster-role-ocm.yaml
  scripts/rhdh-openshift-setup/values.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Update marketplace entries to pull in latest MCP plugins in 1.8
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-software-catalog-mcp-tool.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-techdocs-mcp-tool.yaml
  catalog-entities/marketplace/plugins/mcp-tools.yaml
Due: prettier --write

RHIDP-9235 style: format configuration files and improve readability
  .ibm/.prettierrc.js
  .ibm/images/Dockerfile
  .ibm/images/README
  .ibm/pipelines/cluster/gke/auto-label/index.js
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

keeping previous type
  packages/app/src/components/catalog/EntityPage/defaultTabs.tsx
Due: none

translating default tab
  packages/app/src/components/catalog/EntityPage/defaultTabs.tsx
  packages/app/src/translations/rhdh/de.ts
  packages/app/src/translations/rhdh/es.ts
  packages/app/src/translations/rhdh/fr.ts
  packages/app/src/translations/rhdh/it.ts
  packages/app/src/translations/rhdh/ref.ts
Due: none

adding back comment
  packages/app/src/components/catalog/EntityPage/EntityPage.tsx
Due: none

trying by passing titleKey in scorecard
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

fixing buld fail
  packages/app/src/components/catalog/EntityPage/DiagramTabContent.tsx
Due: none

passing trnaslated tab component
  packages/app/src/components/catalog/EntityPage/DynamicEntityTab.tsx
  packages/app/src/components/catalog/EntityPage/EntityPage.tsx
  packages/app/src/utils/translations/index.ts
  packages/app/src/utils/translations/translationUtils.ts
Due: none

moving prefix of key from app to catalog
  dynamic-plugins.default.yaml
  packages/app/src/components/catalog/EntityPage/defaultTabs.tsx
  packages/app/src/translations/rhdh/de.ts
  packages/app/src/translations/rhdh/es.ts
  packages/app/src/translations/rhdh/fr.ts
  packages/app/src/translations/rhdh/it.ts
  packages/app/src/translations/rhdh/ref.ts
Due: prettier --write

feat(localization): add localization support for entityTabs
  dynamic-plugins.default.yaml
  packages/app/src/components/DynamicRoot/DynamicRoot.tsx
  packages/app/src/components/catalog/EntityPage/DynamicEntityTab.tsx
  packages/app/src/components/catalog/EntityPage/EntityPage.tsx
  packages/app/src/translations/rhdh/de.ts
  packages/app/src/translations/rhdh/es.ts
  packages/app/src/translations/rhdh/fr.ts
  packages/app/src/translations/rhdh/it.ts
  packages/app/src/translations/rhdh/ref.ts
  packages/app/src/utils/dynamicUI/extractDynamicConfig.ts
  packages/plugin-utils/src/types.ts
Due: prettier --write

removing translation ref from default
  dynamic-plugins.default.yaml
  packages/app/src/components/catalog/EntityPage/EntityPage.tsx
Due: prettier --write

chore: Update from ubi9/nodejs-22:9.6-1757333865 to ubi9/nodejs-22:9.6-1760386551
  .rhdh/docker/Dockerfile
Due: none

chore: Update from ubi9/nodejs-22-minimal:9.6-1758213587 to ubi9/nodejs-22-minimal:9.6-1760544659
  .rhdh/docker/Dockerfile
Due: none

chore: Update from ubi9/nodejs-22:9.6-1757333865 to ubi9/nodejs-22:9.6-1760386551
  docker/Dockerfile
Due: none

chore: Update from ubi9/nodejs-22-minimal:9.6-1758213587 to ubi9/nodejs-22-minimal:9.6-1760544659
  docker/Dockerfile
Due: none

fix: mark mcp-chat (yaml) as pre-installed
  catalog-entities/marketplace/plugins/mcp-chat.yaml
Due: prettier --write

fix: remove pre-installed comment from github-insights description
  catalog-entities/marketplace/plugins/github-insights.yaml
Due: prettier --write

fix: remove scaffolder-integrations plugin (which was more a collection)
  catalog-entities/marketplace/plugins/scaffolder-integrations.yaml
Due: prettier --write

fix: revert rename of parfuemerie-douglas/scaffolder-backend-module-azure-repositories to resolve entity name is 'too long' issue
  catalog-entities/marketplace/packages/all.yaml
  catalog-entities/marketplace/packages/parfuemerie-douglas-scaffolder-backend-module-azure-repositorie.yaml
  catalog-entities/marketplace/plugins/azure-repositories.yaml
Due: prettier --write

Update catalog-entities/marketplace/plugins/mcp-chat.yaml
  catalog-entities/marketplace/plugins/mcp-chat.yaml
Due: prettier --write

chore(deps): bump tekton plugin version
  catalog-entities/marketplace/packages/backstage-community-plugin-tekton.yaml
  dynamic-plugins.default.yaml
  dynamic-plugins/wrappers/backstage-community-plugin-tekton/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

chore(e2e): re-enable Quay and GitHub happy path[skip-build]
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
  e2e-tests/playwright/e2e/plugins/quay/quay-actions.spec.ts
  e2e-tests/playwright/e2e/plugins/quay/quay.spec.ts
Due: none

Revert "RHIDP-9235 style: format configuration files and improve readability"
  .ibm/.prettierrc.js
  .ibm/images/Dockerfile
  .ibm/images/README
  .ibm/pipelines/cluster/gke/auto-label/index.js
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

RHIDP-9235 style: format configuration files
  .ibm/pipelines/utils.sh
  dynamic-plugins.default.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always
