Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

https://issues.redhat.com/browse/RHDHBUGS-2483
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

fix: re-enable scaffolder-backend-module-orchestrator in e2e tests
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

Update .claude/memories/add_extension_metadata.md
  .claude/memories/add_extension_metadata.md
Due: prettier --write

Update .rulesync/rules/add_extension_metadata.md
  .rulesync/rules/add_extension_metadata.md
Due: prettier --write

Update .cursor/rules/add_extension_metadata.mdc
  .cursor/rules/add_extension_metadata.mdc
Due: none

chore: tagRelease.sh: bump to 1.8.3 in release-1.8 branch [skip-build] [skip-e2e]
  .ibm/package.json
  dynamic-plugins/package.json
  e2e-tests/package.json
  package.json
  packages/app/src/build-metadata.json
Due: prettier --write

simulate the failure and varify that stderr is surfaced in the error message, matching the behavour in extract_catalog_index
  docker/test_install-dynamic-plugins.py
Due: none

fixup: CalledProcessError is created with only returncode and cmd, then stderr and stdout are set as attributes afterward
  docker/test_install-dynamic-plugins.py
Due: none

chore(e2e): add github custom transformer test
  .ibm/pipelines/value_files/values_showcase-auth-providers.yaml
  e2e-tests/playwright/e2e/auth-providers/github.spec.ts
  e2e-tests/playwright/utils/authentication-providers/rhdh-deployment.ts
  e2e-tests/playwright/utils/authentication-providers/yamls/dynamic-plugins-config.yaml
Due: prettier --write

chore: update comment for skipped image to not trigger tests
  .github/workflows/pr-podman-push.yaml
Due: prettier --write

fix regex to satisfy tags and security scans
  e2e-tests/playwright/utils/quay/quay.ts
Due: none

chore: remove '@parfuemerie-douglas/scaffolder-backend-module-azure-repositories' (RHIDP-11408)
  default.packages.yaml
Due: prettier --write

chore: doc: add warning about the dynamic-plugins.default.yaml being generated in this repo and to not rely on it (RHIDP-10874)
  docs/index.md
Due: prettier --write

chore: do not include the dynamic-plugins.default.yaml in the rhdh-hub image (let's see what breaks) (RHIDP-9835)
  .rhdh/docker/Dockerfile
  docker/Dockerfile
Due: none

chore: update rpms.lock.yaml [skip-build]
  rpms.lock.yaml
Due: prettier --write

Update default.packages.yaml - rename to extensions (RHIDP-11345)
  default.packages.yaml
Due: prettier --write

chore: re-add wrappers for TP/GA plugins moving to commmunity support in 1.9, for which we want a longer warning period (RHIDP-11354)
  dynamic-plugins/wrappers/backstage-community-plugin-quay/.eslintignore
  dynamic-plugins/wrappers/backstage-community-plugin-quay/.eslintrc.js
  dynamic-plugins/wrappers/backstage-community-plugin-quay/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-quay/src/index.ts
  dynamic-plugins/wrappers/backstage-community-plugin-quay/tsconfig.json
  dynamic-plugins/wrappers/backstage-community-plugin-quay/turbo.json
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-quay-dynamic/.eslintignore
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-quay-dynamic/.eslintrc.js
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-quay-dynamic/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-quay-dynamic/src/index.ts
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-quay-dynamic/tsconfig.json
  dynamic-plugins/wrappers/backstage-community-plugin-scaffolder-backend-module-quay-dynamic/turbo.json
  dynamic-plugins/wrappers/backstage-community-plugin-tekton/.eslintignore
  dynamic-plugins/wrappers/backstage-community-plugin-tekton/.eslintrc.js
  dynamic-plugins/wrappers/backstage-community-plugin-tekton/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-tekton/src/index.ts
  dynamic-plugins/wrappers/backstage-community-plugin-tekton/tsconfig.json
  dynamic-plugins/wrappers/backstage-community-plugin-tekton/turbo.json
  dynamic-plugins/wrappers/roadiehq-scaffolder-backend-argocd-dynamic/.eslintignore
  dynamic-plugins/wrappers/roadiehq-scaffolder-backend-argocd-dynamic/.eslintrc.js
  dynamic-plugins/wrappers/roadiehq-scaffolder-backend-argocd-dynamic/package.json
  dynamic-plugins/wrappers/roadiehq-scaffolder-backend-argocd-dynamic/src/index.ts
  dynamic-plugins/wrappers/roadiehq-scaffolder-backend-argocd-dynamic/tsconfig.json
  dynamic-plugins/wrappers/roadiehq-scaffolder-backend-argocd-dynamic/turbo.json
Due: prettier --write

upgraded qs version
  dynamic-plugins/package.json
  dynamic-plugins/yarn.lock
  yarn.lock
Due: prettier --write

remove resolution; dedupe and rebase main
  dynamic-plugins/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

Add a plugin version comparison script ...
  scripts/compare-wrappers-with-published-oci-images.sh
Due: none

regen yarn lock to add plugins
  dynamic-plugins/yarn.lock
Due: none

test(e2e): add orchestrator RBAC e2e test suite
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

fix(e2e): enable RBAC API test with workflow role filtering
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

rename marketplace package name to extensions
  .ibm/pipelines/value_files/values_showcase.yaml
  app-config.dynamic-plugins.yaml
  dynamic-plugins.default.yaml
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-catalog-backend-module-extensions-dynamic/.eslintignore
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-catalog-backend-module-extensions-dynamic/.eslintrc.js
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-catalog-backend-module-extensions-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-catalog-backend-module-extensions-dynamic/src/index.ts
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-catalog-backend-module-extensions-dynamic/tsconfig.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-catalog-backend-module-extensions-dynamic/turbo.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-catalog-backend-module-marketplace-dynamic/turbo.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-extensions-backend-dynamic/.eslintignore
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-extensions-backend-dynamic/.eslintrc.js
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-extensions-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-extensions-backend-dynamic/src/index.ts
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-extensions-backend-dynamic/tsconfig.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-extensions-backend-dynamic/turbo.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-extensions/.eslintignore
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-extensions/.eslintrc.js
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-extensions/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-extensions/src/alpha.ts
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-extensions/src/index.ts
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-extensions/tsconfig.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-extensions/turbo.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace-backend-dynamic/turbo.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace/src/alpha.ts
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace/turbo.json
  dynamic-plugins/yarn.lock
  e2e-tests/playwright/support/pages/extensions.ts
  scripts/check_package_yaml_consistency.py
  translations/rhdh-plugins-reference-2025-12-05-fr-C.json
  translations/rhdh-plugins-reference-2025-12-05-it-C.json
  translations/rhdh-plugins-reference-2025-12-05-ja-C.json
  translations/test/all-v1.8_s3281-en.json
  translations/test/missing-fr-translations.json
Due: prettier --write

update e2e tests
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: none

test: refactor tests for the annotator plugin
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/plugins/scaffolder-backend-module-annotator/annotator.spec.ts
  e2e-tests/playwright/e2e/plugins/scaffolder-relation-processor/scaffolder-relation-processor.spec.ts
  packages/app/src/apis.ts
Due: none

chore: fix prettier
  packages/app/src/apis.ts
Due: none

chore: run prettier against tests
  e2e-tests/playwright/e2e/plugins/scaffolder-backend-module-annotator/annotator.spec.ts
  e2e-tests/playwright/e2e/plugins/scaffolder-relation-processor/scaffolder-relation-processor.spec.ts
Due: none

collation upgrade
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

add var
  .ibm/pipelines/value_files/values_showcase_17.yaml
Due: prettier --write

upgrade and post
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/utils.sh
  .ibm/pipelines/value_files/values_showcase_16.yaml
  .ibm/pipelines/value_files/values_showcase_16_upgrade.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

TEST PostgreSQL 16 on Helm chart
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/utils.sh
  .ibm/pipelines/value_files/values_showcase_17.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

skip
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix typo in dynamic routes mountpoint
  dynamic-plugins.default.yaml
Due: prettier --write

chore: update dynamic-plugins.default.yaml from quay.io/rhdh/plugin-catalog-index:1.9.0
  dynamic-plugins.default.yaml
Due: prettier --write

chore: fixes to ensure script works for macOS. Also adds ability to use qemu to simulate build in another arch.
  scripts/local-hermeto-build.sh
Due: none

chore: tagRelease.sh: bump to 1.7.5 in release-1.7 branch [skip-build] [skip-e2e] (#3967)
  dynamic-plugins/package.json
  e2e-tests/package.json
  package.json
  packages/app/src/build-metadata.json
Due: prettier --write
