Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

cleanup wf for push to main
  .github/workflows/next-build-image.yaml
Due: prettier --write

local testing
  .github/workflows/next-build-image.yaml
Due: prettier --write

chore: add automated lgtm and build skip using rhdh-bot@redhat.com
  .github/workflows/update-rpm-lockfile.yaml
Due: prettier --write

[release-1.6] fix: set the same tag expiry for ALL floating tags, not just the first one published RHIDP-8270, RHIDP-8691 (#3422)
  .github/actions/docker-build/action.yaml
  .github/workflows/next-build-image.yaml
Due: prettier --write

[release-1.7] fix: set the same tag expiry for ALL floating tags, not just the first one published RHIDP-8270, RHIDP-8691 (#3422)
  .github/actions/docker-build/action.yaml
  .github/workflows/next-build-image.yaml
Due: prettier --write

chore: add update-rpm-lockfile workflow (#3342)
  .github/workflows/update-rpm-lockfile.yaml
Due: prettier --write

fix: fix rpm lock update to actually run the command (#3418)
  .github/workflows/update-rpm-lockfile.yaml
Due: prettier --write

fix readme
  .nvm/releases/README.adoc
Due: none

add new rpms.lock.yaml with nodejs 22.19.0
  rpms.lock.yaml
Due: prettier --write

fix: improve 404 error page styling for better visual consistency
  packages/app/src/components/ErrorPages/ErrorPage.tsx
Due: none

Align E2E GitHub plugin tests and helpers with all Gustavo's review comments: use only UIhelper methods for Backstage UI, robust popup handling, CatalogVerifier, and code clarity
  e2e-tests/playwright/e2e/plugins/github-pull-requests.spec.ts
  e2e-tests/playwright/e2e/plugins/github-security-insights.spec.ts
Due: none

refresh start commit
  e2e-tests/playwright/utils/common.ts
Due: none

fix(e2e): improve GitHub login popup handling with robust error handling
  e2e-tests/playwright/utils/common.ts
Due: none

fix(e2e): align common.ts with main branch imports and methods
  e2e-tests/playwright/utils/common.ts
Due: none

chore(ci): update get_artifacts_url for job rename
  .ibm/pipelines/reporting.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Revert Jira token config for Qodo
  .pr_agent.toml
Due: none

feat(e2e): add fresh GitHub PR statistics and security insights tests
  e2e-tests/playwright/e2e/plugins/github-pull-requests.spec.ts
  e2e-tests/playwright/e2e/plugins/github-security-insights.spec.ts
  e2e-tests/playwright/utils/common.ts
Due: none

Update matching job name
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Add comprehensive test suite for AI review bot evaluation
  e2e-tests/playwright/e2e/comprehensive-test-suite.spec.ts
Due: none

Add comprehensive test suite
  e2e-tests/playwright/e2e/comprehensive-test-suite.spec.ts
Due: none

Test enhancements
  e2e-tests/playwright/e2e/default-global-header.spec.ts
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
  e2e-tests/playwright/e2e/smoke-test.spec.ts
Due: none

chore: don't include .ibm/package.json in downstream; only for upstream Dockerfile (RHDHBUGS-2054)
  .rhdh/docker/Dockerfile
  docker/Dockerfile
Due: none

chore: update axios to fix CVE-2025-58754
  yarn.lock
Due: none

fix userInfoRow reference from exp to updated_at
  plugins/licensed-users-info-backend/src/database/databaseUserInfoStore.ts
  plugins/licensed-users-info-backend/src/service/router.ts
Due: none

fix e2e-test yarn.lock
  e2e-tests/yarn.lock
Due: none

update translation-backend
  plugins/translation-backend/package.json
  yarn.lock
Due: prettier --write

fix default factories
  packages/backend/src/defaultServiceFactories.test.ts
  packages/backend/src/defaultServiceFactories.ts
Due: none
