Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

update regex to handle backstage-plugin prefixes of rhdh-plugins
  packages/backend/src/modules/rbacDynamicPluginsModule.ts
Due: none

chore: clean up translation files
  translations/backstage-2026-01-08-fr.json
  translations/backstage-2026-01-08-it.json
  translations/backstage-2026-01-08-ja.json
  translations/community-plugins-2025-12-05-fr.json
  translations/community-plugins-2025-12-05-it.json
  translations/community-plugins-2025-12-05-ja.json
  translations/community-plugins_v1.8_s3281-fr-C.json
  translations/rhdh-plugins-reference-2025-12-05-fr-C.json
  translations/rhdh-plugins-reference-2025-12-05-it-C.json
  translations/rhdh-plugins-reference-2025-12-05-ja-C.json
  translations/rhdh-reference-2025-12-05-fr-C.json
  translations/rhdh-reference-2025-12-05-it-C.json
  translations/rhdh-reference-2025-12-05-ja-C.json
Due: prettier --write

updated fr translation and added a missing rbac key
  translations/backstage-2026-01-08-fr.json
  translations/community-plugins-2025-12-05-fr.json
  translations/community-plugins-2025-12-05-it.json
  translations/community-plugins-2025-12-05-ja.json
Due: prettier --write

addressed review feedback
  translations/backstage-2026-01-08-fr.json
  translations/backstage-2026-01-08-it.json
  translations/backstage-2026-01-08-ja.json
Due: prettier --write

fix(e2e): re-enable licensed-user-info tests
  e2e-tests/playwright/e2e/plugins/licensed-users-info-backend/licensed-users-info.spec.ts
Due: none

chore: update scaffolder annotator module to latest 1.45 version
  packages/backend/package.json
  yarn.lock
Due: prettier --write

fix(CI): update diff values to avoid duplicate plugin definitions
  .ibm/pipelines/value_files/diff-values_showcase-rbac_OSD-GCP.yaml
  .ibm/pipelines/value_files/diff-values_showcase_GKE.yaml
  .ibm/pipelines/value_files/diff-values_showcase_OSD-GCP.yaml
Due: prettier --write

chore(release-1.9): minimize @backstage/plugin-catalog-graph patch
  .yarn/patches/@backstage-plugin-catalog-graph-npm-0.5.3-761764c7c3.patch
  yarn.lock
Due: none

fixed e2e tests
  e2e-tests/playwright/e2e/localization/locale.ts
  translations/community-plugins-2025-12-05-it.json
  translations/community-plugins-2025-12-05-ja.json
  translations/test/community-plugins-reference-2025-12-05-fr.json
  translations/test/rhdh-plugins-reference-2025-12-05-fr.json
  translations/test/rhdh-reference-2025-12-05-fr.json
Due: prettier --write

fix restart timeout and redact some logs
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
Due: none

fix rhdh restart timeouts
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
  e2e-tests/playwright/utils/authentication-providers/rhdh-deployment.ts
Due: none

add gitlab authentication scenario envs
  .ibm/pipelines/env_variables.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

add gitlab authentication scenario
  e2e-tests/playwright/utils/common.ts
Due: none

add gitlab authentication scenario
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/auth-providers/README.md
  e2e-tests/playwright/e2e/auth-providers/gitlab.spec.ts
  e2e-tests/playwright/utils/authentication-providers/gitlab-helper.ts
  e2e-tests/playwright/utils/authentication-providers/rhdh-deployment.ts
  e2e-tests/playwright/utils/common.ts
Due: prettier --write

add gitlab authentication scenario
  e2e-tests/playwright/utils/authentication-providers/gitlab-helper.ts
Due: none

add gitlab authentication scenario
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/auth-providers/gitlab.spec.ts
  e2e-tests/playwright/utils/common.ts
Due: none

add gitlab authentication scenario
  e2e-tests/playwright.config.ts
Due: none

add gitlab authentication scenario
  e2e-tests/playwright/utils/authentication-providers/yamls/backstage.yaml
Due: prettier --write

fix linter
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
  e2e-tests/playwright/e2e/catalog-timestamp.spec.ts
  e2e-tests/playwright/e2e/configuration-test/config-map.spec.ts
  e2e-tests/playwright/e2e/external-database/verify-tls-config-with-external-crunchy.spec.ts
  e2e-tests/playwright/e2e/github-integration-org-fetch.spec.ts
  e2e-tests/playwright/e2e/guest-signin-happy-path.spec.ts
  e2e-tests/playwright/e2e/header-mount-points.spec.ts
  e2e-tests/playwright/e2e/instance-health-check.spec.ts
  e2e-tests/playwright/e2e/plugins/acr.spec.ts
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
  e2e-tests/playwright/e2e/plugins/quick-start.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology-rbac.spec.ts
  e2e-tests/playwright/e2e/settings.spec.ts
  e2e-tests/playwright/e2e/smoke-test.spec.ts
  e2e-tests/playwright/e2e/verify-redis-cache.spec.ts
  e2e-tests/playwright/utils/authentication-providers/rhdh-deployment.ts
Due: none

fix rhdh restart timeouts
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
Due: none

add gitlab authentication scenario
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/auth-providers/gitlab.spec.ts
  e2e-tests/playwright/utils/authentication-providers/gitlab-helper.ts
  e2e-tests/playwright/utils/authentication-providers/rhdh-deployment.ts
  e2e-tests/playwright/utils/common.ts
Due: none

add gitlab authentication scenario
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/auth-providers/gitlab.spec.ts
  e2e-tests/playwright/utils/authentication-providers/rhdh-deployment.ts
  e2e-tests/playwright/utils/common.ts
Due: none

chore: convert unnecessary `pull_request_target` workflows to `pull_request`
  .github/workflows/auto-approve-bot-prs.yaml
  .github/workflows/pr-1.8.yaml
  .github/workflows/pr-build-image.yaml
  .github/workflows/pr.yaml
Due: prettier --write

chore(e2e): add github custom transformer test
  .ibm/pipelines/value_files/values_showcase-auth-providers.yaml
  e2e-tests/playwright/e2e/auth-providers/github.spec.ts
  e2e-tests/playwright/utils/authentication-providers/rhdh-deployment.ts
  e2e-tests/playwright/utils/authentication-providers/yamls/dynamic-plugins-config.yaml
Due: prettier --write

chore: update to latest wheel, setuptools, other deps (RHIDP-11516)
  python/README.requirements.md
  python/requirements-build.in
  python/requirements-build.txt
  python/requirements-dev.in
  python/requirements-dev.txt
  python/requirements.in
  python/requirements.txt
Due: prettier --write

bump to newer flit
  python/requirements-build.in
  python/requirements-build.txt
  python/requirements.in
  python/requirements.txt
Due: none

only need one version of wheel==0.46.3; also update test/dev deps
  python/requirements-build.in
  python/requirements-build.txt
  python/requirements-dev.txt
  python/requirements.in
Due: none

chore: revert back to pull_request
  .github/workflows/auto-approve-bot-prs.yaml
  .github/workflows/pr-build-image.yaml
  .github/workflows/pr.yaml
Due: prettier --write

chore: move to `pull_request` for unused branch workflows
  .github/workflows/pr-build-image.yaml
Due: prettier --write

chore: move to `pull_request` for unused branch workflows
  .github/workflows/pr-docker-build.yaml
Due: prettier --write

chore: move to `pull_request` for unused branch workflows
  .github/workflows/pr-docker-build.yaml
  .github/workflows/sync-renovate-changeset.yaml
Due: prettier --write

feat: adding testing workflow to orchestrator tests
  .ibm/pipelines/utils.sh
  e2e-tests/playwright/e2e/plugins/orchestrator/failswitch-workflow.spec.ts
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): add missing lib/common.sh imports in job files
  .ibm/pipelines/jobs/auth-providers.sh
  .ibm/pipelines/jobs/ocp-nightly.sh
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/jobs/upgrade.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): improve configmap retrieval logic in utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): clean up whitespace and improve readability in utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): improve plugin merging logic in utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor(ci): simplify orchestrator plugins enabling logic in utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor(ci): modularize pipeline utilities into lib/ structure
  .ibm/pipelines/README.md
  .ibm/pipelines/jobs/auth-providers.sh
  .ibm/pipelines/jobs/ocp-nightly.sh
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/lib/README.md
  .ibm/pipelines/lib/common.sh
  .ibm/pipelines/lib/k8s-wait.sh
  .ibm/pipelines/lib/operators.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): update OpenShift Pipelines checks to use OPERATOR_NAMESPACE
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always
