Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

refactor(e2e): apply review feedback from jrichter1
  e2e-tests/playwright/e2e/learning-path-page.spec.ts
  e2e-tests/playwright/e2e/plugins/kubernetes/kubernetes-rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology.spec.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

fix(e2e): improve RBAC test accuracy by refining element selection
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

fix(e2e): resolve multiple test failures identified in PR #3837
  e2e-tests/playwright/e2e/plugins/application-provider.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/support/page-objects/catalog/catalog-users-obj.ts
  e2e-tests/playwright/support/page-objects/rbac-po.ts
Due: none

fix(e2e): enhance RBAC role creation flow by adding success message verification
  e2e-tests/playwright/support/page-objects/rbac-po.ts
Due: none

refactor(e2e): replace fragile .nth() indexes with semantic selectors
  e2e-tests/playwright/e2e/plugins/application-provider.spec.ts
Due: none

fix(e2e): enhance test accuracy by refining element selection in application provider and RBAC tests
  e2e-tests/playwright/e2e/plugins/application-provider.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/support/page-objects/catalog/catalog-users-obj.ts
  e2e-tests/playwright/support/page-objects/rbac-po.ts
  e2e-tests/playwright/utils/common.ts
Due: none

fix(e2e): remove unnecessary await from non-Promise values in keycloak utility
  e2e-tests/playwright/utils/keycloak/keycloak.ts
Due: none

fix: disable scaffolder-backend-module-orchestrator - causes startup error
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  .ibm/pipelines/value_files/values_showcase.yaml
Due: prettier --write

fix(e2e): verify disabled actions tooltip instead of view button in production
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: none

fix(e2e): use text locator with parent navigation for card selection
  e2e-tests/playwright/e2e/plugins/application-provider.spec.ts
Due: none

style: apply prettier formatting
  e2e-tests/playwright/e2e/extensions.spec.ts
  e2e-tests/playwright/e2e/plugins/application-provider.spec.ts
Due: none

fix(e2e): improve locator strategies for card selection and production environment checks
  e2e-tests/playwright/e2e/extensions.spec.ts
  e2e-tests/playwright/e2e/plugins/application-provider.spec.ts
Due: none

Revert changes to app-config.dynamic-plugins.yaml
  app-config.dynamic-plugins.yaml
Due: prettier --write

Update docs/dynamic-plugins/wrapping-plugins.md
  docs/dynamic-plugins/wrapping-plugins.md
Due: prettier --write

chore: tagRelease.sh: bump to 1.7.5 in release-1.7 branch [skip-build] [skip-e2e]
  dynamic-plugins/package.json
  e2e-tests/package.json
  package.json
  packages/app/src/build-metadata.json
Due: prettier --write

fix(e2e): wait for Actions cell to be rendered before verifying tooltip text
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: none

fix(ci): enhance wait mechanism for database resource creation in operator deployment
  .ibm/pipelines/install-methods/operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(ci): streamline wait logic in operator deployment for database resources
  .ibm/pipelines/install-methods/operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

test(e2e): skip flaky extensions installed packages test temporarily
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: none

fixed pipeline error by running yarn install
  dynamic-plugins/yarn.lock
Due: none

remove gh-integration
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

fix(ci): enhance orchestrator plugins enabling process in utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: apply suggestions and add troubleshooting for `cache` command
  .gitignore
  docker/README.adoc
  scripts/local-hermeto-build.sh
Due: none

fix(ci): improve error handling and logging in operator deployment for Backstage resource
  .ibm/pipelines/install-methods/operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(deps): force @backstage/plugin-auth-node to resolve to 0.6.10
  dynamic-plugins/.yarn/patches/@backstage-plugin-auth-node-npm-0.6.0-69f2f0dc3f.patch
  dynamic-plugins/package.json
  dynamic-plugins/yarn.lock
  package.json
  yarn.lock
Due: prettier --write

chore: release-1.8: update jws to fix CVE-2025-65945
  dynamic-plugins/yarn.lock
  yarn.lock
Due: none

fix(ci): refine plugin merging logic in enable_orchestrator_plugins_op function
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: release-1.8: update qs to fix CVE-2025-15284
  dynamic-plugins/yarn.lock
  package.json
  plugins/dynamic-plugins-info-backend/package.json
  plugins/licensed-users-info-backend/package.json
  plugins/scalprum-backend/package.json
  yarn.lock
Due: prettier --write

chore: update main to ubi9/nodejs-22:9.7-1767745544 from ubi9/nodejs-22:9.7-1766414965 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update main to ubi9/nodejs-22-minimal:9.7-1767673763 from ubi9/nodejs-22-minimal:9.7-1766364286 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update main to ubi9/nodejs-22:9.7-1767745544 from ubi9/nodejs-22:9.7-1766414965 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

chore: update main to ubi9/nodejs-22-minimal:9.7-1767673763 from ubi9/nodejs-22-minimal:9.7-1766364286 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

chore: update release-1.8 to ubi9/nodejs-22:9.7-1767745544 from ubi9/nodejs-22:9.7-1766414965 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update release-1.8 to ubi9/nodejs-22-minimal:9.7-1767673763 from ubi9/nodejs-22-minimal:9.7-1766364286 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update release-1.8 to ubi9/nodejs-22:9.7-1767745544 from ubi9/nodejs-22:9.7-1766414965 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

chore: update release-1.8 to ubi9/nodejs-22-minimal:9.7-1767673763 from ubi9/nodejs-22-minimal:9.7-1766364286 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

chore: update release-1.7 to ubi9/nodejs-22:9.7-1767745544 from ubi9/nodejs-22:9.7-1766414965 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update release-1.7 to ubi9/nodejs-22-minimal:9.7-1767673763 from ubi9/nodejs-22-minimal:9.7-1766364286 [skip-build] [skip-e2e]
  docker/Dockerfile
Due: none

chore: update release-1.7 to ubi9/nodejs-22:9.7-1767745544 from ubi9/nodejs-22:9.7-1766414965 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
