Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

chore: update dynamic-plugins.default.yaml from quay.io/rhdh/plugin-catalog-index:1.9.0
  dynamic-plugins.default.yaml
Due: prettier --write

chore(e2e): global header test fix (#3618)
  e2e-tests/playwright/e2e/default-global-header.spec.ts
Due: none

chore(e2e): rhdhbugs-2160 - E2E Test Failure: "Default Global Header - Verify Profile Dropdown" fails with incorrect selector (#3630)
  e2e-tests/playwright/e2e/default-global-header.spec.ts
Due: none

fix: disable extensions topology test similar to main, see #3595
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: none

fix(homepage): update homepage plugin and fix customization issues
  app-config.dynamic-plugins.yaml
  catalog-entities/marketplace/packages/roadiehq-backstage-plugin-github-pull-requests.yaml
  dynamic-plugins.default.yaml
  dynamic-plugins/.yarn/patches/@backstage-plugin-home-npm-0.8.12-0d7fbcc764.patch
  dynamic-plugins/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-dynamic-home-page/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

upgraded node-forge dependency
  dynamic-plugins/yarn.lock
  yarn.lock
Due: none

Migrate tests to use extensions catalog entities from overlay repo
  .rhdh/docker/Dockerfile
  docker/Dockerfile
Due: none

chore: fix sync-owners-aliases
  .github/workflows/sync-owners-aliases.yaml
  scripts/generate-owners-aliases.mjs
Due: prettier --write

feat(ci): adopt log module across CI scripts
  .ibm/pipelines/cleanup.sh
  .ibm/pipelines/cluster/aks/aks-helm-deployment.sh
  .ibm/pipelines/cluster/aks/aks-operator-deployment.sh
  .ibm/pipelines/cluster/eks/aws.sh
  .ibm/pipelines/cluster/eks/eks-helm-deployment.sh
  .ibm/pipelines/cluster/eks/eks-operator-deployment.sh
  .ibm/pipelines/cluster/gke/gcloud.sh
  .ibm/pipelines/cluster/gke/gke-helm-deployment.sh
  .ibm/pipelines/cluster/gke/gke-operator-deployment.sh
  .ibm/pipelines/cluster/gke/manifest.sh
  .ibm/pipelines/cluster/k8s/k8s-utils.sh
  .ibm/pipelines/install-methods/operator.sh
  .ibm/pipelines/jobs/aks-helm.sh
  .ibm/pipelines/jobs/aks-operator.sh
  .ibm/pipelines/jobs/auth-providers.sh
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
  .ibm/pipelines/jobs/gke-helm.sh
  .ibm/pipelines/jobs/gke-operator.sh
  .ibm/pipelines/jobs/ocp-nightly.sh
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/lib/log.sh
  .ibm/pipelines/ocp-cluster-claim-login.sh
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/reporting.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update prismjs to fix CVE-2024-53382
  dynamic-plugins/package.json
  dynamic-plugins/yarn.lock
  package.json
  yarn.lock
Due: prettier --write

fix: exit with error when tokne is not set
  scripts/generate-owners-aliases.mjs
Due: none

chore(qodo): review cherry-picks in `e2e-tests` and `.ibm`
  .pr_agent.toml
Due: none

test: add comment for e2e validation
  README.md
Due: prettier --write

fix(ci): use echo instead of log functions inside bash -c subshell
  .ibm/pipelines/install-methods/operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

test: add comment for e2e validation
  docs/index.md
Due: prettier --write

feat: implement orchestrator RBAC e2e tests
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  .ibm/pipelines/utils.sh
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

This is a test to see if the job fails
  .ibm/pipelines/jobs/ocp-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Removing check for project as redundant
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Update docs and rules
  .claude/memories/ci-e2e-testing.md
  .cursor/rules/ci-e2e-testing.mdc
  .rulesync/rules/ci-e2e-testing.md
  docs/e2e-tests/CI.md
Due: prettier --write

chore(ci): decouple namespace from Playwright project name
  .ibm/pipelines/jobs/aks-helm.sh
  .ibm/pipelines/jobs/aks-operator.sh
  .ibm/pipelines/jobs/auth-providers.sh
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
  .ibm/pipelines/jobs/gke-helm.sh
  .ibm/pipelines/jobs/gke-operator.sh
  .ibm/pipelines/jobs/ocp-nightly.sh
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/utils.sh
  e2e-tests/package.json
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Define PW projects in json file
  .ibm/pipelines/jobs/aks-helm.sh
  .ibm/pipelines/jobs/aks-operator.sh
  .ibm/pipelines/jobs/auth-providers.sh
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
  .ibm/pipelines/jobs/gke-helm.sh
  .ibm/pipelines/jobs/gke-operator.sh
  .ibm/pipelines/jobs/ocp-nightly.sh
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/playwright-projects.sh
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/projects.json
  e2e-tests/playwright/projects.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Add check for playwright project
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Fix status saving for showcase-runtime for the fine-grained reporter
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Update docs and rules again
  .claude/memories/ci-e2e-testing.md
  .cursor/rules/ci-e2e-testing.mdc
  .rulesync/rules/ci-e2e-testing.md
  docs/e2e-tests/CI.md
  docs/e2e-tests/README.md
Due: prettier --write

Fix log
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

feat: support autologout config
  e2e-tests/playwright/e2e/auth-providers/oidc.spec.ts
  packages/app/src/components/AppBase/AppBase.tsx
Due: none

Update backstage update script
  scripts/update-backstage.mjs
Due: none

ran prettier
  packages/backend/src/modules/resolverUtils.ts
  packages/backend/src/modules/rhdhSignInResolvers.ts
Due: none

fix tsc errors
  packages/backend/src/modules/resolverUtils.ts
  packages/backend/src/modules/rhdhSignInResolvers.ts
Due: none

fix script to remove sonarqube warnings
  scripts/update-backstage.mjs
Due: none

add service factory
  packages/backend/src/defaultServiceFactories.ts
Due: none

update plugin-catalog-react version to resolve import error
  package.json
  yarn.lock
Due: prettier --write

Update projects.ts
  e2e-tests/playwright/projects.ts
Due: none

Use yarn instead of npx
  .claude/memories/ci-e2e-testing.md
  .claude/memories/playwright-locators.md
  .cursor/rules/ci-e2e-testing.mdc
  .cursor/rules/playwright-locators.mdc
  .ibm/pipelines/utils.sh
  .rulesync/rules/ci-e2e-testing.md
  .rulesync/rules/playwright-locators.md
  docs/e2e-tests/CI.md
  docs/e2e-tests/README.md
  docs/e2e-tests/e2e-i18n-guide.md
  docs/e2e-tests/playwright-locator-best-practices.md
  e2e-tests/playwright/e2e/auth-providers/README.md
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(ci): revert log in reporting.sh
  .ibm/pipelines/reporting.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

updated problematic markdown links
  docs/index.md
Due: prettier --write

replaced links:
  dynamic-plugins/wrappers/immobiliarelabs-backstage-plugin-gitlab/package.json
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-jira/package.json
Due: prettier --write

added readme.md
  README.md
Due: prettier --write
