Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update to ubi9/nodejs-22-minimal:9.7-1762215467 from ubi9/nodejs-22-minimal:9.6-1760544659@sha256:d5bcdacfef806413e124784bf023d56da6eac76d8f55d4a2d056586df8e95e25 [skip-build]
  docker/Dockerfile
Due: none

chore: update to ubi9/nodejs-22:9.7-1763027323 from ubi9/nodejs-22:9.7-1762230782 [skip-build]
  .rhdh/docker/Dockerfile
Due: none

chore: update to ubi9/nodejs-22:9.7-1763027323 from ubi9/nodejs-22:9.7-1762230782 [skip-build]
  docker/Dockerfile
Due: none

fix(auto-approve): add checkout step to fix 'not a git repository' error
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

test: temporarily enable workflow for polasudo to test functionality
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

test: add fix/auto-approve-bot to eligible patterns for testing
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

fix(auto-approve): add issues:write permission for label management
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

fix(auto-approve): use pull_request_target for proper permissions
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

Fix auto-approve workflow: use REST API for adding labels instead of gh CLI
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

test: trigger workflow re-run
  test-trigger.txt
Due: none

test: remove trigger file
  test-trigger.txt
Due: none

test: temporarily disable user condition to test workflow
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

fix(auto-approve): use pull_request_target and add issues:write permission
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

fix(auto-approve): add fix/auto-approve-bot pattern for testing
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

feat(auto-approve): add push trigger for faster testing feedback
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

test: simplify push logging to debug workflow triggering
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

test: add temporary PR labeling simulation for fork testing
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

test: enable real PR labeling on push events for testing
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

test: target PR #1 in fork for labeling test
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

test: target PR #2 for labeling demonstration
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

feat: clean up auto-approve workflow for production use
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

test: temporarily allow polasudo for final workflow testing
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

feat: finalize auto-approve workflow for production
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

test: add file for workflow testing
  workflow-test.md
Due: prettier --write

chore: simplify oci reference when only one plugin is in OCI artifact
  docker/install-dynamic-plugins.py
Due: none

chore: update dynamic plugin install script unit tests
  .gitignore
  docker/test_install-dynamic-plugins.py
Due: none

test: update unit tests for new inherit behavior
  docker/test_install-dynamic-plugins.py
Due: none

docs: update documentation for the path omission feature
  docker/install-dynamic-plugins.py
  docs/dynamic-plugins/installing-plugins.md
Due: prettier --write

chore: implement Tomas' suggestion
  docker/install-dynamic-plugins.py
Due: none

chore: update RPM lockfile in branch (main) [skip-build]
  rpms.lock.yaml
Due: prettier --write

chore: update renovate config
  .github/renovate.json
Due: prettier --write

fix path
  catalog-entities/marketplace/README.md
Due: prettier --write

chore: undo config migration
  .github/renovate.json
Due: prettier --write

fix: fetch most recent pod when debugging job failures
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

feat: add regex support for OCP version patterns in JOB_NAME
  e2e-tests/playwright/utils/constants.ts
  e2e-tests/playwright/utils/helper.ts
Due: none

fix: use compatible pod selection with tail instead of jsonpath array index
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

style: apply prettier formatting to utils.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
