Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

chore: add artifact sanitization
  .github/workflows/pr-podman-push.yaml
Due: prettier --write

chore: move permission to job level
  .github/workflows/pr-1.8.yaml
  .github/workflows/pr-build-image.yaml
  .github/workflows/pr.yaml
Due: prettier --write

chore: add more resolutions to resolve conflicts
  dynamic-plugins/package.json
  dynamic-plugins/yarn.lock
  package.json
  yarn.lock
Due: prettier --write

chore: add additional security remediations
  .github/actions/check-image-and-changes/action.yaml
  .github/workflows/pr-build-image.yaml
  .github/workflows/pr.yaml
Due: prettier --write

chore: move permission to job level
  .github/workflows/pr-build-image.yaml
  .github/workflows/pr.yaml
Due: prettier --write

chore: apply remediations
  .github/actions/check-image-and-changes/action.yaml
  .github/workflows/pr-build-image.yaml
  .github/workflows/pr.yaml
Due: prettier --write

chore: add additional security remediations
  .github/actions/check-image-and-changes/action.yaml
  .github/workflows/pr-1.8.yaml
  .github/workflows/pr-build-image.yaml
  .github/workflows/pr.yaml
Due: prettier --write

chore: update dynamic-plugins.default.yaml from quay.io/rhdh/plugin-catalog-index:1.9.0
  dynamic-plugins.default.yaml
Due: prettier --write

switch back to github zipball because pypi package is missing test-requirements.txt and that makes hermeto sad
  python/README.requirements.md
  python/cachito_hash.sh
  python/requirements-build.in
  python/requirements-build.txt
  python/requirements-dev.in
  python/requirements.in
  python/requirements.txt
Due: prettier --write

chore: update py deps to latest plantuml-markdown 3.11.1 (Feb 2025)
  python/README.requirements.md
  python/cachito_hash.sh
  python/requirements-build.in
  python/requirements-build.txt
  python/requirements.in
  python/requirements.txt
Due: prettier --write

fix(e2e): re-enable skipped flaky rbac test
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

fix(e2e): attempt to move rbac conditions from initContainer
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write

fix(e2e): add missing rbac permissions and roles to constants
  e2e-tests/playwright/data/rbac-constants.ts
Due: none

fix(e2e): add conditional policy generation to utils script
  .ibm/pipelines/resources/config_map/conditional-policies.yaml
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): mirror changes across all rbac values files
  .ibm/pipelines/value_files/diff-values_showcase-rbac_AKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase-rbac_EKS.yaml
  .ibm/pipelines/value_files/diff-values_showcase-rbac_GKE.yaml
Due: prettier --write

fix(e2e): Organization tab has been removed in bulk import UI
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
  e2e-tests/playwright/support/pages/bulk-import.ts
Due: none

fix(e2e): re-enabled skipped bulk import tests
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

fix(e2e): navigate to bulk import page
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

chore(e2e): improve scorecard tests with real backend integration
  .ibm/pipelines/auth/secrets-rhdh-secrets.yaml
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  e2e-tests/playwright/e2e/plugins/scorecard/scorecard.spec.ts
  e2e-tests/playwright/support/page-objects/scorecard/component-import-page.ts
  e2e-tests/playwright/support/page-objects/scorecard/scorecard-page.ts
  e2e-tests/playwright/support/pages/catalog.ts
  e2e-tests/playwright/utils/scorecard-response-utils.ts
  e2e-tests/playwright/utils/scorecard-utils.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(e2e): test broader bulk import test repo name
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

fix(e2e): see if we need to wait before checking for repo
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
Due: none

fix(e2e): add test-level skip for orchestrator RBAC tests
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

fix(e2e): add timeout for workflow visibility in RBAC tests
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: none

test(e2e): add orchestrator RBAC e2e test suite
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

fix(e2e): enable RBAC API test with workflow role filtering
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: none

fix(e2e): add timeout for workflow instance visibility in runs list
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

fix(e2e): improve runs list verification with table row detection
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

fix(e2e): use global instance permissions instead of workflow-specific
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

fix(e2e): replace networkidle with load in orchestrator-rbac tests
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

style(e2e): fix prettier formatting in orchestrator support page
  e2e-tests/playwright/support/pages/orchestrator.ts
Due: none

fix(e2e): add instance permissions for workflow runs visibility
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

fix(e2e): simplify instance access verification in RBAC tests
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none

fix(e2e): use all runs tab instead of invalid URL for runs list
  e2e-tests/playwright/e2e/plugins/orchestrator/orchestrator-rbac.spec.ts
Due: none
