Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update form-data to fix CVE-2025-7783 (#3221)
  dynamic-plugins/yarn.lock
  yarn.lock
Due: none

chore(e2e): fix: keycloak test case (#3207)
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
  e2e-tests/playwright/e2e/github-integration-org-fetch.spec.ts
  e2e-tests/playwright/e2e/plugins/keycloak/catalog-users.spec.ts
  e2e-tests/playwright/e2e/plugins/kubernetes-actions/kubernetes-actions.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/utils/keycloak/keycloak.ts
Due: none

chore(release): fix merge logic so that we combine the next-1.y images into a single one; also fix typo (RHIDP-8256) (#3197)
  .github/workflows/next-build-image.yaml
Due: prettier --write

fix(servicenow): removed servicenow wrappers and added extension yaml files (#3204)
  app-config.dynamic-plugins.yaml
  catalog-entities/marketplace/packages/all.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-servicenow-backend.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-servicenow.yaml
  catalog-entities/marketplace/plugins/all.yaml
  catalog-entities/marketplace/plugins/servicenow.yaml
  dynamic-plugins.default.yaml
  dynamic-plugins/wrappers/backstage-community-plugin-servicenow-backend-dynamic/.eslintignore
  dynamic-plugins/wrappers/backstage-community-plugin-servicenow-backend-dynamic/.eslintrc.js
  dynamic-plugins/wrappers/backstage-community-plugin-servicenow-backend-dynamic/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-servicenow-backend-dynamic/src/index.ts
  dynamic-plugins/wrappers/backstage-community-plugin-servicenow-backend-dynamic/tsconfig.json
  dynamic-plugins/wrappers/backstage-community-plugin-servicenow-backend-dynamic/turbo.json
  dynamic-plugins/wrappers/backstage-community-plugin-servicenow/.eslintignore
  dynamic-plugins/wrappers/backstage-community-plugin-servicenow/.eslintrc.js
  dynamic-plugins/wrappers/backstage-community-plugin-servicenow/package.json
  dynamic-plugins/wrappers/backstage-community-plugin-servicenow/src/index.ts
  dynamic-plugins/wrappers/backstage-community-plugin-servicenow/tsconfig.json
  dynamic-plugins/wrappers/backstage-community-plugin-servicenow/turbo.json
  dynamic-plugins/yarn.lock
  plugins/dynamic-plugins-info/src/components/InternalPluginsMap.ts
Due: prettier --write

chore(deps): bump wrappers to latest .z plugin versions (#3177)
  catalog-entities/marketplace/packages/backstage-community-plugin-tech-radar.yaml
  catalog-entities/marketplace/packages/immobiliarelabs-backstage-plugin-gitlab.yaml
  catalog-entities/marketplace/packages/roadiehq-scaffolder-backend-module-http-request.yaml
  dynamic-plugins/wrappers/backstage-community-plugin-tech-radar/package.json
  dynamic-plugins/wrappers/immobiliarelabs-backstage-plugin-gitlab/package.json
  dynamic-plugins/wrappers/roadiehq-scaffolder-backend-module-http-request-dynamic/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

fix(e2e): sanity plugins failing on microsoft provider (#3206)
  .ibm/pipelines/value_files/diff-values_showcase-sanity-plugins.yaml
Due: prettier --write

chore: add workflow deployments for orchestrator testing (#3089)
  .ibm/pipelines/utils.sh
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: add missing group headings (#3168)
  dynamic-plugins.default.yaml
Due: prettier --write

chore(ci): switch PR workflow from pull_request to pull_request_target for secrets (#3242)
  .github/workflows/pr.yaml
Due: prettier --write

feat(scaffolder-and-catalog-import): Rename `Register an existing component` to `Import an existing Git repository` (#2930)
  e2e-tests/playwright/e2e/audit-log/auditor-catalog.spec.ts
  e2e-tests/playwright/e2e/catalog-scaffolded-from-link.spec.ts
  e2e-tests/playwright/e2e/catalog-timestamp.spec.ts
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
  e2e-tests/playwright/e2e/plugins/bulk-import.spec.ts
  e2e-tests/playwright/e2e/plugins/http-request.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  packages/app/src/components/DynamicRoot/DynamicRoot.tsx
  packages/app/src/translations/catalog-import/catalog-import-en.ts
  packages/app/src/translations/catalog-import/catalog-import.ts
  packages/app/src/translations/scaffolder/scaffolder-en.ts
  packages/app/src/translations/scaffolder/scaffolder.ts
Due: none

chore: Update from ubi9/nodejs-22-minimal:9.6-1752501970 to ubi9/nodejs-22-minimal:9.6-1753796458
  docker/Dockerfile
Due: none

chore: avoid default expiry of 14 day for floating tags; set 1 yr instead (#3179)
  .github/workflows/next-build-image.yaml
Due: prettier --write

chore(e2e): e2e for global header company logo (#3122)
  .ibm/pipelines/resources/config_map/app-config-rhdh.yaml
  .ibm/pipelines/resources/config_map/dynamic-global-header-config.yaml
  e2e-tests/playwright/e2e/custom-theme.spec.ts
  e2e-tests/playwright/e2e/default-global-header.spec.ts
Due: prettier --write

fix(marketplace): fix some marketplace entities (#3167)
  catalog-entities/marketplace/packages/backstage-community-plugin-acr.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-lightspeed-backend.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-lightspeed.yaml
Due: prettier --write

chore: Update from ubi9/nodejs-22:9.6-1753698668 to ubi9/nodejs-22:9.6-1753766610
  docker/Dockerfile
Due: none

chore(e2e): adding e2e tests for the licensed-users-info internal backend plugin (#3161)
  e2e-tests/playwright/e2e/plugins/licensed-users-info-backend/licensed-users-info.spec.ts
Due: none

chore(e2e): serialize GitHub Happy path (#3232)
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
Due: none

chore(deps): update extensions plugin wrappers (#3124)
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-catalog-backend-module-m.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-marketplace-backend.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-marketplace.yaml
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-catalog-backend-module-marketplace-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace/package.json
  dynamic-plugins/yarn.lock
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: prettier --write

fix(lightspeed): update lightspeed plugins image and add installation section (#3238)
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-lightspeed-backend.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-lightspeed.yaml
  catalog-entities/marketplace/plugins/lightspeed.yaml
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace/package.json
  dynamic-plugins/yarn.lock
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: prettier --write

chore: Add orchestrator deployment to RBAC deployment (#3087)
  .ibm/pipelines/utils.sh
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(release): use labels instead of imageLabels because all GH actions use slightly different syntax, ffs (RHIDP-8172) (#3184)
  .github/workflows/next-build-image.yaml
Due: prettier --write

chore: update multer to fix CVE-2025-7338 (#3205)
  dynamic-plugins/yarn.lock
  yarn.lock
Due: none

chore(release): split build steps so we can set a 14d expiry for next and a 183d expiry for releases (RHIDP-8172) (#3185)
  .github/workflows/next-build-image.yaml
Due: prettier --write

feat: migrate lifecycle/support metadata to overlay repo for all supported plugins in downstream-plugins file RHIDP-7526 (#3271)
  catalog-entities/marketplace/packages/all.yaml
  catalog-entities/marketplace/packages/backstage-plugin-catalog-backend-module-ldap.yaml
  catalog-entities/marketplace/packages/rhdh-backstage-plugin-quickstart.yaml
  catalog-entities/marketplace/plugins/all.yaml
  catalog-entities/marketplace/plugins/quickstart.yaml
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-adoption-insights-backend-dynamic/package.json
  scripts/check_package_yaml_consistency.py
  scripts/remove_keywords_from_package_json.py
Due: prettier --write

chore: remove resolution from dynamic-plugins (#3129)
  dynamic-plugins/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

add plugin redhat-resource-optimizations to marketplace (#3091)
  catalog-entities/marketplace/plugins/optimizations.yaml
Due: prettier --write

fix(app-next): adjust test timeout for CI (#3156)
  packages/app-next/src/App.test.tsx
Due: none

chore(release): fix syntax for 'if env.REF_NAME_SHORT starts with next-' (RHIDP-8256) (#3195)
  .github/workflows/next-build-image.yaml
Due: prettier --write

chore: Update from ubi9/nodejs-22-minimal:9.6-1752501970 to ubi9/nodejs-22-minimal:9.6-1753796458
  .rhdh/docker/Dockerfile
Due: none

chore: remove coreydaley (#3247)
  OWNERS
Due: none

chore: update Dockerfile install dynamic plugin script chmod (#3082)
  .rhdh/docker/Dockerfile
  docker/Dockerfile
Due: none

chore: automerge dockerfile updates (#3218)
  .github/renovate.json
Due: prettier --write

update docs to include steps on adding a home page in RHDH (#3018)
  docs/index.md
Due: prettier --write

chore: remove paths-ignore from pr-build-image.yaml (#3297)
  .github/workflows/pr-build-image.yaml
Due: prettier --write

fix(app-next): fix app-next dynamic plugin loading (#3182)
  packages/app-next/package.json
Due: prettier --write

chore(ci): enhance EKS e2e to use AWS DNS (#3203)
  .ibm/pipelines/cluster/eks/aws.sh
  .ibm/pipelines/cluster/eks/eks-helm-deployment.sh
  .ibm/pipelines/cluster/gke/gcloud.sh
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  .ibm/pipelines/utils.sh
  .ibm/pipelines/value_files/diff-values_showcase-rbac_EKS.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Revert "chore(deps): update dependency urllib3 to v2.5.0 [security] (#3011)" (#3151)
  python/requirements-build.in
  python/requirements-build.txt
  python/requirements.in
  python/requirements.txt
Due: none

chore: Update from ubi9/nodejs-22:9.6-1753698668 to ubi9/nodejs-22:9.6-1753766610
  .rhdh/docker/Dockerfile
Due: none

chore(deps): update extensions wrappers (#3199)
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-catalog-backend-module-m.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-marketplace-backend.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-marketplace.yaml
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-catalog-backend-module-marketplace-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

chore: add on workflow file to trigger image push (#3249)
  .github/workflows/podman-push.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
