Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

chore: update rpms.lock.yaml [skip-build]
  rpms.lock.yaml
Due: prettier --write

fix: override OS as well
  scripts/install-dynamic-plugins/install-dynamic-plugins.py
Due: none

fix: override OS as well
  docker/install-dynamic-plugins.py
Due: none

fix: test script to check if the file exists before copying and improve error logging
  .ibm/pipelines/lib/testing.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix testing.sh
  .ibm/pipelines/lib/testing.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

accept incoming changes to testing.sh
  .ibm/pipelines/lib/testing.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Moved the || operator to the start of the next line instead of the end of the previous line.
  .ibm/pipelines/lib/testing.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

ensure /tmp/ exists before processing it with ansi2html.
  .ibm/pipelines/lib/testing.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix: force skopeo to pull the amd64 images... (#4332)
  docker/install-dynamic-plugins.py
Due: none

chore: update dynamic-plugins.default.yaml from quay.io/rhdh/plugin-catalog-index:1.9.0
  dynamic-plugins.default.yaml
Due: prettier --write

fix(scaffolder-e2e): wait for self-service page to load before import
  e2e-tests/playwright/e2e/plugins/scaffolder-relation-processor/scaffolder-relation-processor.spec.ts
Due: none

chore(e2e): re-enable topology.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology.spec.ts
Due: none

test E2E on 4.21
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix: add missing sha256 digest to docker/Dockerfile base image
  docker/Dockerfile
Due: none

Disabled the three failing plugins in both OSD-GCP diff files
  .ibm/pipelines/value_files/diff-values_showcase-rbac_OSD-GCP.yaml
  .ibm/pipelines/value_files/diff-values_showcase_OSD-GCP.yaml
Due: prettier --write

chore: ignore maintainLockFilesWeekly preset
  .github/renovate.json
Due: prettier --write

fix plugins to remain enabled and testable, and the init container should no longer fail due to network timeouts during auto-detection
  .ibm/pipelines/jobs/ocp-operator.sh
  .ibm/pipelines/lib/config.sh
  .ibm/pipelines/value_files/diff-values_showcase-rbac_OSD-GCP.yaml
  .ibm/pipelines/value_files/diff-values_showcase_OSD-GCP.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

run ./.ibm yarn prettier:fix
  .ibm/pipelines/lib/config.sh
  .ibm/pipelines/value_files/diff-values_showcase-rbac_OSD-GCP.yaml
  .ibm/pipelines/value_files/diff-values_showcase_OSD-GCP.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

fix(i18n): dynamic plugin menu items not getting translated
  packages/app/src/utils/dynamicUI/extractDynamicConfigFrontend.test.ts
  packages/app/src/utils/dynamicUI/extractDynamicConfigFrontend.ts
Due: none

Revert "test E2E on 4.21"
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(ci): upgrade Crunchy to 6.0.0
  .ibm/pipelines/resources/postgres-db/postgres.yaml
  .ibm/pipelines/utils.sh
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

add explicit paths
  .ibm/pipelines/lib/config.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

patch @backstage/techdocs-node from 66e08b0
  dynamic-plugins/.yarn/patches/@backstage-plugin-techdocs-node-npm-1.13.6-0ad8839a3e.patch
  dynamic-plugins/package.json
Due: prettier --write

review work cicd
  dynamic-plugins/yarn.lock
Due: none

added resolutions for @backstage/backend-plugin-api and @backstage/cli-common
  dynamic-plugins/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

resolve the CI failure for the specific plugins that were failing.
  .ibm/pipelines/lib/config.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

yarn prettier:fix
  .ibm/pipelines/lib/config.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Revert "chore(ci): upgrade Crunchy to 6.0.0"
  .ibm/pipelines/resources/postgres-db/postgres.yaml
  .ibm/pipelines/utils.sh
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Reapply "test E2E on 4.21"
  .ibm/pipelines/jobs/ocp-pull.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

update
  .ibm/pipelines/lib/config.sh
  .ibm/pipelines/value_files/diff-values_showcase-rbac_OSD-GCP.yaml
  .ibm/pipelines/value_files/diff-values_showcase_OSD-GCP.yaml
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

prettier
  .ibm/pipelines/lib/config.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: enable gh pre-commit hook to run after husky (#4322)
  .husky/pre-commit
Due: none

fix: force skopeo to pull the amd64 images... (#4331)
  scripts/install-dynamic-plugins/install-dynamic-plugins.py
Due: none

chore: update rpms.lock.yaml [skip-build] (#4284)
  rpms.lock.yaml
Due: prettier --write

prevent auto detection failures by ensuring all known ghcr.io plugins have explicit paths
  .ibm/pipelines/lib/config.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

use single quotes
  .ibm/pipelines/lib/config.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

apply patch
  .yarn/patches/@backstage-backend-plugin-api-npm-1.4.2-00e99e5ef3.patch
  .yarn/patches/@backstage-backend-plugin-api-npm-1.4.3-b7f08217ef.patch
  .yarn/patches/@backstage-cli-common-npm-0.1.15-7e1948f753.patch
  dynamic-plugins/package.json
  package.json
  yarn.lock
Due: prettier --write

chore: update release-1.9 to ubi9/nodejs-22:9.7-1772440444 from ubi9/nodejs-22:9.7-1771865410 [skip-build] [skip-e2e]
  .rhdh/docker/Dockerfile
Due: none
