Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

add packages for optimizations workspace FLPATH-2460 https://issues.redhat.com/browse/FLPATH-2460
  catalog-entities/marketplace/packages/all.yaml
  catalog-entities/marketplace/packages/redhat-resource-optimization-backend.yaml
  catalog-entities/marketplace/packages/redhat-resource-optimization.yaml
  catalog-entities/marketplace/plugins/all.yaml
  catalog-entities/marketplace/plugins/redhat-resource-optimization.yaml
Due: prettier --write

Update marketplace entries to pull in latest MCP plugins in 1.8
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-software-catalog-mcp-tool.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-techdocs-mcp-tool.yaml
  catalog-entities/marketplace/plugins/mcp-tools.yaml
Due: prettier --write

Clean up
  .ibm/pipelines/jobs/aks-helm.sh
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
  .ibm/pipelines/jobs/gke-helm.sh
  .ibm/pipelines/jobs/gke-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Clean up EKS
  .ibm/pipelines/cluster/eks/aws.sh
  .ibm/pipelines/jobs/eks-helm.sh
  .ibm/pipelines/jobs/eks-operator.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Update `oc`
  .ibm/images/Dockerfile
Due: none

Clean up GKE
  .ibm/pipelines/cluster/gke/gcloud.sh
  .ibm/pipelines/cluster/k8s/k8s-utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Remove fixme to test on K8s
  e2e-tests/playwright/e2e/audit-log/auditor-rbac.spec.ts
Due: none

Fix rbac message format
  e2e-tests/playwright/e2e/audit-log/log-utils.ts
  e2e-tests/playwright/e2e/audit-log/logs.ts
Due: none

Note
  .ibm/pipelines/openshift-ci-tests.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Clean up AKS
  .ibm/pipelines/cluster/aks/az.sh
  .ibm/pipelines/jobs/aks-helm.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(ci): use hardcoded container platform vars
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/openshift-ci-tests.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Different fixme
  e2e-tests/playwright/e2e/audit-log/auditor-rbac.spec.ts
Due: none

chore(e2e): re-enable Quay and GitHub happy path[skip-build]
  e2e-tests/playwright/e2e/plugins/quay/quay-actions.spec.ts
  e2e-tests/playwright/e2e/plugins/quay/quay.spec.ts
Due: none

chore: remove dependency update patterns from auto-approve workflow
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write

Skip extension missing option
  e2e-tests/playwright/e2e/extensions.spec.ts
Due: none

feat(refactor): add OSD-GCP deployment support and enhance Makefile targets
  .ibm/refactored/Makefile
  .ibm/refactored/entrypoints/deploy-osd-gcp-operator.sh
  .ibm/refactored/entrypoints/deploy-osd-gcp.sh
  .ibm/refactored/modules/platform/detection.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(e2e): add tests for RBAC policyDecisionPrecedence config
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/resources/config_map/app-config-rhdh-rbac.yaml
  .ibm/pipelines/resources/config_map/rbac-policy.csv
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

RHIDP-9016 - removing empty file
  .ibm/orchestrator-infra/configure-rhdh-helm.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

RHIDP-9016
  .ibm/orchestrator-infra/deploy-orchestrator.sh
  .ibm/orchestrator-infra/scripts/04-deploy-workflows.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

RHIDP-9477 chore(ci): simplify e2e-runner workflow configuration
  .github/workflows/push-e2e-runner.yaml
Due: prettier --write

Update setup.yml to refine namespace creation condition for workflows
  .ibm/orchestrator-infra/roles/deploy-workflows/tasks/setup.yml
Due: prettier --write

RHIDP-9477 simplify e2e-runner workflow configuration
  .github/workflows/push-e2e-runner.yaml
Due: prettier --write

Update .github/workflows/push-e2e-runner.yaml
  .github/workflows/push-e2e-runner.yaml
Due: prettier --write

Add theme customization support with custom sidebar navigation
  docs/customization.md
  e2e-tests/playwright/data/theme-constants.ts
  packages/app/src/components/Root/CustomSidebarItem.tsx
  packages/app/src/components/Root/Root.tsx
  packages/app/src/hooks/useThemedConfig.ts
Due: prettier --write

chore: update rpms.lock.yaml
  rpms.lock.yaml
Due: prettier --write

chore(ci): update RPM lockfile update workflow to create unique branches
  .github/workflows/update-rpm-lockfile.yaml
Due: prettier --write

Update .github/workflows/update-rpm-lockfile.yaml
  .github/workflows/update-rpm-lockfile.yaml
Due: prettier --write

chore: add automated lgtm and build skip using rhdh-bot@redhat.com (#3427)
  .github/workflows/update-rpm-lockfile.yaml
Due: prettier --write

chore(ci): enhance rpm lockfile update to use unique branches (#3620)
  .github/workflows/update-rpm-lockfile.yaml
Due: prettier --write

chore(ci): enhance rpm lockfile update to use unique branches [release-1.7] (#3625)
  .github/workflows/update-rpm-lockfile.yaml
Due: prettier --write

Update .github/workflows/auto-approve-bot-prs.yaml
  .github/workflows/auto-approve-bot-prs.yaml
Due: prettier --write
