Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

add orchestrator plugin to dynamic-plugins.default.yaml
  dynamic-plugins.default.yaml
Due: prettier --write

Revert "add orchestrator plugin to dynamic-plugins.default.yaml"
  dynamic-plugins.default.yaml
Due: prettier --write

make UUID claim key in oidcLdapUuidMatchingAnnotation resolver configurable (#2980)
  packages/backend/src/modules/rhdhSignInResolvers.ts
Due: none

refactor(e2e): comment out existing tests and enhance notification handling (#2995)
  .ibm/pipelines/value_files/diff-values_showcase-sanity-plugins.yaml
  e2e-tests/playwright/e2e/default-global-header.spec.ts
  e2e-tests/playwright/e2e/verify-tls-config-health-check.spec.ts
  e2e-tests/playwright/support/api/notifications.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: prettier --write

feat: add config to allow for auxiliary auth providers without identity resolution (#2977)
  docs/auth.md
  e2e-tests/playwright/e2e/authProviders/github.spec.ts
  e2e-tests/playwright/e2e/authProviders/oidc.spec.ts
  packages/backend/src/modules/authProvidersModule.ts
Due: prettier --write

chore: remove dockerfile syntax (#3037)
  .rhdh/docker/Dockerfile
  docker/Dockerfile
Due: none

chore(timeout): set 12hr timeout for arm64 builds so they don't crap out after 6hr default timeout (RHIDP-7906) [skip-build] (#3036)
  .github/workflows/next-build-image.yaml
Due: prettier --write

chore(ci): run update-docs workflow only on main and release branches (#3032)
  .github/workflows/update-versions.yaml
Due: prettier --write

chore: add default configs for msgraph dynamic plugin (#3006)
  dynamic-plugins.default.yaml
Due: prettier --write

fix: followup of the `1.39.1` upgrade to finally adopt the `0.7.0` version of `@backstage/backend-dynamic-feature-service` and adapt to new behavior (#3040)
  .yarn/patches/@backstage-backend-dynamic-feature-service-npm-0.7.0-d75453687b.patch
  package.json
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/backend/src/loader/CommonJSModuleLoader.ts
  packages/backend/src/loader/index.ts
  plugins/dynamic-plugins-info-backend/package.json
  plugins/scalprum-backend/package.json
  yarn.lock
Due: prettier --write

fix(extensions): allow service to call /loaded-plugins (#3017)
  plugins/dynamic-plugins-info-backend/src/service/router.ts
  plugins/dynamic-plugins-info/src/components/InternalPluginsMap.ts
Due: none

test(e2e): update TODO comments to reference new issue RHIDP-7869 for skipped tests (#3028)
  e2e-tests/playwright/e2e/verify-tls-config-health-check.spec.ts
Due: none

chore(e2e): Topology pipeline test fix (#3001)
  e2e-tests/playwright/e2e/plugins/topology/topology.spec.ts
Due: none

test: move github happy path tests to the main e2e job (#3033)
  .ibm/pipelines/auth/secrets-rhdh-secrets.yaml
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/resources/config_map/app-config-rhdh.yaml
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
  e2e-tests/playwright/support/testData/resources.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore: update @roadiehq/scaffolder-backend-module-http-request (#3049)
  dynamic-plugins/wrappers/roadiehq-scaffolder-backend-module-http-request-dynamic/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

chore(e2e): skip tekton pipelines test (#3067)
  .ibm/pipelines/utils.sh
  e2e-tests/playwright/e2e/plugins/tekton/tekton.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology.spec.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(config): add orchestrator plugin to dynamic-plugins.default.yaml (#3016)
  dynamic-plugins.default.yaml
  dynamic-plugins/_utils/src/wrappers.test.ts
Due: prettier --write

RHIDP-8042 Create Azure Policy to Enforce Default Tags for RHDH QE Subscription (#3078)
  .ibm/pipelines/cluster/aks/auto-label/create-azure-tag-policy.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(e2e): select the last matched droute pod (#3075)
  .ibm/pipelines/utils.sh
  e2e-tests/playwright/e2e/plugins/tekton/tekton.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology.spec.ts
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(deps): bump @red-hat-developer-hub plugins to 1.39.1 (#3027)
  .ibm/pipelines/resources/config_map/app-config-rhdh.yaml
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-bulk-import/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-catalog-backend-module-marketplace-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-dynamic-home-page/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-global-floating-action-button/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-marketplace/package.json
  dynamic-plugins/yarn.lock
  e2e-tests/playwright/e2e/extensions.spec.ts
  e2e-tests/playwright/support/pages/bulk-import.ts
Due: prettier --write

RHIDP-8040 Automate IBM Cloud OpenShift Cluster Creation with Tagging Support (#3072)
  .ibm/pipelines/cluster/ibm/create-openshift-cluster.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(deps): bump third party plugins to 1.39.1 (#3026)
  catalog-entities/marketplace/packages/immobiliarelabs-backstage-plugin-gitlab-backend.yaml
  catalog-entities/marketplace/packages/immobiliarelabs-backstage-plugin-gitlab.yaml
  catalog-entities/marketplace/packages/pagerduty-backstage-plugin-backend.yaml
  catalog-entities/marketplace/packages/pagerduty-backstage-plugin.yaml
  catalog-entities/marketplace/packages/parfuemerie-douglas-scaffolder-backend-module-azure-repositorie.yaml
  catalog-entities/marketplace/packages/roadiehq-backstage-plugin-argo-cd-backend.yaml
  catalog-entities/marketplace/packages/roadiehq-backstage-plugin-datadog.yaml
  catalog-entities/marketplace/packages/roadiehq-backstage-plugin-github-insights.yaml
  catalog-entities/marketplace/packages/roadiehq-backstage-plugin-github-pull-requests.yaml
  catalog-entities/marketplace/packages/roadiehq-backstage-plugin-jira.yaml
  catalog-entities/marketplace/packages/roadiehq-backstage-plugin-security-insights.yaml
  catalog-entities/marketplace/packages/roadiehq-scaffolder-backend-argocd.yaml
  catalog-entities/marketplace/packages/roadiehq-scaffolder-backend-module-http-request.yaml
  catalog-entities/marketplace/packages/roadiehq-scaffolder-backend-module-utils.yaml
  dynamic-plugins/wrappers/immobiliarelabs-backstage-plugin-gitlab-backend-dynamic/package.json
  dynamic-plugins/wrappers/immobiliarelabs-backstage-plugin-gitlab/package.json
  dynamic-plugins/wrappers/pagerduty-backstage-plugin-backend-dynamic/package.json
  dynamic-plugins/wrappers/pagerduty-backstage-plugin/package.json
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-argo-cd-backend-dynamic/package.json
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-datadog/package.json
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-github-insights/package.json
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-github-pull-requests/package.json
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-jira/package.json
  dynamic-plugins/wrappers/roadiehq-backstage-plugin-security-insights/package.json
  dynamic-plugins/wrappers/roadiehq-scaffolder-backend-argocd-dynamic/package.json
  dynamic-plugins/wrappers/roadiehq-scaffolder-backend-module-utils-dynamic/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

feat(adoption-insights): add wrapper for adoption insights (#3035)
  app-config.dynamic-plugins.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-analytics-provider-segment.yaml
  dynamic-plugins.default.yaml
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-adoption-insights-backend-dynamic/.eslintignore
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-adoption-insights-backend-dynamic/.eslintrc.js
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-adoption-insights-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-adoption-insights-backend-dynamic/src/index.ts
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-adoption-insights-backend-dynamic/tsconfig.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-adoption-insights-backend-dynamic/turbo.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-adoption-insights/.eslintignore
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-adoption-insights/.eslintrc.js
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-adoption-insights/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-adoption-insights/src/index.ts
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-adoption-insights/tsconfig.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-adoption-insights/turbo.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-analytics-module-adoption-insights-dynamic/.eslintignore
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-analytics-module-adoption-insights-dynamic/.eslintrc.js
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-analytics-module-adoption-insights-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-analytics-module-adoption-insights-dynamic/src/index.ts
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-analytics-module-adoption-insights-dynamic/tsconfig.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-analytics-module-adoption-insights-dynamic/turbo.json
  dynamic-plugins/yarn.lock
  plugins/dynamic-plugins-info/src/components/InternalPluginsMap.ts
Due: prettier --write

chore(feat): sealight integration with openshifit-ci ocp job (#2890)
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/utils.sh
  e2e-tests/package.json
  e2e-tests/yarn.lock
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(config): upgrade orchestrator plugin to 1.6.0 (#3076)
  dynamic-plugins.default.yaml
Due: prettier --write

add default msgraph envs (#3077)
  e2e-tests/playwright/e2e/authProviders/microsoft.spec.ts
Due: none

chore(deps): bump @backstage plugins to 1.39.1 (#3022)
  dynamic-plugins/wrappers/backstage-plugin-catalog-backend-module-bitbucket-cloud-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-catalog-backend-module-bitbucket-server-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-catalog-backend-module-bitbucket-server-dynamic/src/index.ts
  dynamic-plugins/wrappers/backstage-plugin-catalog-backend-module-github-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-catalog-backend-module-github-org-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-catalog-backend-module-gitlab-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-catalog-backend-module-gitlab-org-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-catalog-backend-module-ldap-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-catalog-backend-module-msgraph-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-kubernetes-backend-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-kubernetes/package.json
  dynamic-plugins/wrappers/backstage-plugin-notifications-backend-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-notifications-backend-module-email-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-notifications/package.json
  dynamic-plugins/wrappers/backstage-plugin-scaffolder-backend-module-azure-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-scaffolder-backend-module-bitbucket-cloud-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-scaffolder-backend-module-bitbucket-server-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-scaffolder-backend-module-gerrit-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-scaffolder-backend-module-github-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-scaffolder-backend-module-gitlab-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-signals-backend-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-signals/package.json
  dynamic-plugins/wrappers/backstage-plugin-techdocs-backend-dynamic/package.json
  dynamic-plugins/wrappers/backstage-plugin-techdocs-module-addons-contrib/package.json
  dynamic-plugins/wrappers/backstage-plugin-techdocs/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

chore: remove rhdh-bot chart references (#3090)
  .ibm/pipelines/env_variables.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(deps): move from cmake 3.26.5 installed by RPM, which depends on Python 3.9, to cmake 4.0.3, installed via pip (which has no Python 3.9 dep \o/) (#3066)
  .rhdh/docker/Dockerfile
  docker/Dockerfile
  python/requirements-build.in
  python/requirements-build.txt
  python/requirements.in
  python/requirements.txt
Due: none

chore(release): fix name of tasks in next-build-image.yaml (RHIDP-7906) [skip-build] (#3044)
  .github/workflows/next-build-image.yaml
Due: prettier --write

RHIDP-8041 Automate Tag Application for GCP Kubernetes Clusters (#3073)
  .ibm/pipelines/cluster/gke/auto-label/README.md
  .ibm/pipelines/cluster/gke/auto-label/apply-labels-manual.sh
  .ibm/pipelines/cluster/gke/auto-label/deploy-auto-labeler.sh
  .ibm/pipelines/cluster/gke/auto-label/index.js
  .ibm/pipelines/cluster/gke/auto-label/package.json
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Update topology.spec.ts (#3084)
  e2e-tests/playwright/e2e/plugins/topology/topology.spec.ts
Due: none

chore: fix next-build-image.yaml - unique step refs for BOTH the meta and inspection steps (though why we need this inspection step is beyond me) (#3047)
  .github/workflows/next-build-image.yaml
Due: prettier --write

chore: update homepage plugin wrapper (#2996)
  dynamic-plugins.default.yaml
  e2e-tests/playwright/e2e/verify-tls-config-with-external-postgres-db.spec.ts
Due: prettier --write

chore(e2e): rhidp-7981 [Test Automation] Fix sanity-plugins nightly tests (#3061)
  .ibm/pipelines/value_files/diff-values_showcase-sanity-plugins.yaml
Due: prettier --write

chore(deps): update the catalog entities to match version updates (#3070)
  catalog-entities/marketplace/packages/backstage-plugin-catalog-backend-module-bitbucket-cloud.yaml
  catalog-entities/marketplace/packages/backstage-plugin-catalog-backend-module-bitbucket-server.yaml
  catalog-entities/marketplace/packages/backstage-plugin-catalog-backend-module-github-org.yaml
  catalog-entities/marketplace/packages/backstage-plugin-catalog-backend-module-github.yaml
  catalog-entities/marketplace/packages/backstage-plugin-catalog-backend-module-gitlab-org.yaml
  catalog-entities/marketplace/packages/backstage-plugin-catalog-backend-module-gitlab.yaml
  catalog-entities/marketplace/packages/backstage-plugin-catalog-backend-module-ldap.yaml
  catalog-entities/marketplace/packages/backstage-plugin-catalog-backend-module-msgraph.yaml
  catalog-entities/marketplace/packages/backstage-plugin-kubernetes-backend.yaml
  catalog-entities/marketplace/packages/backstage-plugin-kubernetes.yaml
  catalog-entities/marketplace/packages/backstage-plugin-notifications-backend-module-email.yaml
  catalog-entities/marketplace/packages/backstage-plugin-notifications-backend.yaml
  catalog-entities/marketplace/packages/backstage-plugin-notifications.yaml
  catalog-entities/marketplace/packages/backstage-plugin-scaffolder-backend-module-azure.yaml
  catalog-entities/marketplace/packages/backstage-plugin-scaffolder-backend-module-bitbucket-cloud.yaml
  catalog-entities/marketplace/packages/backstage-plugin-scaffolder-backend-module-bitbucket-server.yaml
  catalog-entities/marketplace/packages/backstage-plugin-scaffolder-backend-module-gerrit.yaml
  catalog-entities/marketplace/packages/backstage-plugin-scaffolder-backend-module-github.yaml
  catalog-entities/marketplace/packages/backstage-plugin-scaffolder-backend-module-gitlab.yaml
  catalog-entities/marketplace/packages/backstage-plugin-signals-backend.yaml
  catalog-entities/marketplace/packages/backstage-plugin-signals.yaml
  catalog-entities/marketplace/packages/backstage-plugin-techdocs-backend.yaml
  catalog-entities/marketplace/packages/backstage-plugin-techdocs-module-addons-contrib.yaml
  catalog-entities/marketplace/packages/backstage-plugin-techdocs.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-bulk-import-backend.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-bulk-import.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-catalog-backend-module-m.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-dynamic-home-page.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-global-floating-action-b.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-global-header.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-marketplace-backend.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-marketplace.yaml
Due: prettier --write

chore(deps): add scikit-build-core>=0.10 requirement for downstream cmake (RHIDP-6956) (#3074)
  python/requirements-build.in
  python/requirements-build.txt
  python/requirements.in
  python/requirements.txt
Due: none

Introduce contrib techdocs addons (#3048)
  catalog-entities/marketplace/packages/backstage-plugin-techdocs-module-addons-contrib.yaml
  catalog-entities/marketplace/plugins/all.yaml
  catalog-entities/marketplace/plugins/contrib-techdocs-addons.yaml
Due: prettier --write

feat: support both light and dark logo variants (#3023)
  .ibm/pipelines/resources/config_map/app-config-rhdh.yaml
  app-config.dynamic-plugins.yaml
  app-config.example.production.yaml
  app-config.example.yaml
  app-config.production.yaml
  app-config.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-global-header.yaml
  docs/customization.md
  dynamic-plugins.default.yaml
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-global-header/package.json
  dynamic-plugins/yarn.lock
  e2e-tests/playwright/e2e/custom-theme.spec.ts
  e2e-tests/playwright/support/testData/custom-theme.ts
  packages/app/config.d.ts
  packages/app/package.json
  packages/app/public/index.html
  packages/app/src/components/CustomIcons/DeveloperHub.tsx
  packages/app/src/components/DynamicRoot/CommonIcons.tsx
  packages/app/src/components/Root/ConfigUpdater.tsx
  packages/app/src/components/Root/LogoFull.tsx
  packages/app/src/components/Root/LogoIcon.tsx
  packages/app/src/components/Root/Root.tsx
  packages/app/src/components/Root/SidebarLogo.test.tsx
  packages/app/src/components/Root/SidebarLogo.tsx
  packages/app/src/hooks/useThemedConfig.ts
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: (any of: .ibm/**/*.sh) or (any of: *.{json,md,yaml,yml})
  cd .ibm && shellcheck --severity=warning --color=always: any of: .ibm/**/*.sh
