Repository redhat-developer/rhdh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

.lintstagedrc.json:

{
  ".ibm/**/*.sh": [
    "prettier --write",
    "cd .ibm && shellcheck --severity=warning --color=always"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

resolved rebase conflicts
  dynamic-plugins/yarn.lock
Due: none

chore(deps): updated bcp plugin version in catalog entities
  catalog-entities/marketplace/packages/backstage-community-plugin-3scale-backend.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-acr.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-analytics-provider-segment.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-github-actions.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-github-issues.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-nexus-repository-manager.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-ocm-backend.yaml
  catalog-entities/marketplace/packages/backstage-community-plugin-ocm.yaml
Due: prettier --write

Fix
  .ibm/pipelines/jobs/upgrade.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

chore(e2e): update major version
  .ibm/pipelines/env_variables.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Fix
  .ibm/pipelines/jobs/auth-providers.sh
  .ibm/pipelines/jobs/ocp-nightly.sh
  .ibm/pipelines/utils.sh
Due: prettier --write, cd .ibm && shellcheck --severity=warning --color=always

Update OWNERS - remove dominika and mitesh as default reviewers
  OWNERS
Due: none

chore: disable flaky tests
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology.spec.ts
Due: none

remove dynamic-plugins-info plugin and fix React import warnings
  .dockerignore
  .rhdh/docker/Dockerfile
  .sonarcloud.properties
  CONTRIBUTING.md
  docker/Dockerfile
  e2e-tests/playwright/e2e/plugins/dynamic-plugins-info/dynamic-plugins-info.spec.ts
  e2e-tests/playwright/utils/analytics/analytics.ts
  packages/app/src/components/Root/ApplicationHeaders.tsx
  packages/app/src/components/Root/ApplicationListener.tsx
  packages/app/src/components/Root/ApplicationProvider.tsx
  packages/app/src/components/catalog/EntityPage/ContextMenuAwareEntityLayout.tsx
Due: prettier --write

updated default marketplace config
  dynamic-plugins.default.yaml
Due: prettier --write

fixed lint issue
  packages/app/src/components/Root/ApplicationListener.tsx
  packages/app/src/components/Root/ApplicationProvider.tsx
Due: none

updated yarn.lock
  yarn.lock
Due: none

fixed prettier issue
  packages/app/CHANGELOG.md
  packages/backend/CHANGELOG.md
Due: prettier --write

fixed prettier issues
  packages/app/CHANGELOG.md
  packages/app/src/components/Root/ApplicationHeaders.tsx
  packages/backend/CHANGELOG.md
Due: prettier --write

resolved rebase conflicts
  yarn.lock
Due: none

feat(ui): add initial support for backstage ui (plugins), unthemed
  packages/app-next/package.json
  packages/app-next/src/index.tsx
  packages/app/package.json
  packages/app/src/bootstrap.tsx
  yarn.lock
Due: prettier --write

fix scorecard-test
  e2e-tests/playwright/e2e/plugins/scorecard/scorecard.spec.ts
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

fix prettier
  e2e-tests/playwright/utils/ui-helper.ts
Due: none

updating default configuration
  dynamic-plugins.default.yaml
Due: prettier --write

bump adoption insights plugin versions
  dynamic-plugins.default.yaml
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-adoption-insights-backend-dynamic/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-adoption-insights/package.json
  dynamic-plugins/wrappers/red-hat-developer-hub-backstage-plugin-analytics-module-adoption-insights-dynamic/package.json
  dynamic-plugins/yarn.lock
  e2e-tests/playwright/e2e/plugins/adoption-insights/adoption-insights.spec.ts
Due: prettier --write

fix adoption insights e2e test
  e2e-tests/playwright/e2e/plugins/adoption-insights/adoption-insights.spec.ts
Due: none

fix adoption insights e2e tests
  e2e-tests/playwright/e2e/plugins/adoption-insights/adoption-insights.spec.ts
Due: none

feat(localization): add localization support for entityTabs
  dynamic-plugins.default.yaml
  packages/app/src/components/DynamicRoot/DynamicRoot.tsx
  packages/app/src/components/catalog/EntityPage/DynamicEntityTab.tsx
  packages/app/src/components/catalog/EntityPage/EntityPage.tsx
  packages/app/src/translations/rhdh/de.ts
  packages/app/src/translations/rhdh/es.ts
  packages/app/src/translations/rhdh/fr.ts
  packages/app/src/translations/rhdh/it.ts
  packages/app/src/translations/rhdh/ref.ts
  packages/app/src/utils/dynamicUI/extractDynamicConfig.ts
  packages/plugin-utils/src/types.ts
Due: prettier --write

Update all marketplace plugin support fields to object structure
  catalog-entities/marketplace/plugins/adoption-insights.yaml
Due: prettier --write

updating plugins.yaml using sheet
  catalog-entities/marketplace/plugins/adoption-insights.yaml
Due: prettier --write

E2E: Remove Verified Badge and Introduce Transparent Plugin Support Indicators
  e2e-tests/playwright/e2e/extensions.spec.ts
  e2e-tests/playwright/support/pages/extensions.ts
Due: none

translating default tab
  packages/app/src/components/catalog/EntityPage/defaultTabs.tsx
  packages/app/src/translations/rhdh/de.ts
  packages/app/src/translations/rhdh/es.ts
  packages/app/src/translations/rhdh/fr.ts
  packages/app/src/translations/rhdh/it.ts
  packages/app/src/translations/rhdh/ref.ts
Due: none

test fix
  e2e-tests/playwright/e2e/plugins/adoption-insights/adoption-insights.spec.ts
  e2e-tests/playwright/support/pages/adoption-insights.ts
Due: none

removing translation ref from default
  dynamic-plugins.default.yaml
  packages/app/src/components/catalog/EntityPage/EntityPage.tsx
Due: prettier --write

moving prefix of key from app to catalog
  dynamic-plugins.default.yaml
  packages/app/src/components/catalog/EntityPage/defaultTabs.tsx
  packages/app/src/translations/rhdh/de.ts
  packages/app/src/translations/rhdh/es.ts
  packages/app/src/translations/rhdh/fr.ts
  packages/app/src/translations/rhdh/it.ts
  packages/app/src/translations/rhdh/ref.ts
Due: prettier --write

fixing buld fail
  packages/app/src/components/catalog/EntityPage/DiagramTabContent.tsx
Due: none

chore(deps): bump tekton plugin version
  dynamic-plugins.default.yaml
  dynamic-plugins/wrappers/backstage-community-plugin-tekton/package.json
  dynamic-plugins/yarn.lock
Due: prettier --write

ignore scorecrad test
  e2e-tests/playwright.config.ts
Due: none

chore(e2e): link Jira to fixme tests
  e2e-tests/playwright/e2e/github-happy-path.spec.ts
  e2e-tests/playwright/e2e/plugins/rbac/rbac.spec.ts
  e2e-tests/playwright/e2e/plugins/topology/topology.spec.ts
Due: none

Update lightspeed.yaml
  catalog-entities/marketplace/plugins/lightspeed.yaml
Due: prettier --write

[RHDHPAI-1142] feat(mcp-tools): Add marketplace entry for MCP tools in RHDH
  catalog-entities/marketplace/packages/all.yaml
  catalog-entities/marketplace/packages/backstage-plugin-mcp-actions-backend.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-software-catalog-mcp-tool.yaml
  catalog-entities/marketplace/packages/red-hat-developer-hub-backstage-plugin-techdocs-mcp-tool.yaml
  catalog-entities/marketplace/plugins/all.yaml
  catalog-entities/marketplace/plugins/mcp-tools.yaml
Due: prettier --write

Set pre-installed to false, fix oci plugin refs
  catalog-entities/marketplace/plugins/mcp-tools.yaml
Due: prettier --write

trying by passing titleKey in scorecard
  .ibm/pipelines/value_files/values_showcase-rbac.yaml
Due: prettier --write
